

.rm-borders{
  border-top: none !important;
}

mat-radio-button {
  display: block;
}

.btn-success-over {
  &:hover {
    background-color: #0CC27E !important;
    border-color: #0CC27E;
    color: #fff !important;
  }
}
.modal-dialog {
    max-width: 98% !important;
}

.btn-danger-over {
  &:hover {
    background-color: #f9423a !important;
    border-color: #f9423a;
    color: #fff !important;
  }
}

:host /deep/ .popover .popover-header{
  background-color: #f9423a;
  border-color: #f9423a;
  color: white;
}
:host /deep/ .popover-body > p > a{
  color: #f9423a;
}

:host /deep/ .nav-link.active {
  color: #f9423a !important;
}

:host /deep/ .nav-link {
  color: #f9423a !important;
}
:host /deep/ .nav-link.active {
  color: black !important;
}


@media (max-width: 1020px) {
  .list-group-item{
    padding: 0.75rem 0.75rem;
  }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
    .card-columns2 {
        column-count: 2;
    }
    .list-group-item{
      padding: 0.75rem 0.75rem;
    }
}

@media (max-width: 530px) {
  .list-group-item{
    padding: 0.75rem 0.45rem;
  }
  .ml-2{
    margin-left: 0.35rem !important;
  }
}

@media (max-width: 487px) {
  .list-group-item{
    padding: 0.75rem 0.25rem;
  }
  .ml-2{
    margin-left: 0rem !important;
  }
}

@media (max-width: 410px) {
  .list-group-item{
    display: block !important;
  }
  .ml-2{
    float: right !important;
  }
}
