.background-img{
  min-height: 76vh !important;
  background-image: url("assets/img/home/background.jpg");
  background-position: center center;
  background-size: cover;
}

.gradient-custom{
  background-image: linear-gradient(45deg, #68aab842, #FFF) !important;
}

.card{
  background-color: #fffc !important;
}

.h-80{
  height: 80px;
}

  @media ( max-width: 575px ){
    
    .full-height-vh{
      height:auto !important;
    }
  }

  @media ( max-width: 449px ){
    .card-body{
      padding: 0rem;
    }
    .card h1.card-title{
      font-size: 1rem;
    }
    p {
      font-size: 0.9rem;
    }

    .mt-3{
      margin-top: 1rem !important;
    }

    .py-3{
      padding-top: 1rem !important;
    }
  }

  
  