<section id="login" class="mt-2" style="min-height: 75vh !important;">
  <div class="container-fluid">
    <div style="margin: auto;" style="margin: auto;">
      <div class="text-center p-2">
        <div class="section">
          <h2>{{'land.title' | translate }}</h2>
        </div>
      </div>
      <div class="row" [ngClass]="(topRelatedConditions.length>0)?'diffHeight':''">
        <div *ngIf="substepExtract=='0'" class="offset-xl-1 col-xl-5 mrbox shadow rounded light-background">
          <div class="row pt-2">
            <div class="col-md-12">
              <label class="btn btn-primary btn-raised"
                style="text-transform: none;letter-spacing: 0px;cursor: pointer;">
                <em class="fa fa-file mr-1"></em> {{'land.Extract symptom from document' | translate }} <input
                  type="file" (change)="onFileChangePDF($event);" style="display: none;" accept=".pdf, .docx, .jpg, .png, .gif, .tiff, .tif, .bmp, .dib, .bpg, .psd, .jpeg, .jpe, .jfif">
              </label>
              <textarea class="form-control" style="height:30vh;" [(ngModel)]="medicalText" name="medicalText"
                placeholder="{{'land.placeholder' | translate }}"></textarea>
              <a class="primary"
                href="https://docs.microsoft.com/es-es/azure/cognitive-services/translator/language-support"
                target="_blank" title="{{'land.availableLangs' | translate }}">{{'land.availableLangs' | translate }} <i
                  class="ft-external-link"></i></a>
            </div>
            <div class="col-md-12 text-center mt-2">
              <button type="button" class="btn btn-lg btn-secondary btn-raised"
                [attr.title]="(medicalText.length<5) ? getLiteral('land.placeholder') : getLiteral('land.Extract')"
                [ngClass]="(medicalText.length<5)?'not-allowed':'btn-primary'" [disabled]="medicalText.length<5"
                (click)="startExtractor();">{{'land.Extract' | translate }} <em class="ml-2 fas fa-play"></em></button>
            </div>
          </div>

        </div>
        <div *ngIf="substepExtract!='0'" class="offset-xl-1 col-xl-5 mrbox shadow rounded light-background" [ngClass]="(substepExtract!='4')?'d-flex':''">
            <div *ngIf="temporalSymptoms.length==0" class="mr-2 section w-100  mb-2 align-self-center">

              <span class="d-block pt-2 center-elements font-medium-3">{{'land.The symptoms found will be shown here' |
                translate }}</span>
              <span *ngIf="substepExtract!='0' && substepExtract!='4'" class="d-block pt-2 center-elements">
                <em class="fa fa-spinner fa-spin fa-3x fa-fw pink"></em>
                <span class="d-block overlay-text col-md-12 font-medium-3 mt-2">{{'land.Calculating' | translate
                  }}...</span>
                <span class="d-block font-medium-3 mt-1 pb-2">{{'land.pleaseWait' | translate }}</span>
              </span>

            </div>

          <div *ngIf="temporalSymptoms.length>0" class="row loadingPanel mt-0">
            <table class="col-md-12 table border-bottom mb-0">
              <thead>
                <tr>
                  <th id="headerTable">{{'land.SelectSymptoms' | translate }}
                    <em class="mt-1 fa fa-download grey float-right mr-2" title="{{'land.Download symptoms' | translate }}"
                      (click)="downloadSymptoms()" style="cursor: pointer;"></em>
                    <em class="mt-1 fas fa-copy grey float-right mr-2" title="{{'land.Copy symptoms' | translate }}"
                      (click)="copySymptoms()" style="cursor: pointer;"></em>
                    <em class="mt-1 fa fa-refresh grey float-right mr-2" title="{{'land.Start over' | translate }}"
                      (click)="restartInitVars()" style="cursor: pointer;"></em>
                  </th>
                </tr>
              </thead>
              <caption class="ml-2 text-muted d-block">
                <ng-template #rt let-r="result" let-t="term">
                  <strong title="{{r.name}}">{{ r.name}}</strong>
                  <span *ngIf="r.desc!=null" class="d-block" title="{{r.desc}}">{{ (r.desc.length>140)? (r.desc |
                    slice:0:140)+'...':(r.desc) }}</span>
                </ng-template>
                <div style="padding-top: 0.5rem !important;">
                  <i class="fas fa-search ml-1 mr-2"></i> <input #input style="width: 91%;display: inline;"
                    type="text" class="form-control ml-1" [(ngModel)]="modelTemp" [ngbTypeahead]="searchSymptom"
                    [resultTemplate]="rt" [inputFormatter]="formatter1"
                    placeholder="{{'symptomssection.manualinput' | translate }}" (selectItem)="selected($event)" />
                </div>
              </caption>
            </table>
            <table class="table mb-0 table-wrapper-scroll-y my-custom-scrollbar bg-white">
              <tbody>
                <tr *ngFor="let hpo of temporalSymptoms ; let i = index">
                  <td>
                    <span>
                      <span class="float-right ml-1">
                        <button (click)="changeStateSymptom(i, true)" class="btn btn-sm mr-1 mb-0 btn-fab round"
                          [ngClass]="(hpo.checked==true)?'btn-success':'btn-secondary '"
                          href="javascript:void(0)" title="{{'phenotype.Click to check it' | translate }}">
                          <em class="fa fa-check w-13"></em>
                        </button>
                        <button (click)="changeStateSymptom(i, false)" class="btn btn-sm mr-1 mb-0 btn-fab round"
                          [ngClass]="(hpo.checked==false)?'btn-danger':'btn-secondary'"
                          href="javascript:void(0)" title="{{'phenotype.Click to uncheck it' | translate }}">
                          <em class="fa fa-times w-13"></em>
                        </button>
                      </span>
                      <span>
                        <button (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomNcr);" class="btn-outline-info btn btn-sm mr-1 mb-0 btn-fab round"
                        title="{{'generics.More information' | translate }} ({{hpo.id}})">
                          <em class="fa fa-info w-13"></em>
                        </button>
                        <span class="ml-1 custom-bold">{{hpo.name}}</span>
                        
                        <!--<span class="d-block">
                          <span *ngIf="hpo.def!=null" style="font-size: 0.925rem;" class="mr-1 text-muted"
                            title="{{hpo.def}}">{{ (hpo.def.length>100)? (hpo.def | slice:0:100)+'...':(hpo.def)
                            }}</span>
                          <span *ngIf="hpo.def==null && hpo.comment!=null" style="font-size: 0.925rem;"
                            class="mr-1 text-muted" title="{{hpo.comment}}">{{ (hpo.comment.length>100)? (hpo.comment |
                            slice:0:100)+'...':(hpo.comment) }}</span>
                        </span>-->
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <span class="col-md-12 p-2 border-top" style="height: 83px;background-color: #e5e5e5;">
              <span>
                <span>
                  {{'land.You have selected' | translate }} {{numberOfSymtomsChecked}} {{'land.symptom' | translate
                  }}<span *ngIf="numberOfSymtomsChecked!=1">s</span> {{'land.out of' | translate }}
                  {{temporalSymptoms.length}}
                </span>
                <span *ngIf="numberOfSymtomsChecked<minSymptoms" class="danger d-block">
                  {{'land.You must select at least' | translate }} {{minSymptoms}} {{'land.symptom' | translate }}s
                  {{'land.in order to continue' | translate }}
                </span>
              </span>
            </span>
          </div>


        </div>
        <div class="col-xl-5 row light-background rounded loadingPanel ml-2 shadow"
          [ngClass]="(!loadingCalculate && topRelatedConditions.length>0)?'row':'border'">
          <div *ngIf="!loadingCalculate && topRelatedConditions.length==0"
            class="section w-100 pt-1 pl-2 mb-2 align-self-center">
            <span class="d-block pt-2 center-elements font-medium-3">{{'land.Suggested diseases will be shown here' |
              translate }}</span>
            <div class="col-md-12 center-elements mt-4" *ngIf="substepExtract!='0'">
              <button type="button" class="btn btn-secondary btn-lg btn-raised pb-2 font-medium-3"
                (click)="calculate();" [disabled]="numberOfSymtomsChecked<minSymptoms"
                [attr.title]="(numberOfSymtomsChecked<minSymptoms) ? getLiteral('land.You need to select more symptoms') : getLiteral('land.See suggested diseases')"
                [ngClass]="(numberOfSymtomsChecked<minSymptoms)?'not-allowed':'btn-primary'">
                <span>{{'land.See suggested diseases' | translate }}</span>
                <span *ngIf="numberOfSymtomsChecked<minSymptoms" class="d-block font-small-3">
                  {{'land.You have selected' | translate }} {{numberOfSymtomsChecked}} {{'land.symptom' | translate
                  }}<span *ngIf="numberOfSymtomsChecked!=1">s</span>
                  <span class="d-block">
                    {{'land.You must select at least' | translate }} {{minSymptoms}} {{'land.symptom' | translate }}s
                    {{'land.in order to continue' | translate }}
                  </span>
                </span>
              </button>
            </div>
          </div>
          <div *ngIf="loadingCalculate && substepExtract!='0'" class="col-md-12 align-self-center center-elements">
            <em class="fa fa-spinner fa-spin fa-3x fa-fw pink"></em>
            <p class="d-block overlay-text col-md-12 font-medium-3 mt-2">{{'land.Calculating' | translate }}...</p>
            <p class="d-block font-medium-3 mt-1">{{'land.pleaseWait' | translate }}
            </p>
          </div>

          <div *ngIf="substepExtract!='0' && !loadingCalculate" class="section row maintxt">
            <span *ngIf="topRelatedConditions.length>0">
              <table class="col-md-12 table border-bottom mb-0 bg-white">
                <thead>
                  <tr>
                    <th id="headerTable">{{'land.Diseases' | translate }}
                      <em class="mt-1 fa fa-download grey float-right mr-2" title="{{'land.Download results' | translate }}"
                        (click)="downloadResults()" style="cursor: pointer;"></em>
                      <em class="mt-1 fas fa-share-alt grey float-right mr-2" title="{{'land.Send results' | translate }}"
                        (click)="sendEmail()" style="cursor: pointer;"></em>
                      <em class="mt-1 fa fa-refresh grey float-right mr-2" title="{{'Recalculate diseases' | translate }}"
                        (click)="calculate()" style="cursor: pointer;"></em>
                    </th>
                  </tr>
                </thead>
                <caption class="ml-2 text-muted d-block">
                  <span>{{'land.DescDiseases' | translate }}</span>
                  <span class="d-block">{{'land.InfoDescDiseases' | translate }}<em class="fa fa-refresh primary ml-1"
                      title="{{'Recalculate diseases' | translate }}" (click)="calculate()"
                      style="cursor: pointer;"></em></span>
                </caption>
              </table>
              <table class="table mb-0 bg-white">
                <tbody>
                  <tr *ngFor="let disease of topRelatedConditions ; let i = index" class="d-flex">
                    <td class="col-md-12" id="{{disease.Id}}">
                      <button class="btn-outline-info btn btn-sm mr-1 mb-0 btn-fab round"
                      (click)="showMoreInfoDiseasePopup(i, contentInfoDisease);"
                      title="{{'generics.More information' | translate }} ({{disease.Id}})">
                          <em class="fa fa-info w-13"></em>
                        </button>
                      <span class="custom-bold ml-1">{{disease.name}}</span>
                      <!--<span *ngIf="disease.desc!=null" class="text-muted d-block" style="font-size: 0.925rem;">{{
                        (disease.desc.length>160)? (disease.desc | slice:0:160)+'...':(disease.desc) }}</span>
                      <span *ngIf="disease.desc==null" class="text-muted d-block"
                        style="font-size: 0.925rem;">{{'land.We have no description for this disease' | translate
                        }}
                      </span>-->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                *ngIf="temporalDiseases.length>showNumerRelatedConditions && indexListRelatedConditions<temporalDiseases.length"
                class="d-block p-1 center-elements border-top" style="background-color: #e5e5e5;">
                <a href="javascript:;" class="btn btn-primary btn-raised font-medium-3 mt-1 mb-0" (click)="loadMore()">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span>{{'land.Load more diseases' | translate }}</span>
                  <i class="fas fa-arrow-up ml-2"></i>
                </a>
                <span class="d-block font-small-3">{{'land.There are' | translate }} {{totalDiseasesLeft}}
                  {{'land.remaining not shown in the table' | translate }}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="text-center p-2">
        <span>
          {{'land.If you want to know how Dx29' | translate }}
          <a (click)="showInfoDx29(contentInfoDx29);" title="Dx29 y sus resultados"> {{'land.here' | translate }}</a>
        </span>
      </div>
      <div *ngIf="topRelatedConditions.length>0" class="border-top row mt-4 text-center pt-4"
        style="background-color: #fff;">
        <div class="col-md-12">
          <div class="section2">
            <h3>{{'land.What now' | translate }}</h3>
            <p>{{'land.This was just an appetizer' | translate }}</p>
            <div class="mb-4 p-2">
              <a class="btn btn-lg btn-danger mr-1 btn-raised mb-0 btn-navbar"
                href="https://app.dx29.ai/Identity/Account/Register">{{'login.Create User' |
                translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #contentInfoSymptomNcr let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4>{{temporalSymptoms[selectedInfoSymptomIndex].name }} - {{temporalSymptoms[selectedInfoSymptomIndex].id }}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2" id="idBody">
    <div class="row col-md-12" class="p-2">
      <span
        *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def!=null || temporalSymptoms[selectedInfoSymptomIndex].comment!=''">
        <h5><strong>{{'generics.Description' | translate }}</strong></h5>
        <span
          *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def!=null">{{temporalSymptoms[selectedInfoSymptomIndex].def}}
        </span>
        <span
          *ngIf="temporalSymptoms[selectedInfoSymptomIndex].comment!=''">{{temporalSymptoms[selectedInfoSymptomIndex].comment}}</span>
      </span>
      <span
        *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def==null && temporalSymptoms[selectedInfoSymptomIndex].comment==''">
        <h5><strong>{{'generics.Description' | translate }}</strong></h5>
        <span> {{'symptomssection.No description' | translate }} </span>
      </span>
    </div>

    <div *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms!=undefined" class="p-2">
      <h5><strong>{{'generics.Synonyms' | translate }}</strong></h5>
      <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms.length>0">
        <p *ngFor="let synonym of temporalSymptoms[selectedInfoSymptomIndex].synonyms ; let j = index"
          [ngClass]="(j==temporalSymptoms[selectedInfoSymptomIndex].synonyms.length-1)?'mb-0':''">
          <span>{{j+1}}. </span> <span *ngIf="synonym.label">{{synonym.label}}</span> <span
            *ngIf="!synonym.label">{{synonym}}</span>
        </p>
      </span>
      <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms.length==0">
        {{'symptomssection.No synonyms' | translate }}
      </span>
    </div>
    <div class="p-2">
      <h5><strong>{{'land.Where did we get this symptom from' | translate }}</strong></h5>
      <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].inputType=='manual'">
        {{'land.The symptom was added manually' | translate }}
      </span>
      <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].inputType=='ncr'">
        <span *ngFor="let text of temporalSymptoms[selectedInfoSymptomIndex].text ; let j = index">
          <span *ngIf="(text.source && j== 0) && langToExtract==lang" class="mb-0">"{{text.source}}"</span>
          <span *ngIf="!text.source && j== 0 || langToExtract!=lang" class="mb-0">"{{text.text |
            slice:(text.positions[0]-40):(text.positions[0]-1)}} <b>{{text.text |
              slice:(text.positions[0]):(text.positions[1])}}</b> {{text.text |
            slice:(text.positions[1]+1):(text.positions[1]+40)}}"</span>
        </span>
        <div class="mt-2">
          <button *ngIf="!ncrResultView" type="button" class="btn btn-primary btn-raised mb-0"
            (click)="showCompleteNcrResultView(temporalSymptoms[selectedInfoSymptomIndex])">{{'patdiagdashboard.Show
            full text' | translate }}</button>
          <button *ngIf="ncrResultView" type="button" class="btn btn-primary btn-raised mb-0"
            (click)="showCompleteNcrResultView(null)">{{'patdiagdashboard.Hide full text' | translate }}</button>
        </div>
        <div *ngIf="ncrResultView">
          <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
            <button type="button" class="btn btn-primary btn-raised mb-0" (click)="goToTop()">Go top</button>
          </span>
          <div class="mt-2 text-center">
            <a id="initpos"></a>
            <div style="text-align: justify;" class="textExtractedNcr" [innerHTML]=resultTextNcrCopy></div>
          </div>
        </div>
      </span>
      <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].inputType=='ncrOld'">
        <div class="mt-2">
          <button *ngIf="!ncrResultView" type="button" class="btn btn-primary btn-raised mb-0"
            (click)="showCompleteNcrOldResultView(temporalSymptoms[selectedInfoSymptomIndex])">{{'patdiagdashboard.Show
            full text' | translate }}</button>
          <button *ngIf="ncrResultView" type="button" class="btn btn-primary btn-raised mb-0"
            (click)="showCompleteNcrOldResultView(null)">{{'patdiagdashboard.Hide full text' | translate }}</button>
        </div>
        <div *ngIf="ncrResultView">
          <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
            <button type="button" class="btn btn-primary btn-raised mb-0" (click)="goToTop()">Go top</button>
          </span>
          <div class="mt-2 text-center">
            <a id="initpos"></a>
            <div style="text-align: justify;" class="textExtractedNcr" [innerHTML]=resultTextNcrCopy></div>
          </div>
        </div>
      </span>
    </div>


  </div>
  <div class="modal-footer">
    <span>{{'land.See more information about the symptom' | translate }} <a
        href="https://hpo.jax.org/app/browse/term/{{temporalSymptoms[selectedInfoSymptomIndex].id}}" target="_blank"
        title=" {{temporalSymptoms[selectedInfoSymptomIndex].name}} ({{temporalSymptoms[selectedInfoSymptomIndex].id}}):">{{'land.here'
        | translate }}
        <i class="ft-external-link"></i></a></span>
  </div>
</ng-template>

<ng-template #contentInfoDisease let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4 class="text-bold-400 mb-0">{{ topRelatedConditions[selectedInfoDiseaseIndex].name }}
        <span *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].XRefs!=undefined" class="ml-1">
          <span *ngFor="let xref of topRelatedConditions[selectedInfoDiseaseIndex].XRefs ; let i = index">
            <a *ngIf="xref.name=='Orphanet'" class="primary"
              href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={{xref.id}}&lng={{lang}}" target="_blank"
              title="{{'generics.More Info' | translate }}"><i class="ft-external-link"></i></a>
            <a *ngIf="xref.name=='OMIM'" class="primary" href="https://omim.org/entry/{{xref.id}}" target="_blank"
              title="{{'generics.More Info' | translate }}"><i class="ft-external-link"></i></a>
            <span *ngIf="i<(topRelatedConditions[selectedInfoDiseaseIndex].XRefs.length-1)">, </span>
          </span>
        </span>
      </h4>
      <span class="content-sub-header text-muted">{{ topRelatedConditions[selectedInfoDiseaseIndex].Id }}</span>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <p *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].desc!=null">{{
      topRelatedConditions[selectedInfoDiseaseIndex].desc }}</p>

    <span *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Id == 'MONDO:0009688'">
      <button (click)="showInfoSponsored(contentInfoSponsored);" title="MYASTHENIA GRAVIS" class="btn btn-danger btn-raised">{{'land.Sponsor' | translate}} Miastenia Gravis (MG)</button>
    </span>
    <div *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms.length>0">
      <h5 class="text-bold-300 mb-0">{{'land.Symptom by symptom comparison' | translate }}</h5>
      <p class="text-muted">{{'land.Table showing' | translate }}</p>
      <table class="table table-striped mb-0 text-center">
        <thead>
          <tr class="d-flex">
            <th class="col-md-5 text-left" id="Name symptom">{{'land.Symptom' | translate }}</th>
            <th class="col-md-2" id="Frequent">{{'land.Frequency' | translate }}</th>
            <th class="col-md-2" id="Patient">{{'land.Patient' | translate }}</th>
            <th class="col-md-2" id="Disease">{{'land.Disease' | translate }}</th>
            <th class="col-md-1" id="Info">Info</th>
          </tr>
        </thead>
        <tbody style="max-height:inherit;">
          <tr *ngFor="let symptom of topRelatedConditions[selectedInfoDiseaseIndex].Symptoms ; let i = index"
            class="d-flex">
            <td class="col-md-5 text-left">
              <span *ngIf="symptom.Name">{{symptom.Name}}</span>
              <span *ngIf="symptom.Name" style="cursor: pointer;" class="ml-1 mt-1"
                (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomDisease);"
                title="{{'generics.More information' | translate }} ({{symptom.Id}})">
                {{symptom.id}} <em style="font-size: 1.3em;" class="ml-2 fa fa-info primary"></em>
              </span>
              <span *ngIf="!symptom.Name">
                {{symptom.Id}} ({{'phenotype.Deprecated' | translate}}) <a
                  href="https://hpo.jax.org/app/browse/term/{{symptom.Id}}" target="_blank" title="{{symptom.Id}}">
                  <i class="ft-external-link"></i></a></span>
            </td>
            <td class="col-md-2">
              <span title="{{symptom.Frequency.Desc}}"></span>{{symptom.Frequency.Name}}
            </td>
            <td class="col-md-2">
              <i *ngIf="symptom.HasPatient" class="fa fa-check success"></i>
              <i *ngIf="!symptom.HasPatient" class="fa fa-times danger"></i>
            </td>
            <td class="col-md-2">
              <i *ngIf="symptom.HasDisease" class="fa fa-check success"></i>
              <i *ngIf="!symptom.HasDisease" class="fa fa-times danger"></i>
            </td>
            <td class="col-md-1">
              <span *ngIf="symptom.HasPatient && symptom.HasDisease">
                <span *ngIf="symptom.Relationship == 'Equal'">
                  <i class="fas fa-info-circle info"
                    title="{{'land.Symptom observed in the patient and the disease' | translate }}"></i>
                </span>
                <span *ngIf="symptom.Relationship == 'Successor'">
                  <i class="fas fa-info-circle info"
                    title="{{'land.Symptom deduced in the patient because they also present' | translate }} {{symptom.RelatedName}}"></i>
                </span>
                <span *ngIf="symptom.Relationship == 'Predecessor'">
                  <i class="fas fa-info-circle info"
                    title="{{'land.Symptom observed in patient and disease' | translate }}"></i>
                </span>
              </span>
              <span *ngIf="symptom.HasPatient && !symptom.HasDisease">
                <i class="fas fa-info-circle info" title="{{'land.Symptom observed in the patient' | translate }}"></i>
              </span>
              <span *ngIf="!symptom.HasPatient && symptom.HasDisease">
                <i class="fas fa-info-circle info" title="{{'land.Symptom observed in the disease' | translate }}"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #contentInfoSymptomDisease let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4>{{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Name }} -
        {{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Id }}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <div class="row col-md-12" class="p-2">
      <span *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Desc!=null">
        <h5><strong>{{'generics.Description' | translate }}</strong></h5>
        <span>{{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Desc}} </span>
      </span>
      <span *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Desc==''">
        <h5><strong>{{'generics.Description' | translate }}</strong></h5>
        <span> {{'symptomssection.No description' | translate }} </span>
      </span>
    </div>
    <div *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms">
      <div *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms.length"
        class="p-2">
        <h5><strong>{{'generics.Synonyms' | translate }}</strong></h5>
        <span
          *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms.length>0">
          <p *ngFor="let synonym of topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms ; let j = index"
            [ngClass]="(j==topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms.length-1)?'mb-0':''">
            <span>{{j+1}}. </span> <span>{{synonym.label}}</span>
          </p>
        </span>
        <span
          *ngIf="topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms.length==0">
          {{'symptomssection.No synonyms' | translate }}
        </span>
      </div>
    </div>
    <div *ngIf="!topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].synonyms">
      <span>
        {{'symptomssection.No synonyms' | translate }}
      </span>
    </div>

  </div>
  <div class="modal-footer">
    <span>{{'land.See more information about the symptom' | translate }} <a
        href="https://hpo.jax.org/app/browse/term/{{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Id}}"
        target="_blank"
        title=" {{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].name}} ({{topRelatedConditions[selectedInfoDiseaseIndex].Symptoms[selectedInfoSymptomIndex].Id}}):">
        <i class="ft-external-link"></i></a></span>
  </div>
</ng-template>

<ng-template #contentInfoSponsored let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4>¿Conoces la miastenia gravis y a quién puede afectar?</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <p>
      La miastenia gravis es una enfermedad neuromuscular autoinmune (el cuerpo se ataca a sí mismo) cuya principal
      característica es la <strong>fatiga y la debilidad muscular</strong> de quien la padece. Es difícil pensar
      inicialmente en una miastenia ya que se caracteriza por una pérdida de fuerzas, pero se recuperan de forma rápida
      si se descansa, y reaparece al reiniciar un ejercicio.
    </p>
    <p>
      La miastenia es considerada una enfermedad rara, ya que solo afecta a una de cada 5.000 personas (unas
      <strong>10.000 en toda España</strong>), lo que no significa que sea importante. Pese a ser poco frecuente, suele
      aparecer, sobre todo, en las mujeres entre los 15 y los 35 años o bien a partir de los 60 años. En este último
      tramo de edad es donde se encuentran más de la mitad de los nuevos pacientes, un dato a tener en cuenta teniendo
      en cuenta el incremento constante de la esperanza de vida de la población.
    </p>
    <p>
      El origen de la miastenia gravis lo encontramos en un defecto que se produce en el sistema nervioso al transmitir
      los impulsos desde los nervios a los músculos. Se trata de un <strong>problema en la conexión</strong> entre las
      células nerviosas con los músculos asociados, es lo que se denomina la unión neuromuscular.
    </p>
    <p>
      Este proceso ocurre a partir de la acetilcolina, <strong>una sustancia neurotrasmisora</strong> que secretan las
      terminaciones nerviosas, que se une a unos receptores que hay en la membrana post-sináptica de la placa motora. En
      las personas con miastenia, los anticuerpos bloquean, alteran o destruyen esos receptores, por lo que la
      neurotransmisión no se completa y los músculos no llegan a contraerse.
    </p>
    <h5 class="mt-4">Diagnostico temprano</h5>
    <p>
      Los principales <strong>signos y síntomas de la miastenia gravis</strong> son la caída de uno o los dos párpados;
      visión nublada al tener debilidad en los músculos oculares; dificultad para deglutir alimentos, para hablar y
      respirar por debilidad de los músculos implicados; flojera en manos, brazos, dedos, piernas y cuello; dificultad
      para realizar gestos faciales (sonreir, cambiar de expresión); y dificultad para subir escaleras, entre otros.
    </p>
    <p>
      Es importante un diagnostico certero y temprano ya que hablamos de una enfermedad rara pero tratable. Para
      diagnosticarla se suelen emplear <strong>diferentes pruebas</strong> como un test farmacológico a base de la
      inyección de un anticolinesterásico, un estudio electrofiosiológico, o un test de estimulación repetitiva, una
      electromiografía de fibra aislada o un estudio de los anticuerpos específicos que interactúan en el desarrollo de
      esta patología: los AcRACh y los anti MuSK.
    </p>
    <p>
      El problema del diagnóstico de la miastenia gravis es que <strong>puede confundirse con otras patologías</strong>,
      por eso también es clave llevar a cabo un diagnóstico diferencial que permita descartar otras patologías como la
      ELA, miopatías mitocondriales, síndromes miasténicos congénitos o simples estados de fatiga emocional, entre
      otros.
    </p>
    <h5 class="mt-4">Asociación de Miastenia de España (AMES)</h5>
    <p>
      La parte más reconfortante es saber que casi todos los pacientes pueden reanudar una vida normal con el
      tratamiento adecuado, pero por eso es importante tener un diagnóstico temprano.
    </p>
    <p>
      Ese es uno de los caballos de batalla de la <strong>Asociación de Miastenia de España</strong> (<a
        href="https://miastenia.ong/" target="_blank" title="AMES">AMES <i class="ft-external-link"></i></a>), una
      entidad creada en 2009 con la misión de dar respuesta a las necesidades de las personas afectadas y sus
      familiares, ofreciendo ayuda e información para convivir con la enfermedad.
    </p>
    <p>
      En ese contexto, AMES ha puesto en marcha un proyecto de colaboración con el Colegio Luis Siret de Almería para es
      sensibilizar y acercar la realidad de esta enfermedad a los niños/as y al resto de la comunidad educativa. Dentro
      del proyecto ofrecen <strong>charlas y talleres de manualidades temáticos</strong> con la colaboración de
      distintos miembros de la comunidad educativa.
    </p>
    <p>
      Además, ha publicado un cuento sobre esta enfermedad, enfocado a acercar la enfermedad a los niños: <a
        href="https://cocoypipamiastenia.wordpress.com/" target="_blank" title="La historia de Coco y Pipa">La historia
        de Coco y Pipa <i class="ft-external-link"></i></a> que se ha convertido, también, en un blog en el que van
      publicando todas las iniciativas que desarrollan con este colegio.
    </p>
    <h5 class="mt-4">
      Otras asociaciones
    </h5>
    <p>
      <a href="https://www.facebook.com/groups/MyastheniaGravisFriends" target="_blank"
        title="MyastheniaGravisFriends">Myasthenia Gravis Friends <i class="ft-external-link"></i></a>
    </p>
  </div>
</ng-template>
<ng-template #contentInfoDx29 let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4>Como funciona Dx29 y la precisión de sus resultados</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <p>
      Nuestro algoritmo de cálculo de condiciones utiliza <a href="https://monarchinitiative.org" target="_blank" title="Monarch Initiative">Monarch Initiative <i class="ft-external-link"></i></a>. 
      Gracias a esto, somos capaces de analizar y procesar los síntomas que nos indiques y, en base a esta información, proponerte un listado de posibles diagnósticos.
    </p> 
    <p>
      Para ganarnos tu confianza, lo hemos puesto a prueba generando distintos escenarios posibles.
    </p>
    <p>
      Hemos realizado varias simulaciones del siguiente modo: 
    </p>
    <ol>
      <li>Hemos creado un listado de pacientes. Para una lista de aproximadamente 12000 diseases, basándonos en la información fenotípica que nos proporciona tanto Orphanet como OMIM de las mismas, conseguimos dos tipos de pacientes: 
        <ul>
          <li>Los ideales, cuyo fenotipado estará formado únicamente por una selección de los síntomas conocidos de esa enfermedad </li>
          <li>Los imprecisos. El fenotipado de estos, a diferencia de los anteriores, contendrá síntomas no tan exactos. En particular, para generar estos pacientes hemos impuesto que la probabilidad de los dos síntomas predecesores sea igual a la del síntoma exacto. [Nos hemos basado en la Distribución de Poisson con lambda igual a 2]. </li>
        </ul>
      </li>
      <li>Hemos ejecutado nuestro algoritmo de cálculo de condiciones con el fenotipado de todos los anteriores. Con esto, obtenemos una lista ordenada de diagnósticos candidatos. El criterio de ranking o puntuación de este resultado viene dado por Monarch.</li>
      <li>Finalmente, hemos comprobado cuál es la precisión y la fiabilidad de nuestro algoritmo, analizando si es capaz de encontrar o no la disease correcta y además en qué posición del ranking resultado aparece. </li>
    </ol>
    <p>
      Los resultados de estas pruebas son los que aquí te mostramos: 
    </p>
    <p>
      Con los pacientes ideales, esto es, si el fenotipado que nos facilitas es lo más preciso y exacto posible, tenemos una precisión y fiabilidad del 95.5% de acuerdo con la siguiente gráfica:
    </p>
<div class="mt-4 mb-4">
  <apx-chart
  [series]="lineChartIdealOptions.series"
  [colors]="lineChartIdealOptions.colors"
  [chart]="lineChartIdealOptions.chart"
  [xaxis]="lineChartIdealOptions.xaxis"
  [yaxis]="lineChartIdealOptions.yaxis"
  [title]="lineChartIdealOptions.title"
  [dataLabels]="lineChartIdealOptions.dataLabels"
  [stroke]="lineChartIdealOptions.stroke"
  [grid]="lineChartIdealOptions.grid"
  [tooltip]="lineChartIdealOptions.tooltip"
  [plotOptions]="lineChartIdealOptions.plotOptions"
  [fill]="lineChartIdealOptions.fill"
  [legend]="lineChartIdealOptions.legend"
  [labels]="lineChartIdealOptions.labels"
  [markers]="lineChartIdealOptions.markers"
  [theme]="lineChartIdealOptions.theme"
  [responsive]="lineChartIdealOptions.responsive"
></apx-chart>
</div>
 <p>
  En la gráfica puedes observar como se distribuye este porcentaje de aciertos en el ranking resultado que te ofrecemos. Así, en el top 10 de diseases resultado te garantizamos en este caso que acertamos con un 91.9%.
 </p>
 <div class="mt-4 mb-4">
  <apx-chart
  [series]="lineChartZoomIdealOptions.series"
  [colors]="lineChartZoomIdealOptions.colors"
  [chart]="lineChartZoomIdealOptions.chart"
  [xaxis]="lineChartZoomIdealOptions.xaxis"
  [yaxis]="lineChartZoomIdealOptions.yaxis"
  [title]="lineChartZoomIdealOptions.title"
  [dataLabels]="lineChartZoomIdealOptions.dataLabels"
  [stroke]="lineChartZoomIdealOptions.stroke"
  [grid]="lineChartZoomIdealOptions.grid"
  [tooltip]="lineChartZoomIdealOptions.tooltip"
  [plotOptions]="lineChartZoomIdealOptions.plotOptions"
  [fill]="lineChartZoomIdealOptions.fill"
  [legend]="lineChartZoomIdealOptions.legend"
  [labels]="lineChartZoomIdealOptions.labels"
  [markers]="lineChartZoomIdealOptions.markers"
  [theme]="lineChartZoomIdealOptions.theme"
  [responsive]="lineChartZoomIdealOptions.responsive"
></apx-chart>
</div>

<p>
  Por otro lado, con los pacientes imprecisos el porcentaje de acierto que te aseguramos es de un 80.9%. 
</p>
<div class="mt-4 mb-4">
  <apx-chart
  [series]="lineChartRuidoOptions.series"
  [colors]="lineChartRuidoOptions.colors"
  [chart]="lineChartRuidoOptions.chart"
  [xaxis]="lineChartRuidoOptions.xaxis"
  [yaxis]="lineChartRuidoOptions.yaxis"
  [title]="lineChartRuidoOptions.title"
  [dataLabels]="lineChartRuidoOptions.dataLabels"
  [stroke]="lineChartRuidoOptions.stroke"
  [grid]="lineChartRuidoOptions.grid"
  [tooltip]="lineChartRuidoOptions.tooltip"
  [plotOptions]="lineChartRuidoOptions.plotOptions"
  [fill]="lineChartRuidoOptions.fill"
  [legend]="lineChartRuidoOptions.legend"
  [labels]="lineChartRuidoOptions.labels"
  [markers]="lineChartRuidoOptions.markers"
  [theme]="lineChartRuidoOptions.theme"
  [responsive]="lineChartRuidoOptions.responsive"
></apx-chart>
</div>
 <p>
  Como puedes ver, nuestro algoritmo depende muy fuertemente de la calidad de la información fenotípica que nos facilites. Así, cuánto más preciso seas con los síntomas de entrada, mejores resultados podremos garantizarte.
 </p>
  </div>
</ng-template>