.background-img{
  min-height: 76vh !important;
  background-image: url("assets/img/home/background.jpg");
  background-position: center center;
  background-size: cover;
}

.gradient-custom{
  background-image: linear-gradient(45deg, #68aab842, #FFF) !important;
}

.card{
  background-color: #fffc !important;
}

.h-80{
  height: 80px;
}

a {
    color: #33658A;
}

.btn-primary {
    color: #fff;
    background-color: #33658A;
    border-color: #33658A;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #33658A;
    border-color: #33658A;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

  @media ( max-width: 575px ){
    
    .full-height-vh{
      height:auto !important;
    }
  }


  @media ( max-width: 449px ){
    .card-body{
      padding: 0rem;
    }
  }

  
  