<section>
  <div class="row auth-height full-height-vh m-0 grid-hover background-img">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content gradient-custom">
          <div class="card-body" style="max-width: 600px;">
            <div class="row m-0">
              <div class="col-lg-12 justify-content-center align-items-center text-center" style="padding-top: 1.5rem;padding-right: 1.5rem;padding-left: 1.5rem;">
                <h1 class="card-title" [innerHTML]="'preland.t1' | translate"></h1>
                <p class="mt-3">{{'preland.t2' | translate }}</p>
                <p>{{'preland.t3' | translate }}</p>
              </div>
              <div class="col-lg-12 col-md-12 py-3">
                <div *ngIf="role==''">
                  <div class="col-md-12">
                    <div class="center-elements">
                      <div class="row">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <button (click)="selectRole('patient');" class="h-80"
                            [ngClass]="(role=='patient')?'btn round mb-1 btn-block btn btn-info btn-raised':'btn round btn-block mb-1 btn btn-info btn-outline-info '"
                            type="button">{{'preland.p1.1' | translate }}</button>
                        </div>
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <button [routerLink]="['/open', { role: 'clinician'}]" (click)="lauchEvent('Role - Physician')" type="button"
                            class="btn btn-outline-info btn-block round mb-1 h-80">{{'preland.p1.2' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="role=='patient'">
                  <div class="col-md-12">
                    <div class="center-elements">
                      <!--<h2 class="card-title mb-3">{{'preland.p2' | translate }} <em class="fa fa-refresh grey ml-1" title="reload"
                        (click)="restartVars()" style="cursor: pointer;"></em></h2>-->
                      <div class="row">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <button [routerLink]="['/open', { role: 'undiagnosed'}]" (click)="lauchEvent('Role - Undiagnosed')" class="btn round btn-block mb-1 btn-outline-info h-80"
                            type="button">{{'preland.p2.1' | translate }}
                          </button>
                        </div>
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <button [routerLink]="['/open', { role: 'diagnosed'}]" (click)="lauchEvent('Role - Diagnosed')" type="button"
                            class="btn btn-outline-info round btn-block mb-1 h-80">{{'preland.p2.2' | translate }}
                          </button><!-- I already have a diagnosis-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>