<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row almost-full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card bg-blue-grey bg-darken-3 px-4">
                    <div class="card-header">
                        <div class="card-image text-center">
                            <i class="icon-key font-large-5 blue-grey lighten-4"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block" *ngIf="!changed">
                            <div class="text-center">
                                <h4 class="text-uppercase text-bold-400 white">{{'menu.New Password' | translate }}</h4>
                            </div>
                            <form class="pt-4" (ngSubmit)="onSubmit()" #f="ngForm">
                              <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="ft-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'generics.Password' | translate }}" ngModel required #password="ngModel" minlength="8" maxlength="24" validatePassword="password">
                                </div>
                                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="form-text text-muted danger">
                                  <div *ngIf="password.errors.invalidPassword">
                                    {{'recoverpass.Password must have' | translate }} {{'(!@#$%^&*(),.?\":{}|<>)'}}
                                  </div>
                                  <div *ngIf="password.errors.required">
                                    {{'recoverpass.Password is required' | translate }}
                                  </div>
                                  <div *ngIf="(password.errors.minlength || password.errors.maxlength) && !password.errors.required">
                                    {{'generics.Passwordlength' | translate }}
                                  </div>
                                </small>
                              </div>
                              <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="ft-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="{{'generics.Repeat password' | translate }}" ngModel required #password2="ngModel" [equalTo]="password">
                                </div>
                                <small class="form-text text-muted danger" *ngIf="password2.errors?.equalTo">{{'generics.Passwordnomatch' | translate }}</small>
                              </div>
                                <div class="form-group pt-2" *ngIf="!sending">
                                    <div class="text-center mt-3">
                                      <div *ngIf="f.valid;then formValid else formError"></div>
                      								<ng-template #formValid><button class="btn btn-primary btn-raised btn-block" type="submit">{{'generics.Submit' | translate }}</button></ng-template>
                      								<ng-template #formError><button class="btn btn-primary btn-raised btn-block" type="button" (click)="submitInvalidForm()">{{'generics.Submit' | translate }}</button></ng-template>
                                    </div>
                                    <div class="text-center mt-3">
                                        <div class="white" *ngIf="showlink" ><a (click)="onForgotPassword()">{{'recoverpass.Rerequest a password' | translate }}</a></div>
                                    </div>
                                </div>
                                <div class="form-group pt-2 text-center" *ngIf="sending">
                                  <span>
                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i>
                                  </span>
                                </div>
                            </form>
                        </div>
                        <div class="card-block" *ngIf="changed">
                          <div class="text-center">
                              <h4 class="text-uppercase text-bold-400 white">{{'recoverpass.Password changed' | translate }}</h4>
                          </div>
                        </div>
                        <div class="card-footer bg-blue-grey bg-darken-3">
                            <div class="float-left white"><a (click)="onLogin()">{{'menu.Login' | translate }}</a></div>
                            <div class="float-right white"><a (click)="onRegister()">{{'menu.Register' | translate }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
