<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row almost-full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card bg-blue-grey bg-darken-3 px-4">
                    <div class="card-header">
                        <div class="card-image text-center">
                            <i class="icon-key font-large-5 blue-grey lighten-4"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="text-center">
                                <h4 class="text-uppercase text-bold-400 white">{{'login.Recover Password' | translate }}</h4>
                            </div>
                            <form class="pt-4" (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="{{'generics.Email' | translate }}" ngModel required email #email="ngModel">
                                    <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
                                </div>
                                <div class="form-group pt-2">
                                    <div class="text-center mt-3" *ngIf="!sending">
                                      <div *ngIf="f.valid;then formValid else formError"></div>
                      								<ng-template #formValid><button class="btn btn-primary btn-raised btn-block" type="submit">{{'generics.Submit' | translate }}</button></ng-template>
                      								<ng-template #formError><button class="btn btn-primary btn-raised btn-block" type="button" (click)="submitInvalidForm()">{{'generics.Submit' | translate }}</button></ng-template>
                                    </div>
                                    <div class="text-center mt-3" *ngIf="sending">
                                      <i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-blue-grey bg-darken-3">
                            <div class="float-left white"><a (click)="onLogin()">{{'menu.Login' | translate }}</a></div>
                            <div class="float-right white"><a (click)="onRegister()">{{'menu.Register' | translate }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
