<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4"></div>
    	<div class="row">
          <div class="col col-md-5">
            <h4 class="title">{{'attributions.title' | translate }}</h4>
						<p class="pt-0">{{'attributions.subte' | translate }}</p>
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <a href="https://www.globalrarediseasecommission.com/" target="_blank"> <img style="width: 30vw;" src="assets/img/home/att-1.jpg" alt=""></a>
          </div>
          <div class="col-md-9">
            {{'homedx.Global Commission-1' | translate }} <a href="https://www.globalrarediseasecommission.com/Report/" target="_blank">{{'homedx.Global Commission-2' | translate }}</a>.
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <p class="pt-0"><a href="http://www.sickkids.ca/" target="_blank"><img class="img-logos" src='assets/img/home/SickKids-Logo.png' style="width: 90px;"/></a> </p>
            <p class="pt-0"><a href="https://www.utoronto.ca/" target="_blank"><img class="img-logos img-xs-sinmargen" style="margin-left: 1em;width: 90px;" src='assets/img/home/UofT_Logo.png' /></a></p>
          </div>
          <div class="col-md-9">
            <b>Dx29</b> {{'homedx.SickKids-1' | translate }}: {{'homedx.SickKids-2' | translate }}
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <a href="https://hpo.jax.org/app/" target="_blank"><img style="width: 6vw !important; min-width: 80px;" src="assets/img/home/att-3.jpg" alt=""></a>
          </div>
          <div class="col-md-9">
            <b>Dx29</b> {{'homedx.hpo' | translate }}
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <a href="http://monarchinitiative.org/" target="_blank"><img style="width: 30vw;" src="assets/img/home/att-4.jpg" alt=""></a>
          </div>
          <div class="col-md-9">
            <b>Dx29</b> {{'homedx.monarch-1' | translate }}: {{'homedx.monarch-2' | translate }}. {{'homedx.monarch-3' | translate }}
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <p class="pt-0"><a href="http://wglab.org/" target="_blank"><img class="img-logos" style="width: 60px;" src='assets/img/home/WGL_long_BW.png' /></a></p>
            <p class="pt-0"><a href="http://phenolyzer.wglab.org/" target="_blank"><img class="img-logos img-xs-sinmargen" style="margin-left: 1em;width: 80px;" src='assets/img/home/phenolyzer.png' /></a></p>
          </div>
          <div class="col-md-9">
            {{'homedx.wglab' | translate }} http://phenolyzer.wglab.org/FAQ.php.
          </div>
      </div>
      <div class="row start-xs att-block ptbl">
          <div class="col-md-3 center-xs">
            <a href="https://www.microsoft.com/es-es" target="_blank"><img style="width: 30vw;" src="assets/img/home/att-6.jpg" alt=""></a>
          </div>
          <div class="col-md-9">
            <b>Dx29</b> {{'homedx.microsoft' | translate }}
          </div>
      </div>
      <div class="row start-xs att-block no-line ptbl">
          <div class="col-md-3 center-xs">
            <a href="https://www.ilitia.com/" target="_blank"><img style="width: 60px;" class="img-logos mx-auto" src='assets/img/home/ilitia.png' /></a><a href="https://www.plainconcepts.com/" target="_blank"><img style="width: 130px;" class="img-logos mx-auto" src='assets/img/home/Plain-Concepts-logo.png' /></a>
          </div>
          <div class="col-md-9">
            {{'homedx.ilitia-plainconcepts' | translate }}
          </div>
      </div>
  </div>
</div>
