.row{
  margin-right: 0px;
  margin-left: 0px;
}
.card{
  margin: 0;
}
.xxl-font{
  font: 700 3.5vw 'suisse', sans-serif !important;
}

.h4-font{
  font: 700 1.6vw/2.6vw 'suisse', sans-serif !important;
  margin-bottom: 0;
}

.h3-font{
  font: 300 1.8vw/3vw 'suisse regular', Helvetica, Sans-serif;
  margin-bottom: 0;
}
.xl-font{
  font: 300 1.8vw/3vw 'suisse regular', Helvetica, Sans-serif;
}

footer {
  padding-left: 0px;
  margin-top: 0px;
}

//clases del maquetador

    h1{font: 400 78px/82px 'suisse', sans-serif; text-rendering: optimizelegibility;}
    h2{font: 400 62px/72px 'suisse', sans-serif; text-rendering: optimizelegibility;}
    h3{font: 400 40px/40px 'suisse', sans-serif; text-rendering: optimizelegibility;}
    h4{font: 400 28px/38px 'suisse', sans-serif; text-rendering: optimizelegibility;}
    h5{font: 400 26px/36px 'suisse', sans-serif; text-rendering: optimizelegibility;}
    h6{font: 400 24px/34px 'suisse', sans-serif; text-rendering: optimizelegibility;}
     p{font: 400 22px/32px 'suisse', sans-serif; text-rendering: optimizelegibility;}

    h1,h2,h3,h4,h5,h6, p{ color: #000000;}

    h1,h2,h3{ margin-top: 20px; margin-bottom: 20px;}
    h4,h5,h6{margin-top: 10px;margin-bottom: 10px;}

    h1.bold-text ,h2.bold-text ,h3.bold-text ,h4.bold-text ,h5.bold-text ,h6.bold-text ,p.bold-text {font-weight: 700;}
    h1.medium-text ,h2.medium-text ,h3.medium-text ,h4.medium-text ,h5.medium-text ,h6.medium-text ,p.medium-text {font-weight: 600;}
    h1.thin-text ,h2.thin-text ,h3.thin-text ,h4.thin-text ,h5.thin-text ,h6.thin-text ,p.thin-text {font-weight: 300;}


    *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
    html{overflow-x:hidden;overflow-y:scroll;position:relative;left:0;right:0;background:#dddddd}
    body{width:100%;height:100%;overflow:hidden;margin:0;color:#777777;background-color:#FFFFFF;/*font-size: 0;*/}
    img, object, embed {max-width: 100%; height: auto;}
    object, embed { height: 100%;}
    img { -ms-interpolation-mode: bicubic;}

    a.bttn-dark {font: 500 14px/18px 'suisse bold', sans-serif;text-transform: uppercase;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #ff1900;background: #ff1900;border-radius:4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    a.bttn-dark:hover {font: 500 14px/18px 'suisse bold', sans-serif;text-transform: uppercase; margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #c7404f;background: #c7404f;border-radius:4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    a.bttn-light {font: 500 14px/18px 'suisse bold', sans-serif;text-transform: uppercase;margin: 0px auto;padding: 12px 20px 13px;color: #ff1900;background-color: transparent;border: 1px solid #ff1900;border-radius: 4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    a.bttn-light:hover {font: 500 14px/18px 'suisse bold', sans-serif;text-transform: uppercase;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #ff1900;background: #ff1900;border-radius: 4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}

    input.btn.btn-success.btn-send {font: 400 16px/18px 'suisse', sans-serif;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #ff1900;background: #ff1900;border-radius:0px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    input.btn.btn-success.btn-send:hover {font: 400 16px/18px 'suisse', sans-serif;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #c7404f;background: #c7404f;border-radius:0px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    /*input.btn.btn-success.btn-send.disabled {
        font: 400 16px/18px 'suisse', sans-serif;margin: 0px auto;padding: 12px 14px 13px;color: #978448;background-color: transparent;border: 1px solid #FCE79F;background: #FCE79F;border-radius: 2px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 240px;text-align: center;
    }
*/

    .btn{font: 400 16px/18px 'suisse', sans-serif;margin: 0px auto;padding: 12px 60px 13px;color: #ffffff;background-color: transparent;border: 1px solid #E3475D;background: #E3475D;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    .btn:hover {font: 400 16px/18px 'suisse', sans-serif;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #C8394D;background: #C8394D;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}

    .nav-link p{color: #000000;font: 300 14px/18px 'suisse', sans-serif;}
    .nav-link p:hover{color: #ff1900;font: 300 14px/18px 'suisse', sans-serif;}


 /* ================================================== */
 /* GRID BASE                                          */
 /* ================================================== */

 .container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 1rem;padding-right: 1rem;}
 .row {box-sizing: border-box;display: -webkit-flex;display: -ms-flexbox;display: -webkit-box;display: flex;-webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;-webkit-box-flex: 0;flex: 0 1 auto;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -1rem;margin-left: -1rem;}
 .row.reverse {-webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;-webkit-box-orient: horizontal;-webkit-box-direction: reverse;flex-direction: row-reverse;}
 .col.reverse {-webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;-webkit-box-orient: vertical;-webkit-box-direction: reverse;flex-direction: column-reverse;}

 .auto-xs-col {box-sizing: border-box;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}

 .auto-xs-col{-webkit-flex-grow: 1;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;-ms-flex-preferred-size: 0;-webkit-flex-basis: 0;flex-basis: 0;max-width: 100%;}

 .col-xs-offset-1 {margin-left: 8.333%;}
 .col-xs-offset-2 {margin-left: 16.667%;}
 .col-xs-offset-3 {margin-left: 25%;}
 .col-xs-offset-4 {margin-left: 33.333%;}
 .col-xs-offset-5 {margin-left: 41.667%;}
 .col-xs-offset-6 {margin-left: 50%;}
 .col-xs-offset-7 {margin-left: 58.333%;}
 .col-xs-offset-8 {margin-left: 66.667%;}
 .col-xs-offset-9 {margin-left: 75%;}
 .col-xs-offset-10 {margin-left: 83.333%;}
 .col-xs-offset-11 {margin-left: 91.667%;}

 .start-xs {-webkit-justify-content: flex-start;-ms-flex-pack: start;-webkit-box-pack: start;justify-content: flex-start;text-align: start;}
 .center-xs {-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;text-align: center;}
 .end-xs {-webkit-justify-content: flex-end;-ms-flex-pack: end;-webkit-box-pack: end;justify-content: flex-end;text-align: end;}
 .top-xs {-webkit-align-items: flex-start;-ms-flex-align: start;-webkit-box-align: start;align-items: flex-start;}
 .middle-xs {-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;}
 .bottom-xs {-webkit-align-items: flex-end;-ms-flex-align: end;-webkit-box-align: end;align-items: flex-end;}
 .around-xs {-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;}
 .between-xs {-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;}
 .first-xs {-webkit-order: -1;-ms-flex-order: -1;-webkit-box-ordinal-group: 0;order: -1;}
 .last-xs {-webkit-order: 1;-ms-flex-order: 1;-webkit-box-ordinal-group: 2;order: 1;}


  /* Padding right s/m/l/xl/xxl */
    .prs-m{padding-right: 10px}
    .prm-m{padding-right: 20px}
    .prl-m{padding-right: 40px}
    .prxl-m{padding-right: 60px}
    .prxxl-m{padding-right: 80px}
  /* Padding left s/m/l/xl/xxl */
    .pls-m{padding-left: 10px}
    .plm-m{padding-left: 20px}
    .pll-m{padding-left: 40px}
    .plxl-m{padding-left: 60px}
    .plxxl-m{padding-left: 80px}
  /* Padding right-left s/m/l/xl/xxl */
    .prls-m{padding-right: 10px;padding-left: 10px;}
    .prlm-m{padding-right: 20px;padding-left: 20px;}
    .prll-m{padding-right: 40px;padding-left: 40px;}
    .prlxl-m{padding-right: 60px;padding-left: 60px;}
    .prlxxl-m{padding-right: 80px;padding-left: 80px;}
  /* Padding top-bottom s/m/l/xl/xxl */
    .ptbl-m{padding-top: 40px;padding-bottom: 40px;}

    .hide_for_desktop {display: block;}
    .hide_for_mobile{ display: none; }


  /* ================================================== */
  /* HEADER                                             */
  /* ================================================== */

    .header{ position: fixed;z-index: 2;width: 100%;}
    .header-img-block{ background-color:#ffffff; }


    header[role=banner] {background: rgba(0, 0, 0, 0);padding: 0;height: 66px;position: fixed;z-index: 2;width: 100%;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
    header[role=banner].scrolling {background: rgba(255, 255, 255, 0.98);padding: 0;z-index: 20;height: 70px;}

    .logo-header img {width: 60px;margin-left:4%;}

    p{font: 500 15px/22px 'suisse regular', Helvetica, Sans-serif;color:#000000;letter-spacing: 0.1px;}
    p a{color:#ffffff;font-weight: 500;letter-spacing: 0.2px;}
    p span{color:#ff1900;font-weight: 700;letter-spacing: 0.2px;}
    h1{color: #000000;font:700 8vw 'suisse', sans-serif !important;letter-spacing: -2.4px;}
    h2{color: #000000;font:700 5.5vw 'suisse', sans-serif !important;letter-spacing: -1.4px;}
    h3{font:300 4vw/6vw 'suisse regular', Helvetica, Sans-serif;color:#000000;margin:0;}
    h4{font:700 4vw/4vw 'suisse', sans-serif !important;color:#000000;margin:0;}

    h3.title{font: 700 5vw/5vw 'suisse', sans-serif;color:#000000;}

    .intro-text {padding:80px 40px 0px 40px;position: relative;}
    .intro-text h1{z-index: 1;position: relative;}
    .intro-text h3{margin-bottom:0px;z-index: 1;position: relative;}

    .module img {width: 40vw;}
    .module .carnet img {width:300px;}
    .module .papers img {width:300px;}

    #captcha_reload{color:#4c5d65;font-size: 12px;}
    .captcha{margin-top: 4px;}




  /* ================================================== */
  /* FOOTER                                             */
  /* ================================================== */

    footer {border-top: 1px solid #efefef;}
    footer img{opacity: 0.8;max-width: 140px;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
    footer img:hover{opacity: 0.8;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
    footer .row{min-height: 100px;padding:0;}


    footer a {color: #ff1900;}
    footer h4{font: 700 12px/34px 'suisse', sans-serif !important;color: #292929;}
    footer p {display: block;font: 700 14px/22px 'suisse', sans-serif !important;color: #373737; opacity: 0.6;}
    footer nav{position: relative;}
    footer nav ul li {display:block; }
    li.foot-line{position: absolute;margin:0 10px;}
    li.foot-text{margin: 12px 20px 0;position: absolute;}
    .redes-line{border-left:none;}


  /* MENU NAVIGATION ___________________________________*/

    li.menu-flag-text, li.menu-flag-text{background: #373737;height: 66px;margin-left: -4px;}
    /*li.menu-flag-text h3 , li.menu-flag-text a h3{color: #ffffff;line-height:normal;padding:12px;margin: 0;font-size: 28px;font-family: 'suisse';}*/
    .menu-flag-icon h3 {font-size: 28px;font-family: 'suisse';color: #ffffff;position: absolute;left: 66px;top: -1px;background: #000000;padding: 14px 20px;}
    .menu-flag-icon.bttn-close h3 {top: -20px;}
    .overlay ul li{display: inline-block;}
    .overlay ul li.menu-flag-text{position: relative;top: -26px;}

    /*MENU MOVIL*/
      li.menu-flag-icon, li.menu-flag-icon{margin-left: 30px;}
      li.menu-flag-icon, li.menu-flag-icon{/*background: #FDD72F;height: 66px;width: 66px;*/}
      /*#trigger-overlay{background-image: url('../img/chivuos/logo.svg');width: 140px;height: 124px;font-size: 0;background-color: transparent;border: none;position: relative;outline: none;}*/
      section button {border: none;padding: 15px 30px;outline: none;}

    /* Overlay style */
      .overlay {position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: rgba(255,255,255,0.98);z-index: 1000;}

    /* Overlay closing cross */
      .overlay img {position: absolute;left:54px;top:24px;overflow: hidden;border: none;outline: none;z-index: 100;}
    /* Menu style */
      .overlay nav {text-align: center;position: relative;top: 40%;height: 50%;font-size: 54px;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
      .overlay ul {list-style: none;padding: 0;margin: 0 auto;display: inline-block;height: 100%;width: 100%;position: relative;}
      .overlay ul li a:hover,.overlay ul li a:focus {color: #ff1900;}
    /* Effects */
      .overlay-hugeinc {opacity: 0;visibility: hidden;-webkit-transition: opacity 0.5s, visibility 0s 0.5s;transition: opacity 0.5s, visibility 0s 0.5s;}
      .overlay-hugeinc.open {opacity: 1;visibility: visible;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;}
      .overlay-hugeinc nav {-webkit-perspective: 1200px;perspective: 1200px;}
      .overlay-hugeinc nav ul {opacity: 0.4;-webkit-transform: translateY(-25%) rotateX(35deg);transform: translateY(-25%) rotateX(35deg);-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;transition: transform 0.5s, opacity 0.5s;}
      .overlay-hugeinc.open nav ul {opacity: 1;-webkit-transform: rotateX(0deg);transform: rotateX(0deg);}
      .overlay-hugeinc.close nav ul {-webkit-transform: translateY(25%) rotateX(-35deg);transform: translateY(25%) rotateX(-35deg);}
      .overlay nav a {font: 700 30px/70px 'suisse', sans-serif !important;text-transform: uppercase;display: block;color: #000000;-webkit-transition: color 0.2s;transition: color 0.2s;}
      .overlay nav a.off{opacity: 0.4;}
      .overlay nav a:hover{color: #ff1900;}

      .separator{border-top: 1px solid #f4f4f4;max-width: 60%;margin:20px auto;}

  /* ================================================== */
  /* BODY                                               */
  /* ================================================== */

    .grey-bg{background: #FAFAFA;}

    .option-block{min-height:120px;}

    #primary_nav_wrap {position: absolute;right: 10%;top: 10px;}
    ul.social-head{/*margin-top: 40px;*/ opacity: 0.8;}
    #primary_nav_wrap ul.social-head li{padding-left: 40px;}
      section button {border: none;padding: 15px 30px;outline: none;}

    .att-block{border-bottom: 1px solid #f4f4f4;}
    .att-block.no-line {border-bottom: none;}
    .att-block p{line-height: 30px;}

    .main-box{padding-left:40px;padding-right:40px;padding-top: 20px;}

  /* ================================================== */
  /* HOME                                               */
  /* ================================================== */

    .vid-block{background: #000000;}

    .module p{padding-top: 20px;}


  /* YOUTUBE ____________________________________*/
  #featured {padding-top: 40px;padding-bottom: 40px;}
    .youtube-video {width: 100%;/*height: 0;*/padding-bottom: percentage(315/560);position: relative;iframe {width: 100%;height: auto;position: absolute;top: 0;left: 0;}}
    .videos {li {padding-top: 10px;padding-bottom: 10px; &:hover{cursor: pointer;background: #f2f2f2;}}}




  /* FORM ________________________________________*/

    form {display: block;position: relative;text-align: left;padding: 10px 0 10px ;}
    .form-group {margin-top: -5px;}
    .form-group label {color:transparent;font: 700 4px/4px 'suisse', sans-serif;font-style: uppercase !important;}
    .form-group input{line-height: normal;color: #121212;;height: 40px;padding: 20px 10px;width: 100%;font: 300 14px/16px 'suisse', sans-serif;background-color: #f4f4f4;}
    .form-group textarea {overflow: auto;width: 100%;height: 100px;padding: 20px 10px;font: 300 14px/16px 'suisse', sans-serif;background-color: #f4f4f4;color: #121212;}

    input#form_name, input#form_lastname, input#form_email {color: #f1f1f1;font: 300 14px/16px 'suisse', sans-serif;}

    button.bttn-dark {font: 500 14px/18px 'suisse', sans-serif;text-transform: uppercase;margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #ff1900;background: #ff1900;border-radius:4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}
    button.bttn-dark:hover {font: 500 14px/18px 'suisse', sans-serif;text-transform: uppercase; margin: 0px auto;padding: 12px 20px 13px;color: #ffffff;background-color: transparent;border: 1px solid #c7404f;background: #c7404f;border-radius:4px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;display: inline-block;min-width: 200px;text-align: center;}


    input:focus, textarea:focus {outline: none !important;border-color: #cccccc;box-shadow: none;}

    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color:#cccccc !important;background-image: none;color: rgb(0, 0, 0);}

    .contact h3{font: 100 30px/40px 'suisse', sans-serif;text-rendering: optimizelegibility;color: #ffffff;}


/* ================================================== */
/* 4- DROPDOWN MENU                                   */
/* ================================================== */

    .dropbtn {border: none;}
    .nav-link.dropdown{padding-left: 0px;}
    .dropdown {position: relative;display: inline-block;}
    .dropdown-content {display: none;position: absolute;background-color: #ffffff; min-width: 20px; z-index: 1;padding: 10px;margin-left: -10px;}
    .dropdown-content a {color: black;padding: 10px 0px;text-decoration: none;text-align: left;display: block;}
    .dropdown-content a:hover {background-color: #ffffff;}
    .dropdown:hover .dropdown-content {display: block;}






@media only screen and (min-width: 768px) {
  .container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 4rem;padding-right: 4rem;}
  .auto-sm-col {box-sizing: border-box;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}

  .auto-sm-col{-webkit-flex-grow: 1;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;-ms-flex-preferred-size: 0;-webkit-flex-basis: 0;flex-basis: 0;max-width: 100%;}


  .col-sm-offset-1 {margin-left: 8.333%;}
  .col-sm-offset-2 {margin-left: 16.667%;}
  .col-sm-offset-3 {margin-left: 25%;}
  .col-sm-offset-4 {margin-left: 33.333%;}
  .col-sm-offset-5 {margin-left: 41.667%;}
  .col-sm-offset-6 {margin-left: 50%;}
  .col-sm-offset-7 {margin-left: 58.333%;}
  .col-sm-offset-8 {margin-left: 66.667%;}
  .col-sm-offset-9 {margin-left: 75%;}
  .col-sm-offset-10 {margin-left: 83.333%;}
  .col-sm-offset-11 {margin-left: 91.667%;}

  .start-sm {-webkit-justify-content: flex-start;-ms-flex-pack: start;-webkit-box-pack: start;justify-content: flex-start;text-align: start;}
  .center-sm {-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;text-align: center;}
  .end-sm {-webkit-justify-content: flex-end;-ms-flex-pack: end;-webkit-box-pack: end;justify-content: flex-end;text-align: end;}
  .top-sm {-webkit-align-items: flex-start;-ms-flex-align: start;-webkit-box-align: start;align-items: flex-start;}
  .middle-sm {-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;}
  .bottom-sm {-webkit-align-items: flex-end;-ms-flex-align: end;-webkit-box-align: end;align-items: flex-end;}
  .around-sm {-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;}
  .between-sm {-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;}
  .first-sm {-webkit-order: -1;-ms-flex-order: -1;-webkit-box-ordinal-group: 0;order: -1;}
  .last-sm {-webkit-order: 1;-ms-flex-order: 1;-webkit-box-ordinal-group: 2;order: 1;}

  .hide_for_desktop {display: none;}
  .hide_for_mobile{ display: inline;}


  /*PADDINGS*/

    /* Padding right s/m/l/xl/xxl */
      .prs-d{padding-right: 10px}
      .prm-d{padding-right: 20px}
      .prl-d{padding-right: 40px}
      .prxl-d{padding-right: 60px}
      .prxxl-d{padding-right: 80px}
    /* Padding left s/m/l/xl/xxl */
      .pls-d{padding-left: 10px}
      .plm-d{padding-left: 20px}
      .pll-d{padding-left: 40px}
      .plxl-d{padding-left: 60px}
      .plxxl-d{padding-left: 80px}
    /* Padding right-left s/m/l/xl/xxl */
      .prls-d{padding-right: 10px;padding-left: 10px;}
      .prlm-d{padding-right: 20px;padding-left: 20px;}
      .prll-d{padding-right: 40px;padding-left: 40px;}
      .prlxl-d{padding-right: 60px;padding-left: 60px;}
      .prlxxl-d{padding-right: 80px;padding-left: 80px;}
     /* Padding top-bottom s/m/l/xl/xxl */
      .ptbs-d{padding-top: 10px;padding-bottom: 10px;}




  header[role=banner] {background: rgba(255, 255, 255, 0);padding: 0;height: 66px;position: fixed;z-index: 2;width: 100%;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
  header[role=banner].scrolling {background: rgba(255, 255, 255, 0.98);padding: 0;z-index: 20;height: 70px;border-bottom: 1px solid #f4f4f4;}

  #primary_nav_wrap {position: absolute;/*right: 80px;*/top: 20px;}

  .logo-header img {width:60px;margin-left: 0px;}

   h1{color:#000000;font: 700 4vw 'suisse', sans-serif !important;letter-spacing: 0px;}
   h2{color:#000000;font: 700 3vw 'suisse', sans-serif !important;letter-spacing: 1px;margin:0;}
   h3{color:#000000;font:300 2vw/3vw 'suisse regular', Helvetica, Sans-serif; margin:0;}
   h4{font:700 1.6vw/2.6vw 'suisse', sans-serif !important;color:#000000;margin:0;}

  .intro-text {position: relative;}
  .intro-text h1{margin-top: 12px;z-index:1;position: relative;padding: 0 5%}
  .intro-text h2{z-index: 1;position: relative;margin-bottom: 0;}
  .intro-text img{max-width: 70%;margin-top: -10%;}


  .youtube-video {width: 100%;/*height: 0;*/padding-bottom: percentage(315/560);position: relative;iframe {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}}


  .module {padding: 30px 0px;}
  .module img {width: 12vw;}
  .module .carnet img {width:360px;}


  .redes-line {border-right: 1px solid #efefef;position: relative;height: 100%; margin-right: 20px;}

}




@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {

}



@media only screen and (min-width: 992px) {
  .container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 5rem;padding-right: 5rem;}

  .auto-md-col {box-sizing: border-box;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}

  .auto-md-col{-webkit-flex-grow: 1;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;-ms-flex-preferred-size: 0;-webkit-flex-basis: 0;flex-basis: 0;max-width: 100%;}

  .col-md-offset-1 {margin-left: 8.333%;}
  .col-md-offset-2 {margin-left: 16.667%;}
  .col-md-offset-3 {margin-left: 25%;}
  .col-md-offset-4 {margin-left: 33.333%;}
  .col-md-offset-5 {margin-left: 41.667%;}
  .col-md-offset-6 {margin-left: 50%;}
  .col-md-offset-7 {margin-left: 58.333%;}
  .col-md-offset-8 {margin-left: 66.667%;}
  .col-md-offset-9 {margin-left: 75%;}
  .col-md-offset-10 {margin-left: 83.333%;}
  .col-md-offset-11 {margin-left: 91.667%;}

  .start-md {-webkit-justify-content: flex-start;-ms-flex-pack: start;-webkit-box-pack: start;justify-content: flex-start;text-align: start;}
  .center-md {-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;text-align: center;}
  .end-md {-webkit-justify-content: flex-end;-ms-flex-pack: end;-webkit-box-pack: end;justify-content: flex-end;text-align: end;}
  .top-md {-webkit-align-items: flex-start;-ms-flex-align: start;-webkit-box-align: start;align-items: flex-start;}
  .middle-md {-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;}
  .bottom-md {-webkit-align-items: flex-end;-ms-flex-align: end;-webkit-box-align: end;align-items: flex-end;}
  .around-md {-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;}
  .between-md {-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;}
  .first-md {-webkit-order: -1;-ms-flex-order: -1;-webkit-box-ordinal-group: 0;order: -1;}
  .last-md {-webkit-order: 1;-ms-flex-order: 1;-webkit-box-ordinal-group: 2;order: 1;}


}

@media only screen and (min-width: 1200px) {
  .container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 8rem;padding-right: 8rem;}

  .auto-lg-col {box-sizing: border-box;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}

  .auto-lg-col{-webkit-flex-grow: 1;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;-ms-flex-preferred-size: 0;-webkit-flex-basis: 0;flex-basis: 0;max-width: 100%;}

  .col-lg-offset-1 {margin-left: 8.333%;}
  .col-lg-offset-2 {margin-left: 16.667%;}
  .col-lg-offset-3 {margin-left: 25%;}
  .col-lg-offset-4 {margin-left: 33.333%;}
  .col-lg-offset-5 {margin-left: 41.667%;}
  .col-lg-offset-6 {margin-left: 50%;}
  .col-lg-offset-7 {margin-left: 58.333%;}
  .col-lg-offset-8 {margin-left: 66.667%;}
  .col-lg-offset-9 {margin-left: 75%;}
  .col-lg-offset-10 {margin-left: 83.333%;}
  .col-lg-offset-11 {margin-left: 91.667%;}

  .start-lg {-webkit-justify-content: flex-start;-ms-flex-pack: start;-webkit-box-pack: start;justify-content: flex-start;text-align: start;}
  .center-lg {-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;text-align: center;}
  .end-lg {-webkit-justify-content: flex-end;-ms-flex-pack: end;-webkit-box-pack: end;justify-content: flex-end;text-align: end;}
  .top-lg {-webkit-align-items: flex-start;-ms-flex-align: start;-webkit-box-align: start;align-items: flex-start;}
  .middle-lg {-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;}
  .bottom-lg {-webkit-align-items: flex-end;-ms-flex-align: end;-webkit-box-align: end;align-items: flex-end;}
  .around-lg {-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;}
  .between-lg {-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;}
  .first-lg {-webkit-order: -1;-ms-flex-order: -1;-webkit-box-ordinal-group: 0;order: -1;}
  .last-lg {-webkit-order: 1;-ms-flex-order: 1;-webkit-box-ordinal-group: 2;order: 1;}


}


@media only screen and (min-width: 1600px) {
  .container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 10rem;padding-right: 10rem;}
  .container-cards{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 9rem;padding-right: 9rem;}

  .auto-xlg-col {box-sizing: border-box;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}

  .col-xlg-offset-1 {margin-left: 8.333%;}
  .col-xlg-offset-2 {margin-left: 16.667%;}
  .col-xlg-offset-3 {margin-left: 25%;}
  .col-xlg-offset-4 {margin-left: 33.333%;}
  .col-xlg-offset-5 {margin-left: 41.667%;}
  .col-xlg-offset-6 {margin-left: 50%;}
  .col-xlg-offset-7 {margin-left: 58.333%;}
  .col-xlg-offset-8 {margin-left: 66.667%;}
  .col-xlg-offset-9 {margin-left: 75%;}
  .col-xlg-offset-10 {margin-left: 83.333%;}
  .col-xlg-offset-11 {margin-left: 91.667%;}

  .start-xlg {-webkit-justify-content: flex-start;-ms-flex-pack: start;-webkit-box-pack: start;justify-content: flex-start;text-align: start;}
  .center-xlg {-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;text-align: center;}
  .end-xlg {-webkit-justify-content: flex-end;-ms-flex-pack: end;-webkit-box-pack: end;justify-content: flex-end;text-align: end;}
  .top-xlg {-webkit-align-items: flex-start;-ms-flex-align: start;-webkit-box-align: start;align-items: flex-start;}
  .middle-xlg {-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;}
  .bottom-xlg {-webkit-align-items: flex-end;-ms-flex-align: end;-webkit-box-align: end;align-items: flex-end;}
  .around-xlg {-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;}
  .between-xlg {-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;}
  .first-xlg {-webkit-order: -1;-ms-flex-order: -1;-webkit-box-ordinal-group: 0;order: -1;}
  .last-xlg {-webkit-order: 1;-ms-flex-order: 1;-webkit-box-ordinal-group: 2;order: 1;}

}

@media ( max-width: 322px ){

  .imgheader{
    margin-top: 3% !important;
  }
}

/* ================================================== */
/* 7- HELPERS                                         */
/* ================================================== */


  ::-moz-selection {background: #DCDCDC;color: #2C7FC0;text-shadow: none;}
  ::selection {background: #DCDCDC;color: #2C7FC0;text-shadow: none;}


  /*PADDINGS*/

      /* Padding top s/m/l/xl/xxl */
      .ptxs{padding-top: 5px;}
      .pts{padding-top: 10px}
      .ptsm{padding-top: 18px}
      .ptm{padding-top: 20px}
      .ptl{padding-top: 40px}
      .ptxl{padding-top: 60px}
      .ptxxl{padding-top: 80px}

      /* Padding right s/m/l/xl/xxl */
      .prs{padding-right: 10px}
      .prm{padding-right: 20px}
      .prl{padding-right: 40px}
      .prxl{padding-right: 60px}
      .prxxl{padding-right: 80px}

      /* Padding bottom s/m/l/xl/xxl */
      .pbs{padding-bottom: 10px}
      .pbm{padding-bottom: 20px}
      .pbl{padding-bottom: 40px}
      .pbxl{padding-bottom: 60px}
      .pbxxl{padding-bottom: 80px}

      /* Padding left s/m/l/xl/xxl */
      .pls{padding-left: 10px}
      .plm{padding-left: 20px}
      .pll{padding-left: 40px}
      .plxl{padding-left: 60px}
      .plxxl{padding-left: 80px}

      /* Padding top-bottom s/m/l/xl/xxl */
      .ptbs{padding-top: 10px;padding-bottom: 10px;}
      .ptbm{padding-top: 20px;padding-bottom: 20px;}
      .ptbl{padding-top: 40px;padding-bottom: 40px;}
      .ptbxl{padding-top: 60px;padding-bottom: 60px;}
      .ptbxxl{padding-top: 80px;padding-bottom: 80px;}

      /* Padding right-left s/m/l/xl/xxl */
      .prls{padding-right: 10px;padding-left: 10px;}
      .prlm{padding-right: 20px;padding-left: 20px;}
      .prll{padding-right: 40px;padding-left: 40px;}
      .prlxl{padding-right: 60px;padding-left: 60px;}
      .prlxxl{padding-right: 80px;padding-left: 80px;}
      .no-padding-lateral{padding-right:0px;padding-left:0px;}


  /*MARGINS*/

      /* Margin top s/m/l/xl/xxl */
      .mts{margin-top: 10px}
      .mtm{margin-top: 20px}
      .mtl{margin-top: 40px}
      .mtxl{margin-top: 60px}
      .mtxxl{margin-top: 80px}

      /* Margin bottom s/m/l/xl/xxl */
      .mbs{margin-bottom: 10px}
      .mbm{margin-bottom: 20px}
      .mbl{margin-bottom: 40px}
      .mbxl{margin-bottom: 60px}
      .mbxxl{margin-bottom: 80px}

      /* Margin top-bottom s/m/l/xl/xxl */
      .mtbs{margin-top: 10px;margin-bottom: 10px;}
      .mtbm{margin-top: 20px;margin-bottom: 20px;}
      .mtbl{margin-top: 40px;margin-bottom: 40px;}
      .mtbxl{margin-top: 60px;margin-bottom: 60px;}
      .mtbxxl{margin-top: 80px;margin-bottom: 80px;}
