<div *ngIf="msgList.length > 0">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Messages</div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-block">
            <table class="col-md-12 table text-center">
    					<thead>
    						<tr>
                  <th>Email</th>
    							<th>{{'support.Subject' | translate }}</th>
    							<th>{{'support.Message' | translate }}</th>
                  <th>Files</th>
    							<th>Date</th>
                  <th>Status</th>
                  <th>Lang</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr *ngFor="let msg of msgList ; let i = index">
                  <td>{{msg.email}}</td>
    							<td>{{msg.subject}}</td>
                  <td>{{msg.description}}</td>
                  <td>
                    <p *ngFor="let file of msg.files ; let i = index">
                      {{file}} <a class="btn btn-outline-danger mb-0" href="{{accessToken.blobAccountUrl}}filessupport/{{file}}{{accessToken.sasToken}}" download="{{file}}" target="_blank"><i class="fa ft-download-cloud"></i></a>
                    </p>
                  </td>
                  <td>{{msg.date | date}}</td>
                  <td>
                    <select id="status" name="status{{i}}" [(ngModel)]="msg.status" (change)="fieldStatusChanged(msg)">
  										<option value="unread">unread</option>
  										<option value="read">Read</option>
  									</select>
                  </td>
                  <td>{{msg.lang}}</td>
    						</tr>
    					</tbody>
    				</table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
