
    export const environment = {
    production: true,
    api: undefined,  //Server URL: 'http://<direction>:<port>'
    ncrService:undefined, // NCR service URL
    f29bio:undefined, // f29Bio sevice URL 
    f29api: undefined, // f29api service URL
    hotjarSiteId:undefined, // Horjar ID
    urlDxv2:undefined // url dx29 v2 
    };
