.modal-footer{
  justify-content: center !important;
}


.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.selection {
  display: inline !important; /* show when empty */
  fill: #7A7A7A;
  fill-opacity: 0.8;
  stroke: #7A7A7A;
  stroke-width: 2px;
}


:host /deep/ ngb-rating span {
    font-size: 3rem;
}
// For Star
:host /deep/ .star {
  font-size: 3rem;
  color: #b0c4de;
  // Filled Star
  &.filled {
    color: #FF8D60;
  }
  // Full Star
  &.full {
    color: #f9423a;
  }
  // Half Star
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #f9423a;
    font-size: 3rem;
  }
}
:host /deep/ .star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.negative-margin-top{
  margin-top: -40px;
}

.greenBackground{
  background-color: #b9f6ca;
}

.emptyBackground{
  background-color: unset;
}

.cursor-not-allowed{
    cursor: not-allowed;
}


.center-spinner{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.fadeIn{
  z-index: 10;
}

.center-stuffs{
  margin-top: 8rem;
}

table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
    cursor: pointer;
}

.panel-hover-color {
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.panel-hover-color:hover {
    //background: red !important;
    cursor: pointer;
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.fijado {
    position: sticky;
    top: 93%;
    height: 100%;
    z-index: 2;
}

.fijado2 {
    position: sticky;
    top: 50%;
    height: 100%;
    z-index: 2;
}
.card-content{
  margin-bottom: -2rem !important;
}

@media ( max-width: 1400px ){

  .tableFixHead          { overflow-y: auto; height: 600px; }
  .tableFixHead thead th { position: sticky; top: 0; }

  /* Just common table stuff. Really. */
  table  { border-collapse: collapse; width: 100%; }
  th     { background:#eee; }

  .btn.disabled, .btn:disabled {
      opacity: 1;
  }

}

@media ( max-width: 400px ){

  .center-stuffs{
    margin-top: 0%;
  }

}


/*.d3-chart {
  width: 100%;
  height: 400px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}this.height1*/

/*g{
  display:flex;
}*/
