.main-panel{
  .main-content{
    padding-left:0px;
    min-height: 76vh !important;
  }
}

.full-border{

  height: 100vh !important;
  background: white;
}

.custom-footer{
  background-color: white;
  position: relative;
  display: flow-root;
}

.images-tools{
  max-width: 90px;
  float: right;
}

@media ( max-width: 576px ){
  .images-tools{
    float: left;
  }

  .container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .content-wrapper{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
