<div
  #wrapper
  class="wrapper"
  [ngClass]="{
    'nav-collapsed': iscollapsed,
    'menu-collapsed': iscollapsed,
    'sidebar-sm': isSidebar_sm,
    'sidebar-lg': isSidebar_lg
  }"
  [dir]="options.direction"
>

<div *ngIf="!isGTPPage"
  #appSidebar
  appSidebar
  class="app-sidebar d-lg-none"
  (toggleHideSidebar)="toggleHideSidebar($event)"
  [ngClass]="{ 'hide-sidebar': hideSidebar }"
  data-active-color="white"
  [attr.data-background-color]="bgColor"
  [attr.data-image]="bgImage"
>
  <app-sidebar></app-sidebar>
  <div class="sidebar-background" #sidebarBgImage></div>
</div>
  <app-navbar-dx29 (toggleHideSidebar)="toggleHideSidebar($event)"></app-navbar-dx29>
  <div class="main-panel">
    <div>
      <div class="main-content">
          <div class="">
              <ngb-alert type="warning" class="mt-4" [dismissible]="false" *ngIf="isIeOrEdge">
                <div class="mt-3">
                  <h4>{{'others.browsers not supported' | translate }}</h4>
                  <a href="https://www.microsoftedgeinsider.com/en-us/" target="_blank">{{'generics.Download' | translate }} Microsoft Edge Insider</a>
                </div>
              </ngb-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
      <app-footer-land></app-footer-land>
      <!--<app-footer *ngIf="!isHomePage"></app-footer>-->
    </div>
  </div>
</div>
