<div
  #wrapper
  class="wrapper"
  [ngClass]="{
    'nav-collapsed': iscollapsed,
    'menu-collapsed': iscollapsed,
    'sidebar-sm': isSidebar_sm,
    'sidebar-lg': isSidebar_lg
  }"
  [dir]="options.direction"
>

<div *ngIf="!isGTPPage"
  #appSidebar
  appSidebar
  class="app-sidebar d-lg-none"
  (toggleHideSidebar)="toggleHideSidebar($event)"
  [ngClass]="{ 'hide-sidebar': hideSidebar }"
  data-active-color="white"
  [attr.data-background-color]="bgColor"
  [attr.data-image]="bgImage"
>
  <app-sidebar></app-sidebar>
  <div class="sidebar-background" #sidebarBgImage></div>
</div>
  <app-navbar-dx29 (toggleHideSidebar)="toggleHideSidebar($event)"></app-navbar-dx29>
  <div class="main-panel">
    <div>
      <div class="main-content">
          <div class="">
            <div class="">
              <ngb-alert type="warning" class="mb-0" [dismissible]="false">

                <div class="row pt-3 pb-3">
                  <div class="col-md-12">
                    <div class="center-elements" >
                      <h1 class="card-title text-bold-500">Test our new tools</h1>
                      <hr class="hr-custom" style="background-color: #f9423a !important;">
                    </div>
                    
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="row">
                      <div class="col-sm-3 pr-0 mt-2 center-elements">
                        <img src="assets/img/home/logo-Dx29.png" class="images-tools">
                      </div>
                      <div class="col-sm-9">
                        <h4 class="mt-2 text-bold-500">Ayuda al diagnóstico based on artificial intelligence</h4>
                        <p>Introduce una breve descripción del paciente y dxGPT te proporcionará una lista de posibles diagnósticos.</p>
                        <a href="https://dxgpt.app" target="_blank" title="{{'login.dxgptbuttom' | translate }}" class="btn btn-primary mb-0" (click)="lauchEvent('dxgpt');">{{'login.dxgptbuttom' | translate }}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="row">
                      <div class="col-sm-3 pr-0 mt-2 center-elements">
                        <img src="assets/img/home/logo-lg-white.png" class="images-tools">
                      </div>
                      <div class="col-sm-9">
                        <h4 class="mt-2 text-bold-500">Si los sistemas de salud fueran buenos no necesitarías esto</h4>
                        <p>Pruebe el asistente médico mas avanzado hasta ahora!</p>
                        <a href="https://nav29.org" target="_blank" title="{{'login.nav29buttom' | translate }}" class="btn btn-primary mb-0" (click)="lauchEvent('nav29');">{{'login.nav29buttom' | translate }}</a>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </ngb-alert>
            </div>
              <!--<ngb-alert type="warning" class="mt-4" [dismissible]="false" *ngIf="isIeOrEdge">
                <div class="mt-3">
                  <h4>{{'others.browsers not supported' | translate }}</h4>
                  <a href="https://www.microsoftedgeinsider.com/en-us/" target="_blank">{{'generics.Download' | translate }} Microsoft Edge Insider</a>
                </div>
              </ngb-alert>-->
              <router-outlet></router-outlet>
          </div>
      </div>
      <app-footer-land></app-footer-land>
      <!--<app-footer *ngIf="!isHomePage"></app-footer>-->
    </div>
  </div>
</div>
