<!-- Vista web -->
<div class="d-none d-sm-block">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right" (click)="backTimeline('true');">
          <em class="mr-1 fa fa-refresh white" title="{{'preland.p2' | translate}}" (click)="backTimeline('true')"
            style="cursor: pointer;"></em>
          <span>{{'preland.p2' | translate}}</span>
        </button>
        <button type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right"
          (click)="addSymptomTimeLine();">
          <em class="mr-1 fa fa-plus white" title="{{'preland.p3' | translate}}" (click)="addSymptomTimeLine()"
            style="cursor: pointer;"></em>
          <span>{{'preland.p3' | translate}}</span>
        </button>
        <!--<button *ngIf="showTimeLine"type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right" (click)="backTimeline('false');">
          <em class="mr-1 fa fa-refresh white"
            title="{{'land.diagnosed.timeline.reset' | translate}}" (click)="backTimeline('false')"
            style="cursor: pointer;"></em>
          <span>{{'land.diagnosed.timeline.reset' | translate}}</span>
        </button>-->
        <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right"
          (click)="exportTimeline()">
          <em class="mr-1 fa fa-download white" title="{{'land.diagnosed.timeline.Download' | translate }}"
            (click)="exportTimeline()" style="cursor: pointer;"></em>
          <span>{{'land.diagnosed.timeline.Download' | translate }}</span>
        </button>
        <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right"
          (click)="saveTimeline()">
          <em class="mr-1 ft-save white" title="{{'land.diagnosed.timeline.SaveTimeline' | translate }}"
            (click)="saveTimeline()" style="cursor: pointer;"></em>
          <span>{{'land.diagnosed.timeline.SaveTimeline' | translate }}</span>
        </button>

      </div>
      <div class="col-md-6 mt-2" *ngIf="!modifyFormSymtoms">
        <table class="table mb-0 text-center d-none d-sm-block">
          <tbody style="width: 100%;display: inline-table;">
            <tr *ngFor="let symptom of listSymptoms ; let i = index">
              <td class="row text-left">
                <div class="col-md-12">
                  <h5 *ngIf="symptom.name" style="cursor: pointer;" (click)="showMoreInfoSymptomPopup(symptom);"
                    class="info d-inline"><strong>{{symptom.name}}</strong></h5>
                  <h5 *ngIf="!symptom.name" class="d-inline">
                    <strong>{{symptom.id}}</strong> ({{'phenotype.Deprecated' | translate}}) <a
                      href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank" title="{{symptom.id}}">
                      <i class="ft-external-link"></i></a>
                  </h5>
                  <span class="mt-1 nav-item float-right" ngbDropdown display="dynamic" placement="bottom-right">
                    <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownSympt{{j}}"
                      ngbDropdownToggle title="{{'generics.Options' | translate }}">
                      <i class="fas fa-ellipsis-v font-medium-3 info"></i>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownSympt{{j}}" class="dropdown">
                      <a class="dropdown-item py-1" href="javascript:;" (click)="deleteSymptomTimeLine(i)">
                        <span class="">{{'generics.Delete' | translate }}</span> <i class="ml-2 fa fa fa-trash danger"></i>
                      </a>
                      <a *ngIf="!symptom.showNotes" class="dropdown-item py-1" href="javascript:;" (click)="showNotes(i)">
                        <span class="">{{'land.diagnosed.timeline.showNotes' | translate }}</span> <i class="ml-2 fa fa-plus success"></i>
                      </a>
                    </div>
                  </span>
                </div>
                <div class="col-md-12" *ngIf="symptom.selectEndOrCurrent">
                  <small class="text-left form-text danger">{{'land.diagnosed.timeline.selectEndOrCurrent' |
                    translate}}</small>
                </div>
                <div class="col-md-6 mt-1">
                  <div class="col-md-12">
                    <div class="row">
                      <input class="form-control w-75 d-inline" id="dateOnset_{{i}}" name="dateOnset" matInput placeholder="{{'generics.Start Date' | translate }}"
                        [max]="maxDate" readonly [matDatepicker]="pickerOnset" [(ngModel)]="symptom.onsetdate"
                        (dateInput)="updateTimeline()">
                      <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="true" #pickerOnset></mat-datepicker>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-1">
                  <div class="col-md-12">
                    <div class="row">
                      <input class="form-control w-75 d-inline" id="dateFinish_{{i}}" name="dateFinish" placeholder="{{'generics.End Date' | translate }}"
                        [min]="symptom.onsetdate" [max]="maxDate" readonly matInput [matDatepicker]="pickerFinish"
                        [(ngModel)]="symptom.finishdate" (dateInput)="updateTimeline();"
                        [disabled]="(!symptom.checked)||(symptom.onsetdate==undefined)"
                        (ngModelChange)="updateIsCurrentSymptom(i, symptom.finishdate);">
                      <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="(!symptom.checked)||(symptom.onsetdate==undefined)" #pickerFinish>
                      </mat-datepicker>
                      <small class="text-left form-text danger"
                        *ngIf="symptom.invalidFinishdate">{{'land.diagnosed.timeline.errorDates' | translate}}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <p class="float-left" style="font-size: smaller;"> * {{'land.diagnosed.timeline.HelpDates' | translate
                    }}</p>
                </div>
                <div class="col-md-12 mb-2" *ngIf="symptom.showNotes">
                  <input type="text" id="basicInput_{{i}}" style="display: inline;width: 88%;" maxlength=250 placeholder="{{'generics.notes' | translate }}"
                    class="form-control" [(ngModel)]="symptom.notes" [disabled]="(!symptom.checked)"
                    (change)="updateTimeline()">
                    <a href="javascript:;" (click)="hideNotes(i)">
                      <i class="ml-2 fa fa-trash danger info"></i>
                    </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 mt-2" *ngIf="modifyFormSymtoms">
        <span><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
      </div>
      <div class="col-md-6 mt-2" *ngIf="!showTimeLine">
        <div class="text-center p-3 font-medium-3" style="min-height: 450px;background: #eee;">
          <span>{{'land.diagnosed.timeline.displayed here' | translate}}</span>
        </div>
      </div>
      <div class="col-md-6 mt-2" *ngIf="showTimeLine">
        <div class="col-md-12 border" id="mytimeline" style="background: #eee;">
          <section *ngIf="!isEmptyObject(dictionaryTimeline)||(listTimelineNull.length>0)" id="vertical-timeline-left"
            class="timeline-left timeline-wrapper col-sm-10 col-12 offset-sm-1">
            <div *ngIf="!isEmptyObject(dictionaryTimeline)">
              <div *ngFor="let dateItem of dictionaryTimeline | keyvalue: keyDescOrder">
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-group">
                    <h5>
                      <span class="badge badge-primary cursor-default">{{dateItem.key}}</span>
                    </h5>
                  </li>
                </ul>
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li *ngFor="let item of dateItem.value | keyvalue: valueDateDescOrder" class="timeline-item">
                    <div *ngIf="item.key!=null" class="timeline-badge">
                      <span data-toggle="tooltip" placement="right" [ngbTooltip]="item.key"
                        class="bg-primary bg-lighten-4">
                        <i class="ft-calendar primary"></i>
                      </span>
                    </div>
                    <div *ngIf="item.key!=null" class="timeline-card card shadow-z-1">
                      <div class="card-content">
                        <div class="card-body">
                          <span class="card-title mb-0">{{item.key}}</span>
                          <hr class="mt-0 mb-2">
                          <div *ngFor="let symptom of item.value;">
                            <span *ngIf="symptom.name" class="info" style="cursor: pointer;"
                              title="{{'generics.More information' | translate }} ({{symptom.id}})"
                              (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                            <span *ngIf="!symptom.name">
                              {{symptom.id}} ({{'phenotype.Deprecated' | translate}})
                              <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                                title="{{symptom.id}}">
                                <i class="ft-external-link"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="!isEmptyObject(dictionaryTimeline)&&(listTimelineNull.length>0)" class="col-md-12 mt-2"></div>
            <ul class="timeline" *ngIf="listTimelineNull.length>0">
              <li class="timeline-group">
                <h5>
                  <span class="badge badge-primary cursor-default"> {{'land.diagnosed.symptoms.NoOnset' | translate }}
                  </span>
                </h5>
              </li>
              <li class="timeline-item">
                <div class="timeline-badge">
                  <span data-toggle="tooltip" [ngbTooltip]="translate.instant('land.diagnosed.symptoms.GoPrevious')"
                    placement="right" class="bg-primary bg-lighten-4">
                    <i class="ft-help-circle primary"></i>
                  </span>
                </div>
                <div class="timeline-card card shadow-z-1">
                  <div class="card-content">
                    <div class="card-body">
                      <div *ngFor="let symptom of listTimelineNull">
                        <span *ngIf="symptom.name" class="info" style="cursor: pointer;"
                          title="{{'generics.More information' | translate }} ({{symptom.id}})"
                          (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                        <span *ngIf="!symptom.name">
                          {{symptom.id}} ({{'phenotype.Deprecated' | translate}})
                          <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                            title="{{symptom.id}}">
                            <i class="ft-external-link"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
        <div class="col-md-12 mt-2 center-elements">
          <!--<div class="col-md-6 center-elements">
            <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-md btn-raised" (click)="saveTimeline()">
              <em class="mr-1 ft-save white"
                title="{{'land.diagnosed.timeline.SaveTimeline' | translate }}" (click)="saveTimeline()"
                style="cursor: pointer;"></em>
                <span>{{'land.diagnosed.timeline.SaveTimeline' | translate }}</span>
            </button>
          </div>-->
          <!--<div class="col-md-6 center-elements">-->
          <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-md btn-raised" (click)="exportTimeline()">
            <em class="mr-1 fa fa-download white" title="{{'land.diagnosed.timeline.Download' | translate }}"
              (click)="exportTimeline()" style="cursor: pointer;"></em>
            <span>{{'land.diagnosed.timeline.Download' | translate }}</span>
          </button>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Vista movil -->
<div class="d-block d-sm-none">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <em class="mr- fa fa-refresh info float-right" title="{{'preland.p2' | translate}}"
            (click)="backTimeline('true')" style="cursor: pointer;"></em>
          <em class="mr-2 fa fa-plus info float-right" title="{{'preland.p3' | translate}}"
            (click)="addSymptomTimeLine()" style="cursor: pointer;"></em>
          <!--<em *ngIf="showTimeLine" class="mr-2 fa fa-refresh info float-right"
              title="{{'preland.p2' | translate}}" (click)="backTimeline('false')"
              style="cursor: pointer;"></em>-->
          <em class="mr-2 ft-help-circle info float-right" title="{{'land.diagnosed.timeline.help' | translate}}"
            (click)="openTimelineAppHelp()" style="cursor: pointer;"></em>
          <em *ngIf="showTimeLine" class="mr-2 fa fa-download info float-right"
            title="{{'land.diagnosed.timeline.Download' | translate }}" (click)="exportTimeline()"
            style="cursor: pointer;"></em>
          <em class="mr-1 ft-save white" title="{{'land.diagnosed.timeline.SaveTimeline' | translate }}"
            (click)="saveTimeline()" style="cursor: pointer;"></em>
        </div>
      </div>
    </div>
    <div class="mt-1" *ngIf="!modifyFormSymtoms">
      <div class="w-100" *ngFor="let symptom of listSymptoms ; let i = index">
        <div class="card bg-grey bg-lighten-3 box border mb-3" *ngIf="actualTemporalSymptomsIndex ==i">
          <div class="card-header">
            <strong>
              <h5 *ngIf="symptom.name" class="info d-inline" style="cursor: pointer;"
                (click)="showMoreInfoSymptomPopup(symptom);"><strong>{{symptom.name}}</strong></h5>
              <h5 *ngIf="!symptom.name" class="d-inline">
                <strong>{{symptom.id}}</strong> ({{'phenotype.Deprecated' | translate}})
                <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank" title="{{symptom.id}}">
                  <i class="ft-external-link"></i>
                </a>
              </h5>
              <span class="mt-1 nav-item float-right" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownSympt{{j}}"
                  ngbDropdownToggle title="{{'generics.Options' | translate }}">
                  <i class="fas fa-ellipsis-v font-medium-3 info"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownSympt{{j}}" class="dropdown">
                  <a class="dropdown-item py-1" href="javascript:;" (click)="deleteSymptomTimeLine(i)">
                    <span class="">{{'generics.Delete' | translate }}</span> <i class="ml-2 fa fa fa-trash danger"></i>
                  </a>
                  <a *ngIf="!symptom.showNotes" class="dropdown-item py-1" href="javascript:;" (click)="showNotes(i)">
                    <span class="">{{'land.diagnosed.timeline.showNotes' | translate }}</span> <i class="ml-2 fa fa-plus success"></i>
                  </a>
                </div>
              </span>
            </strong>
          </div>
          <div class="card-body mt-1">
            <div class="col-md-12" *ngIf="symptom.selectEndOrCurrent">
              <small class="text-left form-text danger">{{'land.diagnosed.timeline.selectEndOrCurrent' |
                translate}}</small>
            </div>
            <div class="col-md-12 mt-1">
              <div class="col-md-12">
                <div class="row">
                  <input class="form-control w-75 d-inline" id="dateOnset_{{i}}" name="dateOnset" [max]="maxDate" placeholder="{{'generics.Start Date' | translate }}"
                    matInput readonly [matDatepicker]="pickerOnset" [(ngModel)]="symptom.onsetdate"
                    (dateInput)="updateTimeline();">
                  <mat-datepicker-toggle matSuffix [for]="pickerOnset"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #pickerOnset></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <div class="col-md-12">
                <div class="row">
                  <input class="form-control w-75 d-inline" id="dateFinish_{{i}}" name="dateFinish" placeholder="{{'generics.End Date' | translate }}"
                    [min]="symptom.onsetdate" readonly [max]="maxDate" matInput [matDatepicker]="pickerFinish"
                    [(ngModel)]="symptom.finishdate" (dateInput)="updateTimeline();"
                    [disabled]="(!symptom.checked)||(symptom.onsetdate==undefined)"
                    (ngModelChange)="updateIsCurrentSymptom(i, symptom.finishdate);">
                  <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="(!symptom.checked)||(symptom.onsetdate==undefined)" #pickerFinish>
                  </mat-datepicker>
                  <small class="text-left form-text danger"
                    *ngIf="symptom.invalidFinishdate">{{'land.diagnosed.timeline.errorDates' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <p class="float-left" style="font-size: smaller;"> * {{'land.diagnosed.timeline.HelpDates' | translate }}
              </p>
            </div>
            <div class="col-md-12" *ngIf="symptom.showNotes">
              <input type="text" style="display: inline;width: 88%;" id="basicInput_{{i}}" maxlength=250 placeholder="{{'generics.notes' | translate }}"
                class="form-control" [(ngModel)]="symptom.notes" [disabled]="(!symptom.checked)"
                (change)="updateTimeline()">
                <a href="javascript:;" (click)="hideNotes(i)">
                  <i class="ml-2 fa fa-trash danger info"></i>
                </a>
            </div>
          </div>
          <div class="card-footer center-elements bt-n">
            <span *ngIf="(actualTemporalSymptomsIndex>0)" style="cursor: pointer;" class="float-left info mt-1"
              (click)="goPrevSymptom();">
              <em style="font-size: 1.3em;" class="ft-chevron-left info"></em>
            </span>
            <span class="info mt-1">{{actualTemporalSymptomsIndex+1}} / {{listSymptoms.length}}</span>
            <span *ngIf="actualTemporalSymptomsIndex<listSymptoms.length-1" style="cursor: pointer;"
              class="float-right info mt-1" (click)="goNextSymptom();">
              <em style="font-size: 1.3em;" class="ft-chevron-right info"></em>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-1" *ngIf="modifyFormSymtoms">
      <span><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
    </div>
    <div *ngIf="showTimeLine" style="max-height: 450px;">
      <div class="pt-2 col-md-12">
        <h4><strong>{{'land.diagnosed.timeline.title' | translate}}</strong></h4>
      </div>
      <div style="max-height: 450px;overflow-y: auto;">
        <div id="mytimeline-app" class="p-2">
          <section *ngIf="!isEmptyObject(dictionaryTimeline)||(listTimelineNull.length>0)" id="vertical-timeline-left"
            class="timeline-left timeline-wrapper col-sm-10 col-12 offset-sm-1">
            <div *ngIf="!isEmptyObject(dictionaryTimeline)">
              <div *ngFor="let dateItem of dictionaryTimeline | keyvalue: keyDescOrder">
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-group">
                    <h5>
                      <span class="badge badge-primary cursor-default">{{dateItem.key}}</span>
                    </h5>
                  </li>
                </ul>
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li *ngFor="let item of dateItem.value | keyvalue: valueDateDescOrder" class="timeline-item">
                    <div *ngIf="item.key!=null" class="timeline-badge">
                      <span data-toggle="tooltip" placement="right" [ngbTooltip]="item.key"
                        class="bg-primary bg-lighten-4">
                        <i class="ft-calendar primary"></i>
                      </span>
                    </div>
                    <div *ngIf="item.key!=null" class="timeline-card card shadow-z-1">
                      <div class="card-content">
                        <div class="card-body">
                          <span class="card-title mb-0">{{item.key}}</span>
                          <hr class="mt-0 mb-2">
                          <div *ngFor="let symptom of item.value;">
                            <span *ngIf="symptom.name" class="info" style="cursor: pointer;"
                              title="{{'generics.More information' | translate }} ({{symptom.id}})"
                              (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                            <span *ngIf="!symptom.name">
                              {{symptom.id}} ({{'phenotype.Deprecated' | translate}})
                              <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                                title="{{symptom.id}}">
                                <i class="ft-external-link"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="!isEmptyObject(dictionaryTimeline)&&(listTimelineNull.length>0)" class="col-md-12 mt-2"></div>
            <ul class="timeline" *ngIf="listTimelineNull.length>0">
              <li class="timeline-group">
                <h5>
                  <span class="badge badge-primary cursor-default"> {{'land.diagnosed.symptoms.NoOnset' | translate }}
                  </span>
                </h5>
              </li>
              <li class="timeline-item">
                <div class="timeline-badge">
                  <span data-toggle="tooltip" [ngbTooltip]="translate.instant('land.diagnosed.symptoms.GoPrevious')"
                    placement="right" class="bg-primary bg-lighten-4">
                    <i class="ft-help-circle primary"></i>
                  </span>
                </div>
                <div class="timeline-card card shadow-z-1">
                  <div class="card-content">
                    <div class="card-body">
                      <div *ngFor="let symptom of listTimelineNull">
                        <span *ngIf="symptom.name" class="info" style="cursor: pointer;"
                          title="{{'generics.More information' | translate }} ({{symptom.id}})"
                          (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                        <span *ngIf="!symptom.name">
                          {{symptom.id}} ({{'phenotype.Deprecated' | translate}})
                          <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                            title="{{symptom.id}}">
                            <i class="ft-external-link"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2 center-elements">
      <!--<div class="col-md-6 center-elements">
        <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-md btn-raised" (click)="saveTimeline()">
          <em class="mr-1 ft-save white"
            title="{{'land.diagnosed.timeline.SaveTimeline' | translate }}" (click)="saveTimeline()"
            style="cursor: pointer;"></em>
            <span>{{'land.diagnosed.timeline.SaveTimeline' | translate }}</span>
        </button>
      </div>-->
      <!--<div class="col-md-6 center-elements">-->
      <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-md btn-raised" (click)="exportTimeline()">
        <em class="mr-1 fa fa-download white" title="{{'land.diagnosed.timeline.Download' | translate }}"
          (click)="exportTimeline()" style="cursor: pointer;"></em>
        <span>{{'land.diagnosed.timeline.Download' | translate }}</span>
      </button>
      <!--</div>-->
    </div>
  </div>
</div>