<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row almost-full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card bg-blue-grey bg-darken-3 px-4">
                    <div class="card-body">
                        <div class="bg-blue-grey bg-darken-3">
                            <a class="btn btn-primary btn-raised btn-block" (click)="onLogin()">{{'menu.Login' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
