<div class="row">
  <div class="offset-md-1 col-md-10">
    <div class="content-header">{{'about.welcome' | translate }}</div>
    <p>
        {{'about.Dx29 is an AI-based tool created and maintained by' | translate }} <a href="https://foundation29.org/" target="_blank">Foundation 29</a> {{'about.to support physicians to make better decisions' | translate }}
    </p>
  </div>
</div>
<section id="basic-form-layouts" style="margin-top:1em;">
	<div class="row">
      <div class="col-md-3" style="margin-bottom:1em;">
          <span (click)="toggleMenu()" class="chat-app-sidebar-toggle ft-align-justify font-large-1 mr-2 d-none d-block d-sm-block d-md-none"></span>
          <div class="chat-sidebar d-none d-sm-none d-md-block d-lg-block">
            <a class="list-group-item bg-blue-grey bg-lighten-5 border-right-primary border-right-2" (click)="SetActive($event, 'panelFlujoTrabajo')">
                {{'about.Summary of Dx29 workflow' | translate }}
            </a>
            <a class="list-group-item no-border" (click)="SetActive($event, 'panelResumenHerramientas')">
                {{'about.Summary of Tools' | translate }}
            </a>
          </div>
        </div>

        <div class="col-md-9">

            <div *ngIf="activeTittleMenu == 'FlujoTrabajo'">
                <h4>{{'about.Summary of Dx29 workflow' | translate }}</h4>
                  <p>
                    {{'about.Dx29 consists of four steps' | translate }}
                  </p>
                  <ol>
                    <li>
                      <b>{{'about.Input patient symptoms' | translate }}</b> {{'about.Input patient symptoms description' | translate }}
                    </li>
                    <li>
                      <b>{{'about.Input genetic information' | translate }}</b> {{'about.Input genetic information description' | translate }}
                    </li>
                    <li>
                      <b>{{'about.Analysis' | translate }}</b> {{'about.Analysis description' | translate }}
                    </li>
                    <li>
                      <b>{{'about.Phenotype expansion and results' | translate }}</b> {{'about.Phenotype expansion and results description' | translate }}
                    </li>
                  </ol>
            </div>

            <div *ngIf="activeTittleMenu == 'ResumenHerramientas'">
              <h4>{{'about.Summary of Tools' | translate }}</h4>
                <h5 class="pt-2"><ins>Exomiser:</ins></h5>
                <p>{{'about.ExomiserIntro' | translate }}</p>
                <p>{{'about.Exomiser is a program...' | translate }}</p>
                <p>{{'about.Using the genetic information...' | translate }}</p>
                <p>
                  {{'about.Exomiser is developed by the' | translate }} <a href="http://charite.github.io/" target="_blank">{{'about.Computational Biology and Bioinformatics group' | translate }}</a> {{'about.at the Institute for' | translate }} <a href="https://genetik.charite.de/" target="_blank">{{'about.Medical Genetics and Human Genetics' | translate }}</a> {{'about.of the' | translate }} <a href="https://www.charite.de/" target="_blank">{{'about.Charité - Universitätsmedizin Berlin' | translate }}</a>{{'about.the Mouse Informatics Group at the Sanger Institute and other members of the' | translate }} <a href="https://monarchinitiative.org/" target="_blank">{{'about.Monarch initiative' | translate }}</a>.
                </p>
                <p>
                  {{'about.Exomiser is included...' | translate }}: <a href="https://monarch-exomiser-web-dev.monarchinitiative.org/exomiser/legal" target="_blank">https://monarch-exomiser-web-dev.monarchinitiative.org/exomiser/legal</a>
                </p>
                <h5 class="pt-2"><ins>Phen2Genes:</ins></h5>
                <p>
                  {{'about.Phen2GenesIntro' | translate }}
                </p>
                <p>
                  {{'about.Phen2Genes-p1' | translate }}
                </p>
                <p [innerHTML]="'about.Phen2Genes-p2' | translate"></p>
                <p [innerHTML]="'about.Phen2Genes-p3' | translate"></p>
                <h5 class="pt-2"><ins>OwlSim:</ins></h5>
                <p>
                  {{'about.OwlSim-p1' | translate }}
                </p>
                <p [innerHTML]="'about.OwlSim-p2' | translate"></p>
            </div>
          </div>

  </div>
</section>
