<section>
  <a id="initposSecurity"></a>
  <div class="modal-header">
    <h4 class="modal-title">{{'security.Data Privacy and Security' | translate }}</h4>
  </div>
  <div class="modal-body">
    <div>
      <h5 class="danger">Foundation 29</h5>
      <p>
        {{'security.Our name comes from ...' | translate }}
      </p>
      <p>
      {{'security.We create expert systems ...' | translate }}
      </p>
      <p>
        {{'security.We want to give citizens control over their data to support biomedical research' | translate }}
      </p>
      <p>
        {{'security.We empower people to make ...' | translate }}
      </p>
    </div>
    <div>
      <h5 class="danger">Duchenne Data Platform (DDP)</h5>
      <p>
        {{'security.Our objective is to empower the patients...' | translate }}
      </p>
      <p>
        {{'security.DDP is a health data platform...' | translate }}
      </p>
      <p>
        {{'security.It has been created by a multidisciplinary ...' | translate }}
      </p>
    </div>
    <div>
      <h5 class="danger">{{'security.DDP–Data access, privacy and security considerations' | translate }}</h5>
      <h6 class="danger">{{'security.Data Privacy and Security' | translate }}</h6>
      <p>
        {{'security.DDP has been designed to meet...' | translate }}
      </p>
      <p>
        {{'security.Azure has established a set ...' | translate }}
      </p>
      <p>
        {{'security.For more information about Microsoft Azure security:' | translate }} <a href="https://azure.microsoft.com/en-us/overview/trusted-cloud/" target="_blank">Azure Cloud</a>
      </p>
      <p>
        {{'security.Microsoft datacenters video' | translate }}: <a href="https://www.youtube.com/watch?v=r1cyTL8JqRg" target="_blank">Discover World Class Security at Microsoft’s Datacenters</a>
      </p>
      <p>
        {{'security.DDP has been designed to comply with new european GDPR requirements.' | translate }}
      </p>
      <p>
        {{'security.Access to DDP is controlled through login with user ID and password as discussed in an access specific section below.' | translate }}
      </p>
      <h6 class="danger">{{'security.Data quality' | translate }}</h6>
      <p>
        {{'security.DDP ensures quality in data input by standardized and consistent procedures for data entry:' | translate }}
      </p>
      <p>
        * {{'security.Setting up validation rules or input masks in data entry software' | translate }}
      </p>
      <p>
        * {{'security.Using data entry screens or bot...' | translate }}
      </p>
      <p>
        * {{'security.Detailed labelling of variable and record names to avoid confusion' | translate }}
      </p>
      <p>
        * {{'security.Designing a purpose-built database structure to organize data and data files' | translate }}
      </p>
      <p>
        * {{'security.Accompanying notes and contextual help about the data' | translate }}
      </p>
      <p>
        {{'security.DDP also provides the required...' | translate }}
      </p>
      <h6 class="danger">{{'security.Data governance principles' | translate }}</h6>
      <p>
        {{'security.DDP data governance principles are as follows:' | translate }}
      </p>
      <p>
        * {{'security.All data and material sharing ...' | translate }}
      </p>
      <p>
        * {{'security.Data will be owned by patient...' | translate }}
      </p>
      <p>
        * {{'security.When used outside the context ...' | translate }}
      </p>
      <p>
        * {{'security.In these cases, patient ...' | translate }}
      </p>
      <p>
        * {{'security.When used in the context ...' | translate }}
      </p>
      <h6 class="danger">{{'security.Access to DDP' | translate }}</h6>
      <p>
        {{'security.Access  to DDP  ...' | translate }}
      </p>
      <p>
        {{'security.To maintain anonymity ...' | translate }}
      </p>
      <h6 class="danger">{{'security.Informed Consent' | translate }}</h6>
      <p>
        {{'security.Informed consent is the process ...' | translate }}
      </p>
      <p>
        {{'security.Every new DDP user has to agree ...' | translate }}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-raised" (click)="back()">{{'generics.Back' | translate }}</button>
  </div>
</section>
