<div style="background-color: #fff;">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
            <h1>JUNTOS HACIA EL DIAGNÓSTICO</h1>
            <h3>Ayuda con tu donación a  conseguir test genéticos  para niños con epilepsia y  sin diagnóstico.</h3>
            <div class="arrow bounce">
              <a class="white fa fa-arrow-down fa-2x" (click)="goTo('content-primary')" href="javascript:void(0)"></a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-12" id="content-primary">
  <div class="col-md-6">
    <div class="m-4 p-2"></div>
    <div class="blockquote-wrapper">
      <div class="blockquote p-0 m-0" style="border-left: none;">
        <h6>
          <span class="black">
         "Mikel tiene una epilepsia refractaria desde  hace 3 años, y parece de origen genético.  Nuestro neurólogo nos habló del programa <span style="color:#f4364c">Juntos hacia el diagnóstico</span> y sentimos que  era una gran oportunidad para nuestra  familia. <span class="d-block mt-2">Leí en internet la experiencia personal de  Julián Isla, fundador de Fundación 29, y </span><span style="color:#f4364c">sentí  que no estábamos solos en este largo camino. </span><span>Cuando nos comunicaron que Mikel  entraba en el programa sentimos esperanza y  alegria. Fue una gran noticia...”</span>
         </span>
         </h6>
        <h4 class="custom-quote">&mdash;Raquel, madre de Mikel<br><em>En el programa desde diciembre 2020.</em></h4>
      </div>
    </div>
    <div class="m-4 p-2"></div>
    <div class="col-md-12 ml-4 center-md">
      <h1 class="big-font">¿Quieres saber más  sobre el programa  Juntos hacia el diagnóstico?</h1>
      <button class="btn btn-danger btn-lg mr-1 btn-raised mb-0 btn-navbar" routerLink="/juntoshaciaeldiagnostico">
        <span>Click here</span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container-fluid m-0" style="background-color: #fff;">
      <div class="container module ptbxl" style="margin: auto;">
    		<div class="m-4 p-2"></div>
        <div class="col-lg-12 center-elements">
          <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe allowpaymentrequest="" frameborder="0" height="700px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/foundation29-donation-2" style="max-width: 500px; min-width: 250px; max-height:none!important" width="100%"></iframe>
        </div>
        <div class="col-lg-12 text-muted">
          <div>
            <h5>POLÍTICA DE DONACIONES</h5>

            <p>El importe íntegro de las donaciones se utiliza para fines sociales sin ánimo de lucro. Las donaciones realizadas a Fundación 29 están actualmente sujetas a deducción fiscal en España, en virtud de lo dispuesto en la Ley 49/2002, de 23 de diciembre, de régimen fiscal de las entidades sin ánimo de lucro e incentivo fiscal al mecenazgo.</p>

            <p>Si reside fuera de España, consulte las retenciones vigentes para donaciones a ONGs.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="m-4 p-2"></div>
