<div style="background-color: #fff;">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
            <h1>{{'gtp.donate.title' | translate}}</h1>
            <h3>{{'gtp.donate.subtitle' | translate}}</h3>
            <div class="arrow bounce">
              <a class="white fa fa-arrow-down fa-2x" (click)="goTo('content-primary')" href="javascript:void(0)"></a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-12" id="content-primary">
  <div class="col-md-6">
    <div class="m-4 p-2"></div>
    <div class="blockquote-wrapper">
      <div class="blockquote p-0 m-0" style="border-left: none;">
        <h6>
          <span class="black">
         "{{'gtp.donate.testi1' | translate}} <span style="color:#f4364c">{{'gtp.donate.testi2' | translate}}</span> {{'gtp.donate.testi3' | translate}} <span class="d-block mt-2">{{'gtp.donate.testi4' | translate}} </span><span style="color:#f4364c">{{'gtp.donate.testi5' | translate}} </span><span>{{'gtp.donate.testi6' | translate}}”</span>
         </span>
         </h6>
        <h4 class="custom-quote">&mdash;{{'gtp.donate.testi7' | translate}}<br><em>{{'gtp.donate.testi8' | translate}}</em></h4>
      </div>
    </div>
    <div class="m-4 p-2"></div>
    <div class="col-md-12 ml-4 center-md">
      <h1 class="big-font">{{'gtp.donate.p1.1' | translate}}</h1>
      <button class="btn btn-danger btn-lg mr-1 btn-raised mb-0 btn-navbar" routerLink="/juntoshaciaeldiagnostico">
        <span>{{'gtp.donate.p1.2' | translate}}</span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container-fluid m-0" style="background-color: #fff;">
      <div class="container module ptbxl" style="margin: auto;">
    		<div class="m-4 p-2"></div>
        <div class="col-lg-12 center-elements">
          <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe allowpaymentrequest="" frameborder="0" height="700px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/foundation29-donation-2" style="max-width: 500px; min-width: 250px; max-height:none!important" width="100%"></iframe>
        </div>
        <div class="col-lg-12 text-muted">
          <div>
            <h5>{{'gtp.donate.poli.1' | translate}}</h5>

            <p>{{'gtp.donate.poli.2' | translate}}</p>

            <p>{{'gtp.donate.poli.3' | translate}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="m-4 p-2"></div>
