<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>
    <div class="col-lg-12 center-elements">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe allowpaymentrequest="" frameborder="0" height="700px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/foundation29-donation-2?default_interval=o&hide_donation_meter=true" style="max-width: 500px; min-width: 250px; max-height:none!important" width="100%"></iframe>
    </div>
  </div>
</div>
<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>
    <div class="col-lg-12 center-elements">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe frameborder="0" height="93px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/foundation29-donation-2?donation_meter_color=%2341a2d8&amp;only_donation_meter=true" style="max-width:500px; min-width:250px; max-height:none!important" width="100%"></iframe>
    </div>
  </div>
</div>

<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>
    <div class="col-lg-12 center-elements">
      <div class="section">
          <h5 class="pt-0 text-bold-400" [innerHTML]="'gtp.title1' | translate"></h5>
          <h1 class="pt-0 text-bold-700">{{'gtp.title2' | translate}}</h1>
      </div>
      <div class="section">
          <h4 class="pt-0 pb-2"><b>{{'gtp.title3' | translate}}</b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="center-xs embed-responsive embed-responsive-16by9">
              <iframe style="width: 99%;" class="embed-responsive-item" src="https://www.youtube.com/embed/jZYPWbYe0jo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>

    </div>
    <div class="section pt-4">
        <h3><b>{{'gtp.section1Title' | translate}}</b></h3>
        <p [innerHTML]="'gtp.section1Content1' | translate"></p>
        <p>{{'gtp.section1Content2' | translate}}</p>
    </div>
    <div class="section pt-4">
        <h3><b>{{'gtp.section2Title' | translate}}</b></h3>
        <ul>
            <li>{{'gtp.section2Content1' | translate}}</li>
            <li>{{'gtp.section2Content2' | translate}}</li>
            <li>{{'gtp.section2Content3' | translate}}</li>
            <li>{{'gtp.section2Content4' | translate}}</li>
        </ul>
    </div>

    <div class="section pt-4">
        <h3><b>{{'gtp.sectionKnowMeTitle' | translate}}</b></h3>
        <p>{{'gtp.sectionKnowMeContent1' | translate }} <span><a [routerLink]="['/juntoshaciaeldiagnostico/conoceme']"> {{'gtp.sectionKnowMeContent2' | translate }}</a>.</span> {{'gtp.sectionKnowMeContent3' | translate }}</p>

    </div>

		<div class="row">
		    <div class="col-lg-8">
            <div class="section pt-4">
        		    <h3><b>{{'gtp.section4Title' | translate}}</b></h3>
                <p>{{'gtp.section4SubTitle' | translate}}</p>
                <ol>
        		        <li>{{'gtp.section4Content1' | translate}}</li>
        		        <li>{{'gtp.section4Content2' | translate}}</li>
                    <li>{{'gtp.section4Content3' | translate}}</li>
                    <li>{{'gtp.section4Content4' | translate}}</li>
                    <li>{{'gtp.section4Content5' | translate}}</li>
                    <li>{{'gtp.section4Content6' | translate}}</li>
                    <li>{{'gtp.section4Content7' | translate}}</li>
        		    </ol>
                <p>{{'gtp.section4Info' | translate}}</p>
                <p>{{'gtp.section4Info2' | translate}}</p>
        		</div>
		    </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid img-gtp"  src="assets/img/home/gtp/gtp_header.jpg" />
        </div>
		</div>

	</div>
</div>
