<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>

		<div class="row">
		    <div class="col-md-6">
		        <div class="section">
		                <p class="mb-1">{{'education.header.subte' | translate}}</p>
		            <h1 class="pt-0">{{'education.header.title' | translate}}</h1>
		            <p>{{'education.header.body1' | translate}}</p>
		                <p>{{'education.header.body2' | translate}}</p>
		        </div>
		    </div>
		    <div class="col-md-6 text-center">
		        <img class="img-fluid mt-4" [src]=urlimg />
		    </div>
		</div>


		<div class="m-2 p-2"></div>

		<div class="section">
		    <h3>{{'education.section1.title' | translate}}</h3>
		    <p>{{'education.section1.text1' | translate}}</p>
		    <p>{{'education.section1.text2' | translate}}</p>
		    <p>{{'education.section1.text3' | translate}}</p>
		    <p>{{'education.section1.text4' | translate}}</p>
		    <p>{{'education.section1.text5' | translate}}</p>
		    <p>{{'education.section1.text6' | translate}}</p>
		</div>

		<div class="section">
		    <h3>{{'education.section2.title' | translate}}</h3>
		    <p>{{'education.section2.text1' | translate}}</p>
		    <p>{{'education.section2.text2' | translate}}</p>
		    <ul>
		        <li>{{'education.section2.item1' | translate}}</li>
		        <li>{{'education.section2.item2' | translate}}</li>
		    </ul>
		</div>

		<div class="section">
		    <h3>{{'education.section3.title' | translate}}</h3>
		    <p>{{'education.section3.text1' | translate}}</p>

		    <h4>{{'education.section3.subte1' | translate}}</h4>
		    <p>{{'education.section3.text2' | translate}}</p>

		    <h4>{{'education.section3.subte2' | translate}}</h4>
		    <p>{{'education.section3.text3' | translate}}</p>

		    <h4>{{'education.section3.subte3' | translate}}</h4>
		    <p>{{'education.section3.text4' | translate}}</p>

		    <h4>{{'education.section3.subte4' | translate}}</h4>
		    <p>{{'education.section3.text5' | translate}}</p>

		    <ul>
		        <li>{{'education.section3.item1' | translate}}</li>
		        <li>{{'education.section3.item2' | translate}}</li>
		        <li>{{'education.section3.item3' | translate}}</li>
		        <li>{{'education.section3.item4' | translate}}</li>
		    </ul>
		    <p>{{'education.section3.text6' | translate}}</p>
		</div>

		<div class="m-4 p-4"></div>

		<hr />
		<div class="row">
      <div class="col-md-7 offset-md-4">
          <div class="section2 pb-4 pt-4">
		            <h3 class="m-0">{{'education.donate.title1' | translate}}</h3>
		            <h3 class="m-0">{{'education.donate.title2' | translate}}</h3>
		        </div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-3 offset-md-1 mb-4">
		        <div class="text-center">
		            <img class="img-fluid" src="assets/img/home/Mesa de trabajo 92_Dx29.png" />
		        </div>
		    </div>
		    <div class="col-md-7">
		        <div class="donate">
		            <p>{{'education.donate.text' | translate}}</p>
		            <a class="btn btn-danger btn-lg btn-raised" href="https://www.foundation29.org/donate/" target="_blank">{{'home.donate.strong' | translate}}</a>
		        </div>
		    </div>
		</div>

		<p>&nbsp;</p>
	</div>
</div>
