<!--<ngb-alert type="info" class="mt-2" [dismissible]="true" *ngIf="showMsgAlgorithms" (close)="closeMsgAlgorithms()">
  <div>
    <h4>Exomiser activitie</h4>
    <span>{{stateExomiser}}</span>
  </div>
</ngb-alert>-->
<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar" [ngClass]="((role == 'Clinical' || role == 'Lab') && isClinicalPage)?'menuClinic-sm':''" >
    <div class="container-fluid">
      <div> <!--*ngIf="role != 'Clinical' && role != 'Lab'"-->
          <button type="button" class="mt-2 d-lg-none navbar-toggle float-left" data-toggle="collapse" (click)="toggleSidebar()">
              <span class="sr-only">{{'navbar.Toggle navigation' | translate }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <span class="navbar-header-logos">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-Dx29.png' />
            <img *ngIf="!isHomePage" style="cursor:pointer;" class="logo-img" src='assets/img/logo-Dx29.png' [routerLink]="redirectUrl" />
          </span>
      </div>
      <div class="" *ngIf="(role == 'Clinical' || role == 'Lab') && !isClinicalPage && !isHomePage">
        <div class="navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav m-r-0">
              <li class="nav-item d-none d-lg-block" style="line-height: 1rem;">
                <a class="font-weight-bold" [routerLink]="redirectUrl" >
                  <span class="btn-no-style cursor-pointer" style="margin-bottom: 0;">{{'diagnosis.BackCases' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="" *ngIf="(role == 'Clinical' || role == 'Lab') && isClinicalPage">
        <div class="navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav m-r-0">
              <li class="nav-item d-none d-lg-block mt-2" style="line-height: 1rem;">
                <a class="font-weight-bold" [routerLink]="redirectUrl" title="{{'diagnosis.BackCases' | translate }}">
                  <span class="btn-no-style cursor-pointer" style="margin-bottom: 0;">{{'diagnosis.BackCases' | translate }}</span>
                </a>
                <span class="font-weight-bold mr-1 ml-1"> > </span>
              </li>
              <img class="avatar float-left" src="assets/img/avatar/png/sm/{{selectedPatient.avatar}}.png" />
              <li class="nav-item" style="line-height: 1rem;">
                <span class="d-block font-weight-bold mb-1">
                  <span> {{selectedPatient.patientName}}</span>
                </span>
                <span class="text-muted">
                  <span>{{'topnavbar.age' | translate }}: </span>
                  <span *ngIf="age!=null">
                    <span *ngIf="age.years>0">{{age.years}} {{'topnavbar.year' | translate }}<span *ngIf="age.years>1">s</span> <span *ngIf="age.months>0">, </span></span>
                    <span *ngIf="age.months>0">{{age.months}} <span *ngIf="age.months<=1">{{'topnavbar.month' | translate }}</span><span *ngIf="age.months>1">{{'topnavbar.months' | translate }}</span></span>
                    <span *ngIf="age.months==0 && age.years==0" title="Tiene menos de un mes de vida">0 {{'topnavbar.months' | translate }}</span>
                  </span>
                  <span *ngIf="age==null">
                    -
                  </span>
                </span>
              </li>
                <li class="nav-item mr-2 d-block d-xl-none" *ngIf="maxStep>='5.0'">
                  <span class="nav-item text-muted" ngbDropdown display="dynamic" placement="bottom-right">
                      <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownsections" ngbDropdownToggle title="{{'generics.Options' | translate }}">
                          <i class="fas fa-ellipsis-v"></i>
                          <p class="d-none">Group</p>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownsections" class="dropdownsections text-muted">
                          <a class="dropdown-item py-1" href="javascript:;" title="Wizard">
                            <span class="d-inline-block" [ngClass]="(actualStep < '5.0' && maxStep<'5.0' )?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' )?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Wizard' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="startWizardAgain();">{{'topnavbar.Wizard' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="Reports">
                            <span class="d-inline-block" [ngClass]="(actualStep == '4.0' && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='4.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Reports' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToReports()">{{'topnavbar.Reports' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="{{'diagnosis.Symptoms' | translate }}">
                            <span class="d-inline-block" [ngClass]="(actualStep == '1.0' && maxStep>='5.0' )?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='1.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Symptoms'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('1.0', false, null)">{{'topnavbar.Symptoms' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="{{'diagnosis.Genetics' | translate }}">
                            <span class="d-inline-block" [ngClass]="((actualStep == '2.0' || actualStep == '2.1') && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='2.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Genetics'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('2.0', false, null)">{{'topnavbar.Genetics' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="Analizar">
                            <span class="d-inline-block" [ngClass]="((actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2') && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted btn-header'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='3.0' && actualStep !='3.1' && actualStep !='3.2'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Analizar' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('3.0', false, null)">{{'topnavbar.Analyze' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="Diagnoses">
                            <span class="d-inline-block" [ngClass]="(actualStep == '5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted btn-header'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='5.0'))?'cursor-pointer':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Diagnoses' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('5.0', false, null)">{{'topnavbar.Diagnoses' | translate }}</button>
                            </span>
                          </a>
                          <a class="dropdown-item py-1" href="javascript:;" title="{{'diagnosis.Summary' | translate }}">
                            <span class="d-inline-block" [ngClass]="(actualStep == '6.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                                <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='6.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Summary'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('6.0', false, null)">{{'topnavbar.Summary' | translate }}</button>
                            </span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item py-1" href="javascript:;" (click)="shareApp(shareTo)" title="Share">
                              <span> <span> <i class="icon-share primary"></i></span> <span class="col-md-10">{{'topnavbar.Share' | translate }}</span></span>
                          </a>
                      </div>
                  </span>
                </li>
              </ul>
          </div>
      </div>
        <div class="d-none d-xl-block" *ngIf="(role == 'Clinical' || role == 'Lab') && isClinicalPage && maxStep>='5.0'">
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-r-0">
                  <li class="nav-item mr-2">
                    <div>
                      <span class="d-inline-block mr-2" [ngClass]="(actualStep < '5.0' && maxStep<'5.0' )?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' )?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Wizard' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="startWizardAgain();">{{'topnavbar.Wizard' | translate }}</button>
                      </span>
                      <span class="d-inline-block mr-2 ml-2" [ngClass]="(actualStep == '4.0' && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='4.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Reports' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToReports()">{{'topnavbar.Reports' | translate }}</button>
                      </span>
                      <span class="d-inline-block mr-2 ml-2" [ngClass]="(actualStep == '1.0' && maxStep>='5.0' )?'border-bottom border-bottom-2 border-primary ':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='1.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Symptoms'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('1.0', false, null)">{{'topnavbar.Symptoms' | translate }}</button>
                      </span>
                      <span class="d-inline-block mr-2 ml-2" [ngClass]="((actualStep == '2.0' || actualStep == '2.1') && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='2.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Genetics'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('2.0', false, null)">{{'topnavbar.Genetics' | translate }}</button>
                      </span>
                      <span class="d-inline-block mr-2 ml-2" [ngClass]="((actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2') && maxStep>='5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='3.0' && actualStep !='3.1' && actualStep !='3.2'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Analizar' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('3.0', false, null)">{{'topnavbar.Analyze' | translate }}</button>
                      </span>
                      <span class="d-inline-block mr-2 ml-2" [ngClass]="(actualStep == '5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='5.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? 'Diagnoses' : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('5.0', false, null)">{{'topnavbar.Diagnoses' | translate }}</button>
                      </span>
                      <span class="d-inline-block ml-2" [ngClass]="(actualStep == '6.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0' && (actualStep !='6.0'))?'cursor-pointer btn-header':'inactiveLink'" title="{{(maxStep>='5.0' ) ? ('diagnosis.Summary'|translate) : 'no permitido'}}" [disabled]="(maxStep<'5.0')" (click)="goToStep('6.0', false, null)">{{'topnavbar.Summary' | translate }}</button>
                      </span>
                      <!--<span class="d-inline-block ml-2" [ngClass]="(actualStep == '5.0' && maxStep=='5.0')?'border-bottom border-bottom-2 border-primary':'border-bottom border-bottom-0 text-muted'">
                          <button class="btn-no-style" [ngClass]="(maxStep>='5.0')?'cursor-pointer':'inactiveLink'" [disabled]="(maxStep<'5.0')" (click)="goToStep('5.0', false, null)">Diagnoses</button>
                      </span>-->
                    </div>
                  </li>
                  <li class="nav-item mr-2">
                  <span class="nav-item text-muted" ngbDropdown display="dynamic" placement="bottom-right" title="{{'generics.Options' | translate }}">
                      <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownLang" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                          <p class="d-none">Group</p>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang text-muted">
                          <a class="dropdown-item py-1" href="javascript:;" (click)="shareApp(shareTo)" title="Share">
                              <span> <span> <i class="icon-share primary"></i></span> <span class="col-md-10">{{'topnavbar.Share' | translate }}</span></span>
                          </a>
                      </div>
                  </span>
                  </li>

                </ul>
            </div>
        </div>
        <div class="d-none d-lg-block" *ngIf="role == 'User'">
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-r-0">
                <li class="mr-2 active nav-link" *ngIf="actualUrl!='/patient/dashboard/nodiagnosis' && actualUrl!='/patient/dashboard/withdiagnosis'">
                  <a  [routerLink]="redirectUrl">
                    <h3 style="margin-bottom: 0;">{{'dashboardpatient.BackMydata' | translate }}</h3>
                  </a>
                </li>
                <li class="mr-2 active nav-link disabled" *ngIf="actualUrl=='/patient/dashboard/nodiagnosis' || actualUrl=='/patient/dashboard/withdiagnosis'">
                  <a>
                    <h3 style="margin-bottom: 0;">{{'dashboardpatient.My data' | translate }}</h3>
                  </a>
                </li>
              </ul>
          </div>
      </div>
      <div class="d-none d-lg-block" *ngIf="role == 'Admin'">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-r-0">
              <li class="mr-2 active nav-link" *ngIf="actualUrl!='/admin/dashboard/admingtp'">
                <a  [routerLink]="redirectUrl">
                  <h3 style="margin-bottom: 0;">{{'adminGTP.BackGTPData' | translate }}</h3>
                </a>
              </li>
              <li class="mr-2 active nav-link disabled" *ngIf="actualUrl=='/admin/dashboard/admingtp'">
                <a>
                  <h3 style="margin-bottom: 0;">{{'adminGTP.GTP data' | translate }}</h3>
                </a>
              </li>
            </ul>
        </div>
    </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                  <li class="nav-item" ngbDropdown display="dynamic" [placement]="placement" *ngIf="(role == 'Clinical' || role == 'Lab') && tasks.length>0">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle title="Notifications">
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span class="notification badge badge-pill badge-danger">{{tasks.length}}</span>
                            <p class="d-none">Notifications</p>
                        </a>
                        <div class="notification-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <div>
                                <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4" style="cursor: pointer;" *ngFor="let task of tasks ; let j = index">
                                    <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 info">{{'topnavbar.Analyzing information' | translate }}</span>
                                        <span class="noti-text">
                                          <span>
                                            <strong>{{'topnavbar.Patient' | translate }}: </strong>
                                            <span *ngIf="task.status!='Succeeded'">{{task.patientName}}</span>
                                            <span *ngIf="task.status=='Succeeded'"><a class="primary" (click)="goToPatient(task.patientId, j)">{{task.patientName}}</a></span>
                                          </span>
                                          <span class="ml-2">
                                            <strong>{{'topnavbar.Status' | translate }}: </strong>
                                            <span *ngIf="task.status=='Created'">{{'topnavbar.Created' | translate }}</span>
                                            <span *ngIf="task.status=='Running'">{{'topnavbar.Running' | translate }}</span>
                                            <span *ngIf="task.status=='Succeeded'">{{'topnavbar.Succeeded' | translate }}</span>
                                            <span *ngIf="task.status=='Failed'">{{'topnavbar.Failed' | translate }}</span>
                                          </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1" (click)="clearNotifications()">{{'topnavbar.Clear notifications' | translate }}</a>
                        </div>
                    </li>
                  <li class="nav-item mr-2">
                      <a href="javascript:;" class="nav-link" id="buttonShareTo" (click)="shareApp(shareTo)" *ngIf="role=='User' || ((role == 'Clinical' || role == 'Lab') && isHomePage)" title="Share">
                          <i class="icon-share font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">Share</p>
                      </a>
                  </li>
                  <!--<li class="nav-item mr-2" *ngIf="!isApp">
                      <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">
                          <i class="{{toggleClass}} + ' ' + font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">{{'navbar.fullscreen' | translate }}</p>
                      </a>
                  </li>-->

                  <li class="nav-item mr-2" ngbDropdown display="dynamic" [placement]="placement" *ngIf="role == 'Clinical' || role == 'Lab'" [ngClass]="((role == 'Clinical' || role == 'Lab') && isClinicalPage) ?'d-none d-lg-block':''">
                      <a class="nav-link position-relative" id="dropdownBasic1" ngbDropdownToggle title="Help">
                          <i class="ft-help-circle font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">Help</p>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <a class="dropdown-item py-1" routerLink="/pages/support">
                              <i class="ft-mail mr-2"></i>
                              <span>{{'support.support' | translate }}</span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" routerLink="/clinical/about">
                              <i class="ft-book mr-2"></i>
                              <span>{{'about.title' | translate }}</span>
                          </a>
                      </div>
                  </li>
                  <li class="nav-item mr-2" *ngIf="role == 'User'">
                      <a class="nav-link position-relative notification-sidebar-toggle" routerLink="/pages/support" title="{{'support.support' | translate }}">
                          <i class="ft-mail font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">{{'support.support' | translate }}</p>
                      </a>
                  </li>
                  <li class="nav-item" ngbDropdown display="dynamic" [placement]="placement"  [ngClass]="((role == 'Clinical' || role == 'Lab') && isClinicalPage) ?'d-none d-lg-block':''">
                      <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle title="{{'generics.Options' | translate }}">
                          <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">{{'navbar.User Settings' | translate }}</p>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                          <a class="dropdown-item py-1" routerLink="/pages/profile">
                              <i class="ft-edit mr-2"></i>
                              <span>{{'navbar.My Profile' | translate }}</span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:;" (click)="logout()">
                              <i class="ft-power mr-2"></i>
                              <span>{{'navbar.Logout' | translate }}</span>
                          </a>
                          <div *ngIf="isApp && isAndroid" class="dropdown-divider"></div>
                          <a *ngIf="isApp && isAndroid" class="dropdown-item" href="javascript:;" (click)="exit()">
                              <i class="ft-log-out mr-2"></i>
                              <span>{{'navbar.Exit' | translate }}</span>
                          </a>
                      </div>
                  </li>
                  <li class="nav-item mr-2" *ngIf="(role == 'Clinical' || role == 'Lab') && isClinicalPage" [ngClass]="((role == 'Clinical' || role == 'Lab') && isClinicalPage) ?'d-block d-lg-none':''">
                      <a class="nav-link" href="javascript:;" (click)="logout()" title="{{'navbar.Logout' | translate }}">
                        <i class="ft-log-out mr-2"></i>
                        <p class="d-none">{{'navbar.Logout' | translate }}</p>
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Navbar (Header) Ends -->
<ng-template #shareTo let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
			<h4>{{'sharesection.Sharing menu' | translate }}
        <span *ngIf="role =='User'" class="font-small-2 d-block mt-1">{{'patdiagdashboard.msgshare' | translate }}</span>
        <span *ngIf="role !='User'" class="font-small-2 d-block mt-1">{{'patdiagdashboard.msgshareClinician' | translate }}</span>
      </h4>

			<button type="button" class="close" aria-label="Close" (click)="c('Close click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    <div *ngIf="loading" class="center-elements mt-3 mb-3">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i>
    </div>

      <form #f="ngForm">
        <div *ngIf="!loading">
          <div class="mt-2">
            <div class="col-md-12 mt-3">
    					<div class="form-group">
    						<label>{{'sharesection.Invite' | translate }}*</label>
                <select id="roleShare" name="roleShare" class="form-control" ngModel required [(ngModel)]="roleShare">
                  <option value="User">{{'dashboardpatient.Send invite to use Dx29' | translate }}</option>
                  <option value="Clinical" [disabled]="patients.length==0">{{'dashboardpatient.Share your data anonymously' | translate }} <span *ngIf="patients.length==0">({{'permissions.can not share with clinicians' | translate }}) </span></option>
                </select>
    					</div>
    				</div>
            <div class="col-md-12">
    					<div class="form-group">
    						<label>{{'generics.Email' | translate }}*</label>
    						<input type="email" class="form-control" name="emailt" id="emailt" placeholder="{{'generics.Email' | translate }}" ngModel [(ngModel)]="email" required emailt #emailt="ngModel">
    						<small class="form-text text-muted danger" *ngIf="!emailt.valid && (emailt.dirty || emailt.touched)">{{'generics.entervalidemail' | translate }}</small>
    					</div>
    				</div>
            <div class="col-md-12 mt-2" *ngIf="roleShare=='Clinical' && patients.length>0 && role !='User'">
              <div class="form-group">
                <label>{{'diagnosis.Select case' | translate }}</label>
               <select id="selectedPatient" id="selectedPatient" name="selectedPatientj" class="form-control"  [(ngModel)]="selectedPatient.sub" (ngModelChange)="onChangePatient(selectedPatient)">
                  <option *ngFor="let onepatient of patients" [ngValue]="onepatient.sub"><span *ngIf="onepatient.alias">{{onepatient.alias}}</span><span *ngIf="!onepatient.alias">{{onepatient.patientName}}</span></option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12" *ngIf="roleShare=='Clinical' && isMine">

              <p *ngFor="let onepatient of patients">
                <span *ngIf="onepatient.sub == selectedPatient.sub">
                  <!--<h5>Items to share</h5>
                  <mat-checkbox class="example-margin" [checked]="true" [disabled]="true">{{'permissions.List of symptoms' | translate }}</mat-checkbox>
                  <mat-checkbox class="example-margin d-block" [checked]="true" [disabled]="true">{{'permissions.Genetics information if available' | translate }}</mat-checkbox>-->
                  <label class="mb-0" for="Permissions">{{'permissions.Permissions' | translate }}</label>
                  <span class="d-block mb-1" for="Permissions">{{'sharesection.What can it be done' | translate }}</span>
                  <!--<mat-checkbox class="example-margin" [disabled]="!onepatient.ismine" name="shareEmr" ngModel  [(ngModel)]="permissions.shareEmr" #shareEmr="ngModel" id="shareEmr">{{'permissions.Share EMR' | translate }}</mat-checkbox>-->
                  <mat-checkbox class="example-margin" [disabled]="!onepatient.ismine" name="askFirst" ngModel (change)="setPermissionsForm('askFirst')" [(ngModel)]="permissions.askFirst" #askFirst="ngModel" id="askFirst">{{'permissions.Ask before sharing' | translate }}</mat-checkbox>
                  <mat-checkbox class="ml-2 example-margin" [disabled]="!onepatient.ismine" name="shareWithAll" ngModel (change)="setPermissionsForm('shareWithAll')" [(ngModel)]="permissions.shareWithAll" #shareWithAll="ngModel" id="shareWithAll">{{'permissions.Sharing with third parties' | translate }}</mat-checkbox>
                  <span *ngIf="!onepatient.ismine" class="text-muted d-block">{{'permissions.message to deny permission' | translate }}</span>
                </span>
              </p>

            </div>
        </div>
        <div class="col-md-12" *ngIf="roleShare=='Clinical' && selectedPatient.sub">
          <div *ngIf="!isMine && permissions.askFirst" class="col-md-12">
            {{'permissions.normal request with form' | translate }}
          </div>
          <div *ngIf="!isMine && !permissions.askFirst && !permissions.shareWithAll" class="col-md-12">
            {{'permissions.Make full request' | translate }}
          </div>

          <div>
            <div class="form-group">
              <label for="message">{{'support.Message' | translate }}</label>
              <textarea name="message" id="textarea1" (ngModelChange)="resizeTextArea()" placeholder="{{'sharesection.Write a message for the receptor' | translate }}" class="autoajustable form-control" [(ngModel)]="message"></textarea>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="center-elements" *ngIf="!sending">
            <div *ngIf="f.valid;then formValid else formError"></div>
            <ng-template #formValid>
              <button class="btn btn-primary btn-outline-primary" (click)="inviteShare()"> <span *ngIf="roleShare=='User'">{{'dashboardpatient.Invite' | translate }}</span><span *ngIf="roleShare!='User'">{{'dashboardpatient.Share' | translate }}</span></button>
            </ng-template>
            <ng-template #formError>
              <button class="btn btn-primary btn-outline-primary" type="button" disabled="true" (click)="submitInvalidForm()"> <span *ngIf="roleShare=='User'">{{'dashboardpatient.Invite' | translate }}</span><span *ngIf="roleShare!='User'">{{'dashboardpatient.Share' | translate }}</span></button>
            </ng-template>
          </div>
          <div class="center-elements" *ngIf="sending">
            <p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
          </div>
        </div>
        </div>
      </form>

      <div class="col-md-12 bg-grey bg-lighten-3 pt-2 mt-2" *ngIf="listOfSharingAccounts.length>0 && !sending && !loading">
        <div>
          <h5>{{'dashboardpatient.Shared with' | translate }}:</h5>
        </div>
        <div class="table-responsive">
          <table class="col-md-12 table" *ngIf="!revonking">
            <thead>
              <tr>
                <th *ngIf="role!='User'" style="width:20%">{{'diagnosis.Case' | translate }}</th>
                <th style="width:20%">{{'generics.Email' | translate }}</th>
                <th style="width:10%">{{'sharesection.Role' | translate }}</th>
                <th style="width:10%">{{'generics.Sharing date' | translate }}</th>
                <th style="width:20%">{{'permissions.Permissions' | translate }}</th>
                <th style="width:20%">{{'generics.Status' | translate }}</th>
                <th style="width:10%">{{'generics.Options' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of listOfSharingAccounts ; let i = index">
                <td *ngIf="role!='User'">{{account.patientName}}</td>
                <td>{{account.email}}</td>
                <td>{{account.role}}</td>
                <td>{{account.date | date}}</td>
                <td>
                  <p *ngIf="account.permissions && account.role != 'User'">
                    <!--<span *ngIf="account.permissions.shareEmr" class="d-block">{{'permissions.Share EMR' | translate }} </span>-->
                    <span *ngIf="account.permissions.askFirst" class="d-block">{{'permissions.Ask before sharing' | translate }} </span>
                    <span *ngIf="account.permissions.shareWithAll" class="d-block">{{'permissions.Sharing with third parties' | translate }} </span>
                    <span class="d-block"><i class="fa fa-edit" style="cursor: pointer;" title="Importance" (click)="changePermissions(i, contentChangePermissions)"></i></span>
                  </p>
                  <p *ngIf="!account.permissions || account.role == 'User'">
                    <span> - </span>
                  </p>
                </td>
                <td>
                  <span *ngIf="account._id==null && account.role == 'User'">Invited</span>
                  <!--<span *ngIf="account._id==null && account.role != 'User' && account.state == 'Pending'">{{'generics.Pending' | translate }}</span>-->
                  <span *ngIf="account.role != 'User' && account.state == 'Pending'">{{'generics.Pending' | translate }}</span>
                  <span *ngIf="(account._id==null && account.role != 'User' && account.state == '') || account._id != null && account.state != 'Pending' && account.state != 'Rejected'">{{'generics.Shared' | translate }}</span>
                  <span *ngIf="account.state == 'Rejected'">{{'generics.Rejected' | translate }}</span>
                </td>
                <td>
                  <span>
                    <a *ngIf="(account._id==null && account.state == 'Pending') && account.state != 'Rejected'" class="primary" data-original-title="" title="{{'generics.Resend' | translate }}" (click)="resend(i)">
                      <i class="fa fa-repeat"></i>
                    </a>
                    <a *ngIf="(account._id==null || account.state == 'Pending') && account.state != 'Rejected' && myUserId !=account.invitedby" class="primary" data-original-title="" title="{{'generics.Resend' | translate }}" (click)="acceptReject(i, 'true')">
                      {{'generics.Accept' | translate }}
                    </a>
                    <a *ngIf="(account._id==null || account.state == 'Pending') && account.state != 'Rejected' && myUserId !=account.invitedby" class="danger" data-original-title="" title="{{'generics.Resend' | translate }}" (click)="acceptReject(i, 'false')">
                      {{'generics.Reject' | translate }}
                    </a>
                  </span>
                  <span class="pull-right">
                    <a class="danger" data-original-title="" title="{{'generics.Delete' | translate }}" (click)="confirmRevokePermission(i)">
                      <i class="ft-x"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="centerSpinner" *ngIf="revonking"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
        </div>
      </div>
</ng-template>

<ng-template #contentChangePermissions let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
				<h4 class="modal-title">{{'permissions.Permissions' | translate }}</h4>
		</div>
		<div class="modal-body">
			<div class="col-md-6">
        <div class="form-group">
					<!--<p>
						<mat-checkbox class="example-margin" name="shareEmr" ngModel  [(ngModel)]="shareWithObject.permissions.shareEmr" #shareEmr="ngModel" id="shareEmr" (change)="setPermissions('shareEmr')">{{'permissions.Share EMR' | translate }} </mat-checkbox>
					</p>-->
					<p>
						<mat-checkbox class="example-margin" name="askFirst" ngModel  [(ngModel)]="shareWithObject.permissions.askFirst" #askFirst="ngModel" id="askFirst" (change)="setPermissions('askFirst')">{{'permissions.Ask before sharing' | translate }} </mat-checkbox>
					</p>
					<p>
						<mat-checkbox class="example-margin" name="shareWithAll" ngModel  [(ngModel)]="shareWithObject.permissions.shareWithAll" #shareWithAll="ngModel" id="shareWithAll" (change)="setPermissions('shareWithAll')">{{'permissions.Sharing with third parties' | translate }} </mat-checkbox>
					</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-actions center" *ngIf="!sending">
					<button type="button" class="btn btn-secondary btn-raised" (click)="closeContentChangePermissions(shareTo)">{{'generics.Close' | translate }}</button>
			</div>
		</div>
</ng-template>
