.logo-img {
  width: 60px;
}

.menuClinic-sm{
  padding: 1em;
}

.btn-header:hover {
  border-bottom-width: 2px !important;
  border-color: #009DA0 !important;
  border-bottom: 2px solid #009DA0 !important;
}

@media ( max-width: 991.98px ){
.navbar-container {
    width: unset !important;
  }

  .navbar-header {
      width: unset !important;
    }
}
@media ( max-width: 600px ){
.font-alert {
    font-size: 0.7rem;
  }
}

@media (max-width: 481px) {


  .navbar-header-logos{
    max-width: 50px;
  }
}

@media (max-width: 377px) {
  .navbar-container{
    margin-top:1em;
  }

  .logo-img{
    width: 50px;
  }

  .custom-navbar{
    padding: 0.4em;
  }

  .btn-navbar{
    padding: 0.175rem 0.35rem;
  }

}

@media (max-width: 320px) {
  .navbar .navbar-nav{
    display: ruby-base !important;
  }
  .logo-img{
    width: 40px;
  }

}
