<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right" (click)="backTimeline('true');">
        <em class="mr-1 ft-x white"
          title="{{'land.diagnosed.timeline.exit' | translate}}" (click)="backTimeline('true')"
          style="cursor: pointer;"></em>
        <span>{{'land.diagnosed.timeline.exit' | translate}}</span>
      </button>
      <button *ngIf="showTimeLine"type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right" (click)="backTimeline('false');">
        <em class="mr-1 fa fa-refresh white"
          title="{{'land.diagnosed.timeline.reset' | translate}}" (click)="backTimeline('false')"
          style="cursor: pointer;"></em>
        <span>{{'land.diagnosed.timeline.reset' | translate}}</span>
      </button>
      <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-sm btn-raised mr-2 float-right" (click)="exportTimeline()">
        <em class="mr-1 fa fa-download white"
          title="{{'land.Download results' | translate }}" (click)="exportTimeline()"
          style="cursor: pointer;"></em>
          <span>{{'land.Download results' | translate }}</span>
      </button>
      
    </div>
    <div class="col-md-6 mt-1" *ngIf="!modifyFormSymtoms">
        <div class="table-responsive">
          <table class="table mb-0 text-center d-none d-sm-block">
            <tbody style="width: 100%;display: inline-table;">
              <tr *ngFor="let symptom of listSymptoms ; let i = index">
                <td class="row text-left">
                  <div class="col-md-12">
                    <span *ngIf="symptom.name" (click)="showMoreInfoSymptomPopup(symptom);" class="info">{{symptom.name}}</span>
                    <span *ngIf="!symptom.name">
                      {{symptom.id}} ({{'phenotype.Deprecated' | translate}}) <a
                        href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                        title="{{symptom.id}}">
                        <i class="ft-external-link"></i></a>
                    </span>
                  </div>
                  <div class="col-md-6 mt-3">
                    <label for="dateOnset"> {{'generics.Start Date' | translate }} </label>
                    <input type="date" id="dateOnset_{{i}}" class="form-control" name="dateOnset" [(ngModel)]="symptom.onsetdate" (change) = "updateTimeline();">
                  </div>
                  <div class="col-md-6 mt-3">
                    <label for="dateFinish"> {{'generics.End Date' | translate }} </label>
                    <input type="date" id="dateFinish_{{i}}" class="form-control" name="dateFinish" [(ngModel)]="symptom.finishdate" (change)="updateTimeline();" [disabled]="(!symptom.checked)||(symptom.isCurrentSymptom)||(symptom.onsetdate==undefined)">
                    <small class="text-left form-text danger" *ngIf="symptom.invalidFinishdate">{{'land.diagnosed.timeline.errorDates' | translate}}</small>
                  </div>
                  <div class="col-md-12 mt-2">
                    <mat-checkbox class="mt-1" name="isCurrentSymptom" [(ngModel)]="symptom.isCurrentSymptom" [disabled]="(!symptom.checked)||(symptom.onsetdate==undefined)" (change)="updateTimeline();"></mat-checkbox>
                    <label for="isCurrentSymptom"class="ml-1"> {{'land.diagnosed.timeline.currentSymptom' | translate}} </label>
                  </div>
                  <div class="col-md-12 mt-2 mb-2">
                    <input type="text" id="basicInput_{{i}}" placeholder="{{'generics.notes' | translate }}" class="form-control" [(ngModel)]="symptom.notes" [disabled]="(!symptom.checked)" (change)="updateTimeline()">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-6 mt-1" *ngIf="modifyFormSymtoms">
      <span ><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
    </div>
    <div class="col-md-6 mt-1" *ngIf="!showTimeLine">
      <div class="col-md-12">
        <span class="info">{{'land.diagnosed.timeline.title' | translate}}</span>
      </div>
      <div class="col-md-12">
        <p>{{'land.diagnosed.timeline.t2' | translate}}</p>
      </div>
    </div>
    <div class="col-md-6 mt-1" *ngIf="showTimeLine"> 
      <div class="col-md-12" id="mytimeline">
        <div *ngIf="!loadingTimeline">
          <section *ngIf="!isEmptyObject(dictionaryTimeline)||!isEmptyObject(listTimelineNull)" id="vertical-timeline-left" class="timeline-left timeline-wrapper col-sm-10 col-12 offset-sm-1">
            <div *ngIf="!isEmptyObject(dictionaryTimeline)">
              <div *ngFor="let year of dictionaryTimeline | keyvalue: keyAscOrder">
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-group">
                    <h5>
                      <span class="badge badge-primary cursor-default">{{year.key}}</span>
                    </h5>
                  </li>
                </ul>
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li *ngFor="let item of year.value | keyvalue: keyAscOrder" class="timeline-item">
                      <div *ngIf="item.key!=null" class="timeline-badge">
                        <span data-toggle="tooltip" placement="right" [ngbTooltip]="item.key" class="bg-primary bg-lighten-4" matBadge="{{item.value.length}}">
                          <i class="ft-calendar primary"></i>
                        </span>
                      </div>
                      <div *ngIf="item.key!=null" class="timeline-card card shadow-z-1">
                        <div class="card-content">
                          <div class="card-body">
                            <span class="card-title mb-0">{{item.key}}</span>
                            <hr class="mt-0 mb-2">
                            <div *ngFor="let symptom of item.value;">
                              <span *ngIf="symptom.name" class="info" style="cursor: pointer;" title="{{'generics.More information' | translate }} ({{symptom.id}})" (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                              <span *ngIf="!symptom.name">
                                {{symptom.id}} ({{'phenotype.Deprecated' | translate}}) 
                                <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                                  title="{{symptom.id}}">
                                  <i class="ft-external-link"></i>
                                </a>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="!isEmptyObject(dictionaryTimeline)&&(listTimelineNull.length>0)" class="col-md-12 mt-2"></div>
            <ul class="timeline" *ngIf="listTimelineNull.length>0">
              <li class="timeline-group">
                <h5>
                  <span class="badge badge-primary cursor-default"> {{'land.diagnosed.symptoms.NoOnset' | translate }} </span>
                </h5>
              </li>
              <li class="timeline-item">
                <div class="timeline-badge">
                  <span data-toggle="tooltip" title="{{'land.diagnosed.symptoms.GoPrevious' | translate }}" placement="right" class="bg-primary bg-lighten-4" matBadge="{{listTimelineNull.length}}" >
                    <i class="ft-help-circle primary"></i>
                  </span>
                </div>
                <div class="timeline-card card shadow-z-1">
                  <div class="card-content">
                    <div class="card-body">
                      <div *ngFor="let symptom of listTimelineNull">
                        <span *ngIf="symptom.name" class="info" style="cursor: pointer;" title="{{'generics.More information' | translate }} ({{symptom.id}})" (click)="showMoreInfoSymptomPopup(symptom)">{{symptom.name}}</span>
                        <span *ngIf="!symptom.name">
                          {{symptom.id}} ({{'phenotype.Deprecated' | translate}}) 
                          <a href="https://hpo.jax.org/app/browse/term/{{symptom.id}}" target="_blank"
                            title="{{symptom.id}}">
                            <i class="ft-external-link"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="col-md-12 center-elements mt-2">
        <button *ngIf="showTimeLine" type="button" class="btn btn-info btn-md btn-raised" (click)="exportTimeline()">
          <em class="mr-1 fa fa-download white"
            title="{{'land.Download results' | translate }}" (click)="exportTimeline()"
            style="cursor: pointer;"></em>
            <span>{{'land.Download results' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>