<a id="initpage"></a>
<div class="container-fluid m-0" style="background-color: #fff;">
        <main role="main" class="container module ptbxl pb-3">
          <div class="m-4 p-2"></div>

          <div class="row">
              <div class="col-md-6">
                  <div class="section">
                          <p class="mb-1">{{'professionals.title.title' | translate}}</p>
                      <h1 class="pt-0">{{'professionals.header.title' | translate}}</h1>
                      <p>{{'professionals.header.body1' | translate}}</p>
                          <div class="mb-4 p-2">
                              <a class="btn btn-danger mr-1 btn-lg btn-raised mb-0 btn-navbar" href="https://app.dx29.ai/Identity/Account/Register">{{'professionals.header.button' | translate}}</a>
                              <!--<button type="button" class="btn btn-danger btn-lg btn-raised" [routerLink]="['/register', { role: 'Clinical'}]">{{'professionals.header.button' | translate}}</button>-->
                          </div>
                  </div>
              </div>
              <div class="col-md-6 text-center">
                  <img class="img-fluid" src="assets/img/home/Mesa de trabajo 50_Dx29.png" />
              </div>
          </div>


          <div class="row">
              <div class="col-md-8 offset-md-2 mt-4">
                  <div class="section text-center m-4">
                      <h2>{{'professionals.section1.title' | translate}}</h2>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-4 mt-4">
              <div class="section">
                  <h2 class="text-red d-inline" style="font-size: 22px;">1.</h2>
                  <p class="ml-1 font-weight-bold m-0 d-inline">{{'professionals.section1.strong1' | translate}}</p>
                  <p class="mt-2">{{'professionals.section1.text1' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4 mt-4">
              <div class="section">
                  <h2 class="text-red d-inline" style="font-size: 22px;">2.</h2>
                  <p class="ml-1 font-weight-bold m-0 d-inline">{{'professionals.section1.strong2' | translate}}</p>
                  <p class="mt-2">{{'professionals.section1.text2' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4 mt-4">
              <div class="section">
                  <h2 class="text-red d-inline" style="font-size: 22px;">3.</h2>
                  <p class="ml-1 font-weight-bold m-0 d-inline">{{'professionals.section1.strong3' | translate}}</p>
                  <p class="mt-2">{{'professionals.section1.text3' | translate}}</p>
              </div>
          </div>

          </div>
          <div class="row">
              <div class="col-md-4 mt-4">
              <div class="section">
                  <h2 class="text-red d-inline" style="font-size: 22px;">4.</h2>
                  <p class="ml-1 font-weight-bold m-0 d-inline">{{'professionals.section1.strong4' | translate}}</p>
                  <p class="mt-2">{{'professionals.section1.text4' | translate}}</p>
              </div>
          </div>

          <div class="col-md-4 mt-4">
              <div class="section">
                  <h2 class="text-red d-inline" style="font-size: 22px;">5.</h2>
                  <p class="ml-1 font-weight-bold m-0 d-inline">{{'professionals.section1.strong5' | translate}}</p>
                  <p class="mt-2">{{'professionals.section1.text5' | translate}}</p>
              </div>
          </div>

          </div>

          <div class="row">
              <div class="col-md-8 offset-md-2 mt-4">
                  <div class="section text-center m-4">
                      <h2>{{'professionals.section2.title' | translate}}</h2>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 77Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">1.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong1' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text1' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 78Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">2.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong2' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text2' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 79Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">3.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong3' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text3' | translate}}</p>
              </div>
          </div>

          </div>
          <div class="row">
              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 80Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">4.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong4' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text4' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 82Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">5.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong5' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text5' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 82_1Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">6.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong6' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text6' | translate}}</p>
              </div>
          </div>

          </div>
          <div class="row">
              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 83Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">7.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong7' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text7' | translate}}</p>
              </div>
          </div>

              <div class="col-md-4">
              <div class="section">
                      <div class="text-center">
                          <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 84Dx29.png" />
                      </div>
                  <h2 class="text-red d-inline" style="font-size: 22px;">8.</h2>
                  <p class="font-weight-bold m-0 d-inline">{{'professionals.section2.strong8' | translate}}</p>
                  <p class="mt-2">{{'professionals.section2.text8' | translate}}</p>
              </div>
          </div>

          </div>

          <hr />

          <div class="row">
            <div class="col-md-7 offset-md-4">
                <div class="section2 pb-4 pt-4">
                      <h3 class="m-0">{{'professionals.donate.title1' | translate}}</h3>
                      <h3 class="m-0">{{'professionals.donate.title2' | translate}}</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 offset-md-1 mb-4">
                  <div class="text-center">
                      <img class="img-fluid" src="assets/img/home/Mesa de trabajo 92_Dx29.png" />
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="donate">
                      <p>{{'professionals.donate.text' | translate}}</p>
                      <a class="btn btn-danger btn-lg btn-raised" href="https://www.foundation29.org/donate/" target="_blank">{{'home.donate.strong' | translate}}</a>
                  </div>
              </div>
          </div>

          <p>&nbsp;</p>
        </main>
    </div>
