svg {
    width: 600px;
    height: 600px;
}

svg circle {
    fill: rgba(0,0,0,.5);
}

.legendmap{
  position: absolute;
  left: 20px;
}

div.component{
display: inline-block;
}


.d3-chart {
  width: 100%;
  height: 400px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}
