<div class="pt-3 pb-3 empty-padding-left border-top" style="display: flex;align-items: flex-end;">
  <span>
    <a href="https://www.foundation29.org" target="_blank"><img style="width: 100px;" src='assets/img/logo-foundation-twentynine-footer.png' /></a>
  </span>
  <span class="ml-2">
    <span class="ptm mb-0 mt-1">&copy;  {{currentDate | date: 'yyyy'}} {{'generics.Foundation 29' | translate }}</span>
    <a class="ml-2 danger" mailto="info@foundation29.org" href="mailto:info@foundation29.org">info@foundation29.org</a>
  </span>
</div>
