<section>
  <div class="mt-2 row m-0 grid-hover background-img">
    <div class="col-12">
          <div class="card-body">
            <div class="row m-0">
              <div class="col-lg-12 justify-content-center align-items-center text-center">
                <h1 class="card-title text-bold-500">
                  {{'land.title' | translate }}
                  <hr class="hr-custom">
                </h1>
                
                <p class="mt-3" [innerHTML]="'land.subtitle' | translate"></p>
              </div>
              <div class="col-md-12 align-items-center text-center">
                <div class="form-steps-container">
                  <span *ngFor="let step of steps; let i = index;" class="forstep">
                      <div [ngClass]="{ 'step-complete': step.isComplete, 'step-incomplete': !step.isComplete, 'step-current': (currentStep)?.stepIndex >= step.stepIndex,  'step-bubble-prev': (currentStep)?.stepIndex >= step.stepIndex,  'step-bubble-next': (currentStep)?.stepIndex < step.stepIndex}"
                          class="step-bubble">{{ step.stepIndex }}</div>
                      <div *ngIf="i < (steps)?.length - 1" class="step-divider" [ngClass]="((i < (steps)?.length - 1) && step.stepIndex>=currentStep.stepIndex)?'step-divider-prev':'step-divider-next'"></div>
                      <span class="step-title mt-2">{{step.title}} </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>

<button type="button" class="btn btn-secondary btn-raised" (click)="goPrevious()" [class.cursor-not-allowed]="currentStep.stepIndex==1" [disabled]="currentStep.stepIndex==1" [ngClass]="(currentStep.stepIndex!=1)?'btn btn-danger btn-raised':'btn btn-secondary btn-raised'">{{'generics.Previous' | translate }}</button>
<button type="button" class="btn btn-secondary btn-raised float-right" (click)="goNext()" [class.cursor-not-allowed]="currentStep.stepIndex==3" [disabled]="currentStep.stepIndex==3" [ngClass]="(currentStep.stepIndex<3)?'btn btn-danger btn-raised':'btn btn-secondary btn-raised'">{{'generics.Next' | translate }}</button>