.form-steps-container {
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 60px;
}

.step-bubble-next{
  padding: 8px;
  border: 3px solid #a1a09a;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #a1a09a;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
} 

.step-bubble-prev{
  padding: 8px;
  border: 3px solid #f9423a;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f9423a;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
} 

.step-divider-prev {
  height: 2px;
  background: #a1a09a;
  width: 100px;
  margin-top: -10px;
  margin-left: 35px;
  padding-left: 1em;
  margin-right: 15px;
}

.step-divider-next {
  height: 2px;
  background: #f9423a;
  width: 100px;
  margin-top: -10px;
  margin-left: 35px;
  padding-left: 1em;
  margin-right: 15px;
}

.step-current, .step-complete {
  background: #f9423a;
  color: white;
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}

.step-title{
  margin-left: -60px;
  width: 140px;
  display: block;
}

@media ( max-width: 575px ){
    
  .form-steps-container{
    margin-left: 2rem;
  }
}

@media ( max-width: 484px ){
    
  .form-steps-container{
    margin-left: 0rem;
  }
}
@media ( max-width: 484px ){
    
  .form-steps-container{
    display: inline-block;
  }
  .step-divider{
    display: none;
  }
  .step-title{
    margin-bottom: 0.75rem !important;
    margin-top: 0.1rem !important;
    display: inline;
    margin-left: 1em;
    width: auto;
  }

  .step-bubble{
    display: inline-flex !important;
  }

  .forstep{
    display: flex;
  }
}