.input-group{
  z-index: 0;
}

.card .card-block {
    padding: 1.5rem 1.5rem 1.5rem;
}

@media ( min-width: 768px ) {
  .panel-name-registration {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media ( min-width: 992px ) {
  .full-height{
    margin-top: 3em;
  }
}
