<!--Registration Page Starts-->
<section id="regestration">
    <div class="container-fluid">
        <div class="row almost-full-height-vh">
            <div class="row col-12  align-items-center justify-content-center">
                <div class="card col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 align-items-center">
                                <div *ngIf="!isVerifyemail && !isFailEmail" class="card-block mx-auto">
                                  <h2 class="card-title font-large-1 text-center content-header mb-3">{{'registration.Registration' | translate }}</h2>
                                    <form   (ngSubmit)="onSubmit()" #f="ngForm">
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                            <input type="text" class="form-control" name="userName" id="userName" placeholder="{{'generics.Name' | translate }}" ngModel required #userName="ngModel">
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate }}</small>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-mail"></i>
                                            </span>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="{{'generics.Email' | translate }}" [(ngModel)]="emailpar1" ngModel required email #email="ngModel">
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-mail"></i>
                                            </span>
                                            <input type="email" class="form-control" name="email2" id="email2" placeholder="{{'registration.Repeat email' | translate }}" [(ngModel)]="emailpar2" ngModel required email2 #email2="ngModel" [equalTo]="email">
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="email2.errors?.equalTo">{{'registration.The email do not match' | translate }}</small>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="{{'generics.Password' | translate }}" ngModel required #password="ngModel" minlength="8" maxlength="24">
                                        </div>

                                        <small class="form-text text-muted danger" *ngIf="!password.valid && (password.dirty || password.touched)">{{'generics.Passwordlength' | translate }}</small>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" name="password2" id="password2" placeholder="{{'generics.Repeat password' | translate }}" ngModel required  #password2="ngModel" [equalTo]="password">
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="password2.errors?.equalTo">{{'generics.Passwordnomatch' | translate }}</small>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-shield"></i>
                                            </span>
                                            <select id="role" name="role" class="form-control" ngModel [(ngModel)]="role" (change)="roleChange(role)">
                                  		        <option value="Clinical" selected>{{'registration.Im a clinician' | translate }}</option>
                                              <option value="Lab">{{'registration.Im belong to a lab' | translate }}</option>
                                              <option value="User">{{'registration.Im a patient' | translate }}</option>
                                  		      </select>
                                        </div>
                                      </div>
                                      <div class="form-group" *ngIf="role=='User'">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">
                                                <i class="ft-shield"></i>
                                            </span>
                                            <select id="subrole" name="subrole" class="form-control" ngModel [(ngModel)]="subrole">
                                              <option [value]="null" disabled selected>--{{'registration.select the type of patient1' | translate }}--</option>
                                  		        <option value="NoDiagnosis">{{'registration.nodiagnosis' | translate }}</option>
                                              <option value="HaveDiagnosis">{{'registration.havediagnosis' | translate }}</option>
                                              <option value="UncertainDiagnosis">{{'registration.uncertaindiagnosis' | translate }}</option>
                                  		      </select>
                                        </div>
                                      </div>
                                      <div *ngIf="!loadingLabs && role=='Lab'">
                                        <ng-template #rt let-r="result" let-t="term">
                    											{{ r.name}}
                    										</ng-template>
                    										<div class="form-group">
                    										<input #input class="input" type="text" name="modelTemp" class="form-control mb-3" [(ngModel)]="modelTemp" [ngbTypeahead]="searchLab" [resultTemplate]="rt" [inputFormatter]="formatter1" placeholder="{{'registration.SearchLabPlaceholder' | translate }}" (selectItem)="selected($event)" (input)="onSearchChange()"/>
                    										</div>
                                        <span class="btn btn-primary btn-sm selected" style="margin-right: 0.5em;" *ngFor="let item of selectedItems">
                    											<span style="color: black !important;">
                    										    {{item.name}}
                    										    <span class="close-selected" (click)="deleteItem(item)">&nbsp;x</span>
                    											</span>
                    									  </span>
                                        <span *ngIf="!foundlab && modelTemp && !searchinglab">
                                          <span class="btn btn-danger btn-sm selected" style="margin-right: 0.5em;" *ngIf="modelTemp.length>0">
                                            <span style="color: white !important;" (click)="addLab(modelTemp)">{{'registration.msgnewlab' | translate }}: {{modelTemp}}</span>
                                          </span>
                                        </span>
                                      </div>
                                      <p *ngIf="!openedTerms" class="font-small-2">
                                        {{'registration.IMPORTANT NOTE' | translate }}
                                      </p>
                                        <div class="form-group col-sm-offset-1">
                                          <mat-checkbox [attr.title]="!openedTerms ? 'You must read and understand the privacy policy in order to activate this field.' : 'This field is required'"
                                              class="example-margin"
                                              [disabled]="!openedTerms" name="terms" ngModel required #terms="ngModel" id="terms">

                                          </mat-checkbox>
                                          <label>
                                            <a (click)="openTerms()" class="ml-1 btn-flat btn-primary">
                                              <small style="margin-top: 1em;white-space: normal;text-transform: none;letter-spacing: 0px;"> {{'registration.I have read and understood the' | translate }}
                                              </small>
                                              <i class="ft-external-link"></i>
                                            </a>
                                          </label>
                                          <small class="form-text text-muted danger" *ngIf="!terms.valid && (terms.dirty || terms.touched) && openedTerms">{{'generics.required' | translate }}</small>
                                          <small class="form-text text-muted danger" *ngIf="!terms.valid && (terms.dirty || terms.touched) && !openedTerms">{{'registration.It is mandatory to read the privacy policy before continuing' | translate }}</small>
                                          <p *ngIf="openedTerms && role!='User'">
                                            <mat-checkbox
                                                class="example-margin"
                                                [disabled]="!openedTerms" name="terms2" ngModel required #terms2="ngModel" id="terms2">
                                              <label style="margin-top: 1em;white-space: normal;text-transform: none;letter-spacing: 0px;">
                                                <span>{{'dataprocessing.I agree with the' | translate }} <a class="btn-flat btn-primary" (click)="openDataProcessingAgreement()">{{'dataprocessing.data processing by DX29' | translate }}</a></span>
                                              </label>
                                            </mat-checkbox>
                                            <small class="form-text text-muted danger" *ngIf="!terms2.valid && (terms2.dirty || terms2.touched) && openedTerms">{{'generics.required' | translate }}</small>
                                            <small class="form-text text-muted danger" *ngIf="!terms2.valid && (terms2.dirty || terms2.touched) && !openedTerms">{{'registration.It is mandatory to read the privacy policy before continuing' | translate }}</small>
                                          </p>

                                        </div>
                                        <div class="form-group text-center">
                                            <button (click)="goToLogin()" type="button" class="btn btn-grey btn-outline-grey">{{'generics.Cancel' | translate }}</button>
                                            <span *ngIf="!sending">
                                              <div *ngIf="f.valid && openedTerms;then formValid else formError"></div>
                              								<ng-template #formValid><button class="ml-2 btn btn-primary btn-outline-primary" type="submit"> {{'registration.Get Started' | translate }}</button></ng-template>
                              								<ng-template #formError><button class="ml-2 btn btn-primary btn-outline-primary" type="button" (click)="submitInvalidForm()"> {{'registration.Get Started' | translate }}</button></ng-template>
                                            </span>
                                            <span *ngIf="sending">
                                              <i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="isEmailBusy" class="form-group text-center">
                                            <span class="pl-2 text-muted danger">{{'registration.email already exists' | translate }}</span>
                                        </div>
                                    </form>
                                </div>
                                <div *ngIf="isVerifyemail" class="card-block mx-auto">
                                  <div class="col-md-12 mb-2">
                                    <span class="">{{'registration.Check the email' | translate }} <a mailto="support@foundation29.org" href="mailto:support@foundation29.org">support@foundation29.org</a></span>
                                  </div>
                                  <div class="col-md-12">
                                    <button (click)="goToLogin()" type="button" class="btn btn-primary btn-block btn-raised">{{'menu.Login' | translate }}</button>
                                  </div>
                                </div>
                                <div *ngIf="isFailEmail" class="card-block mx-auto">
                                  <span class="pl-2 text-muted danger">{{'registration.could not be sent to activate' | translate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Registration Page Ends-->
