
<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>

		<div class="row">
		    <div class="col-md-12">
		        <div class="section">
		                <p class="mb-1">{{'menu.Genetic testing program' | translate}}</p>
		            <h1 class="pt-0 text-bold-600">100 diagnósticos</h1>
                <h1 class="pt-0"><ins>Programa de diagnóstico de enfermedades raras con test genético gratuito</ins></h1>
		        </div>
		    </div>
		</div>


		<div class="m-1 p-1"></div>

		<div class="section">
		    <h3>¿En que consiste?</h3>
		    <p>Buscamos a pacientes con indicios de padecer una enfermedad rara para que, junto a sus médicos, utilicen Dx29, una herramienta gratuita que facilita al profesional el proceso de diagnóstico.</p>
		    <p>El programa incluye un test genético, gratuito si el paciente no puede abonarlo.</p>
		</div>

		<div class="section">
		    <h3>¿Cuáles son los requisitos para participar?</h3>
		    <ul>
		        <li>Ser menor de seis años.</li>
		        <li>Tener síntomas de epilepsia y retraso en el desarrollo.</li>
            <li>Contar con un médico de referencia que supervise el caso. (Si no tienes un médico, contactanos.)</li>
            <li>Residir en España.</li>
		    </ul>
		</div>

		<div class="section">
		    <h3>¿Quién lanza el programa?</h3>
		    <p>Fundación 29, una organización sin ánimo de lucro que desarrolla soluciones para mejorar la calidad de vida de los pacientes de enfermedades raras.</p>
		    <p>La información y los datos del paciente se mantienen siempre seguros y privados. Solo se comparten, con su permiso, con el médico y los servicios que forman parte del proceso. No se usan con fines comerciales o se ceden a otros terceros.</p>
		</div>

    <div class="section">
		    <h3>¿Cómo funciona?</h3>
        <ol>
		        <li>Médico y paciente se dan de alta en Dx29 y el profesional prescribe el test genético.</li>
		        <li>El paciente realiza el test genético y los resultados se incorporan a Dx29.</li>
            <li>El médico recibe un aviso e inicia el estudio del caso en Dx29, con el apoyo de herramientas que haran el proceso más sencillo y preciso.</li>
            <li>Dx29 ofrecerá posiblidades diagnósticas que el profesional valorará para iniciar las pruebas necesarias que permitan alcanzar un diagnóstico definitivo.</li>
		    </ol>
		</div>
    <div class="section">
		    <h1>¿Estás interesado?</h1>
		    <p>Contacta con nosotros si estás interesado en participar o en que alguno de tus pacientes participen en el programa en info@foundation29.org o en el +34 XXX XXX XXX</p>
		</div>

		<p>&nbsp;</p>

    <div class="center-xs start-sm pb-4">
      <div class="card-block">
        <h1>FORMULARIO INICIAL PROGRAMA 100 DIAGNÓSTICOS </h1>
        <form class="mt-3 form" #f="ngForm">
          <div class="form-body row">
            <div class="col-md-6">
              <h4>Datos Paciente</h4>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Birth Date' | translate }}</label>
                <div>
                <input class="form-control" type="date" id="birthDate" name="birthDate" ngModel required #birthDate="ngModel" name="birthDate">
                    <small class="form-text text-muted danger" *ngIf="!birthDate.valid && (birthDate.dirty || birthDate.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="gender">{{'personalinfo.Gender' | translate }}</label>
                  <mat-radio-group required
                    aria-labelledby="gender"
                    class="example-radio-group d-block" ngModel required #gender="ngModel" name="gender" id="gender">
                    <mat-radio-button class="example-radio-button" value="male">
                    {{'personalinfo.Male' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="female">
                    {{'personalinfo.Female' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!gender.valid && (gender.dirty || gender.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="GES">Crisis epilépticas generalizadas</label> <a class="danger" (click)="showPanelMoreInfo(contentGES);" href="javascript:void(0)">({{'generics.More information' | translate }})</a>
                  <mat-radio-group required
                    aria-labelledby="GES"
                    class="example-radio-group d-block" ngModel required #GES="ngModel" name="GES" id="GES">
                    <mat-radio-button class="example-radio-button" value="yes">
                    {{'generics.Yes' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="no">
                    {{'generics.No' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!GES.valid && (GES.dirty || GES.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="developmentalDelay">Retraso en el desarrollo</label> <a class="danger" (click)="showPanelMoreInfo(contentDevelopmentalDelay);" href="javascript:void(0)">({{'generics.More information' | translate }})</a>
                  <mat-radio-group required
                    aria-labelledby="developmentalDelay"
                    class="example-radio-group d-block" ngModel required #developmentalDelay="ngModel" name="developmentalDelay" id="developmentalDelay">
                    <mat-radio-button class="example-radio-button" value="yes">
                    {{'generics.Yes' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="no">
                    {{'generics.No' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!developmentalDelay.valid && (developmentalDelay.dirty || developmentalDelay.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="consultationWithPediatric">¿Ha pasado consulta con un neuropediatra?</label> <a class="danger" (click)="showPanelMoreInfo(contentConsultationWithPediatric);" href="javascript:void(0)">({{'generics.More information' | translate }})</a>
                  <mat-radio-group required
                    aria-labelledby="consultationWithPediatric"
                    class="example-radio-group d-block" ngModel required #consultationWithPediatric="ngModel" name="consultationWithPediatric" id="consultationWithPediatric">
                    <mat-radio-button class="example-radio-button" value="yes">
                    {{'generics.Yes' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="no">
                    {{'generics.No' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!consultationWithPediatric.valid && (consultationWithPediatric.dirty || consultationWithPediatric.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Datos Personales Tutor </h4>
              <div class="">
                <div class="form-group">
                <label>{{'generics.Name' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="userName" name="userName" ngModel required #userName="ngModel" name="userName">
                  <small class="form-text text-muted danger" *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Last Name' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="lastName" name="lastName" ngModel required #lastName="ngModel" name="lastName">
                  <small class="form-text text-muted danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Phone' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="phone" name="phone" ngModel required #phone="ngModel" name="phone">
                  <small class="form-text text-muted danger" *ngIf="!phone.valid && (phone.dirty || phone.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'generics.Email' | translate }}</label>
                <div>
                  <input class="form-control" type="email" id="email" name="email" ngModel required #email="ngModel" email name="email">
                  <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <h4>Política de Privacidad para Formulario Programa 100D </h4>
              <p class="font-small-3">
                El responsable del tratamiento de los datos personales facilitados en el presente formulario es Fundación 29 (“Fundación 29”) quien los tratará con la finalidad de atender a tu solicitud para que te mantengamos informado acerca del Programa 100 Diagnósticos. Tienes derecho a acceder, rectificar, suprimir tus datos y revocar tu consentimiento, así como otros derechos, como se explica en la Política de privacidad, donde podrás recabar más información sobre el tratamiento de tus datos
              </p>
              <p class="font-small-3">
                Al hacer click en el botón “Enviar” prestas tu consentimiento para el tratamiento de tus datos para recibir información del Programa 100 Diagnósticos.
              </p>
            </div>
          </div>
          <div *ngIf="!sending" class="center-elements">
              <div *ngIf="f.valid;then formValid else formError"></div>
              <ng-template #formValid><button class="btn btn-outline-red mr-1" (click)="onSubmit()"> {{'support.Send' | translate }}</button></ng-template>
              <ng-template #formError><button class="btn btn-outline-red mr-1" type="button" (click)="submitInvalidForm()"> {{'support.Send' | translate }}</button></ng-template>
          </div>
          <div class="form-actions" *ngIf="sending">
              <span ><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>

<ng-template #contentGES let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header container row col-md-12" id="idHeader">
      <div class="col-md-8">
        <h4 class="col-md-8 modal-title">Crisis epilépticas generalizadas:</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-3">
          <div class="container col-md-12" >
            <p>Es normal que tengas dudas sobre si las crisis de tu hijo/a son o no generalizadas, dado que existen muchos tipos de crisis.</p>
            <p>Una crisis epiléptica generalizada afecta a todo el cerebro y va acompañada de pérdida del conocimiento. Por tanto, su tu hijo/a pierde el conocimiento durante una crisis es posible que tenga una crisis generalizada.</p>
            <p>Si no te resulta familiar el término generalizadas quizá es porque este tipo de crisis se divide en distintas clases con nombres que quizás te puedan resultar más cercanos, como:</p>
            <ul>
    		        <li>Crisis de ausencia o simplemente ausencias, en las que el niño/a pierde el conocimiento con la mirada fija en un punto.</li>
    		        <li>Crisis mioclónicas, en las que el niño/a sufre sacudidas bruscas y rápida de brazos y/o piernas.</li>
                <li>Crisis atónicas, que producen una relajación de los músculos del cuerpo, pudiendo provocar caídas.</li>
                <li>Crisis tónicas, en las los músculos se tensan y el cuerpo se poner totalmente rígido.</li>
                <li>Crisis tónico-clónicas, que son aquellas en las que, tras una primera fase de rigidez, se producen las sacudidas bruscas, rápidas y repetitivas de brazos y piernas.</li>
    		    </ul>
            <p>Si tienes dudas de si tu hijo/a cumple este requisito, llámanos al teléfono +34 600000000 o escríbenos al correo mi.odisea@foundation29.org y te ayudaremos a identificar el tipo de crisis.</p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 center-elements">
        <div class="form-actions center">
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click');">{{'generics.Close' | translate }}</button>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #contentDevelopmentalDelay let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header container row col-md-12" id="idHeader">
      <div class="col-md-8">
        <h4 class="col-md-8 modal-title">Retraso en el desarrollo:</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-3">
          <div class="container col-md-12" >
            <p>Habrás oído este término si tu hijo/a alcanzo alguna meta del desarrollo mas tarde de lo común. Por ejemplo, si tardo o tarda mas de lo normal en sentarse, en gatear o en fijar la mirada. </p>
            <p>Si tienes dudas de si tu hijo/a cumple este requisito, llámanos al teléfono +34 600000000 o escríbenos al correo mi.odisea@foundation29.org y te ayudaremos a identificar el tipo de crisis.</p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 center-elements">
        <div class="form-actions center">
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click');">{{'generics.Close' | translate }}</button>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #contentConsultationWithPediatric let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header container row col-md-12" id="idHeader">
      <div class="col-md-8">
        <h4 class="col-md-8 modal-title">Retraso en el desarrollo:</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-3">
          <div class="container col-md-12" >
            <p>Los neuropediatras son los profesionales especializados para atender a los niños/as que este programa quiere ayudar a diagnosticar. Es importante para nosotros entender si ya has tenido acceso a alguno de estos médicos. Contaremos con su ayuda durante el proceso tanto para solicitar la prueba genética como para interpretar los resultados. </p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 center-elements">
        <div class="form-actions center">
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click');">{{'generics.Close' | translate }}</button>
        </div>
      </div>
    </div>
</ng-template>
