.input-group{
  z-index: 0;
}

.card .card-block {
    padding: 1.5rem 1.5rem 1.5rem;
}

.mt-5px{
  margin-top: 5px;
}



@media ( min-width: 768px ) {
  .panel-name-registration {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-device-width: 991px){
  .img-gtp{
    width:50%;
  }
}

.column {
  float: left;
  width: 19%;
}

.titlelink{
  width: 80%;
  display: inline-block;
  text-align:left;
}

.downloadLink{
  font-weight: 500;
  width: 145px;
  position: absolute;
}

.icon-download{
  margin-top: 0.25rem !important;
  float: right !important;
}


/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

@media ( min-width: 992px ) {
  .full-height{
    margin-top: 3em;
  }
}

@media (max-width: 900px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 992px){

  .downloadLink{
    float: inherit !important;
    text-align: center;
    position: relative;
    padding: 0px;
  }

  .titlelink{
    display:block;
    width: 100%;
  }

  .icon-download{
    margin-top: 0.25rem !important;
    float: none !important;
  }
}

@media (max-device-width: 420px){
  .img-gtp{
    width:70%;
  }
}



li, dd {
    line-height: inherit;
}
