
<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">
		<div class="m-4 p-2"></div>

		<div class="row">
		    <div class="col-md-12">
		        <div class="section">
		            <h5 class="pt-0 text-bold-400" [innerHTML]="'gtp.title1' | translate"></h5>
                <h1 class="pt-0 text-bold-700">{{'gtp.title2' | translate}}</h1>
		        </div>
		    </div>
		</div>
    <div class="row">
		    <div class="col-md-12">
		        <div class="section">
                <h4 class="pt-0"><b>{{'gtp.title3' | translate}}</b></h4>
		        </div>
		    </div>
		</div>


		<div class="m-1 p-1"></div>

		<div class="section">
		    <h3><b>{{'gtp.section1Title' | translate}}</b></h3>
		    <p>{{'gtp.section1Content1' | translate}}</p>
		    <p>{{'gtp.section1Content2' | translate}}</p>
		</div>

		<div class="section">
		    <h3><b>{{'gtp.section2Title' | translate}}</b></h3>
		    <ul>
		        <li>{{'gtp.section2Content1' | translate}}</li>
		        <li>{{'gtp.section2Content2' | translate}}</li>
		    </ul>
		</div>
    <div class="section">
		    <h3><b>{{'gtp.section4Title' | translate}}</b></h3>
        <p>{{'gtp.section4SubTitle' | translate}}</p>
        <ol>
		        <li>{{'gtp.section4Content1' | translate}}</li>
		        <li>{{'gtp.section4Content2' | translate}}</li>
            <li>{{'gtp.section4Content3' | translate}}</li>
            <li>{{'gtp.section4Content4' | translate}}</li>
            <li>{{'gtp.section4Content5' | translate}}</li>
		    </ol>
        <p>{{'gtp.section4Info' | translate}}</p>
		</div>

		<p>&nbsp;</p>
    <div class="center-xs start-sm pb-4">
      <div class="card-block">
        <h3 class="text-bold-400">{{'gtp.formTitle1' | translate}}</h3>
        <form class="mt-3 form" #f="ngForm">
          <div class="form-body row">
            <div class="col-md-6">
              <h5 class="text-bold-400">{{'gtp.formSubTitle1' | translate}}</h5>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Birth Date' | translate }}</label>
                <div>
                <input class="form-control" type="date" id="birthDate" name="birthDate" ngModel required #birthDate="ngModel" name="birthDate">
                    <small class="form-text text-muted danger" *ngIf="!birthDate.valid && (birthDate.dirty || birthDate.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="gender">{{'personalinfo.Gender' | translate }}</label>
                  <mat-radio-group required
                    aria-labelledby="gender"
                    class="example-radio-group d-block" ngModel required #gender="ngModel" name="gender" id="gender">
                    <mat-radio-button class="example-radio-button" value="male">
                    {{'personalinfo.Male' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="female">
                    {{'personalinfo.Female' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!gender.valid && (gender.dirty || gender.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="GES">{{'gtp.formFieldGES' | translate}}</label>  <a class="danger" (click)="showPanelMoreInfo(contentGES);" href="javascript:void(0)"> <i class="far fa-question-circle fa-fw red"></i></a>
                  <mat-radio-group required
                    aria-labelledby="GES"
                    class="example-radio-group d-block" ngModel required #GES="ngModel" name="GES" id="GES">
                    <mat-radio-button class="example-radio-button" value="yes">
                    {{'generics.Yes' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="no">
                    {{'generics.No' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!GES.valid && (GES.dirty || GES.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <label id="developmentalDelay">{{'gtp.formFieldDevelopmentalDelay' | translate}}</label> <a class="danger" (click)="showPanelMoreInfo(contentDevelopmentalDelay);" href="javascript:void(0)"><i class="far fa-question-circle fa-fw red"></i></a>
                  <mat-radio-group required
                    aria-labelledby="developmentalDelay"
                    class="example-radio-group d-block" ngModel required #developmentalDelay="ngModel" name="developmentalDelay" id="developmentalDelay">
                    <mat-radio-button class="example-radio-button" value="yes">
                    {{'generics.Yes' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button ml-1" value="no">
                    {{'generics.No' | translate }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="form-text text-muted danger" *ngIf="!developmentalDelay.valid && (developmentalDelay.dirty || developmentalDelay.touched)">{{'generics.required' | translate }}</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="text-bold-400">{{'gtp.formSubTitle2' | translate}}</h5>
              <div class="">
                <div class="form-group">
                <label>{{'generics.Name' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="userName" name="userName" ngModel required #userName="ngModel" name="userName">
                  <small class="form-text text-muted danger" *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Last Name' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="lastName" name="lastName" ngModel required #lastName="ngModel" name="lastName">
                  <small class="form-text text-muted danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'personalinfo.Phone' | translate }}</label>
                <div>
                  <input class="form-control" type="text" id="phone" name="phone" ngModel required #phone="ngModel" name="phone">
                  <small class="form-text text-muted danger" *ngIf="!phone.valid && (phone.dirty || phone.touched)">{{'generics.required' | translate }}</small>
                </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                <label>{{'generics.Email' | translate }}</label>
                <div>
                  <input class="form-control" type="email" id="email" name="email" ngModel required #email="ngModel" email name="email">
                  <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
                </div>
                </div>
              </div>

            </div>
          </div>
          <div>
            <mat-checkbox
                class="example-margin" name="terms2" ngModel required #terms2="ngModel" id="terms2">
              <label style="margin-top: 1em;white-space: normal;text-transform: none;letter-spacing: 0px;">
                <span>{{'gtp.textConsent' | translate }}</span>
              </label>
            </mat-checkbox>
            <small class="form-text text-muted danger" *ngIf="!terms2.valid && (terms2.dirty || terms2.touched)">{{'gtp.mandatoryConsent' | translate }}</small>
          </div>
          <div>
            <p class="font-small-3">
              {{'gtp.PrivacyPolicyContent1' | translate}}
            </p>
            <p class="font-small-3">
              {{'gtp.PrivacyPolicyContent2' | translate}}
            </p>
          </div>
          <div *ngIf="!sending" class="center-elements">
              <div *ngIf="f.valid;then formValid else formError"></div>
              <ng-template #formValid><button class="btn btn-outline-red mr-1" (click)="onSubmit()"> {{'support.Send' | translate }}</button></ng-template>
              <ng-template #formError><button class="btn btn-outline-red mr-1" type="button" (click)="submitInvalidForm()"> {{'support.Send' | translate }}</button></ng-template>
          </div>
          <div class="form-actions center-elements" *ngIf="sending">
              <span ><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
          </div>
        </form>
      </div>
    </div>
    <div class="section pb-4">
		    <h3><b>{{'gtp.section3Title' | translate}}</b></h3>
		    <p [innerHTML]="'gtp.section3Content1' | translate"></p>
		    <p>{{'gtp.section3Content2' | translate}}</p>
		</div>
	</div>
</div>

<ng-template #contentGES let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header container row col-12" id="idHeader">
      <div class="col-8">
        <h4 class="modal-title">{{'gtp.formFieldGES' | translate}}:</h4>
      </div>
      <div class="col-4">
        <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="container col-12 row" >
        <p>{{'gtp.templateGESTContent1' | translate}}</p>
        <p>{{'gtp.templateGESTContent2' | translate}}</p>
        <p>{{'gtp.templateGESTContent3' | translate}}</p>
        <ul>
		        <li>{{'gtp.templateGESTContent3.1' | translate}}</li>
		        <li>{{'gtp.templateGESTContent3.2' | translate}}</li>
            <li>{{'gtp.templateGESTContent3.3' | translate}}</li>
            <li>{{'gtp.templateGESTContent3.4' | translate}}</li>
            <li>{{'gtp.templateGESTContent3.5' | translate}}</li>
		    </ul>
        <p>{{'gtp.templateHelp' | translate}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 center-elements">
        <div class="form-actions center">
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click');">{{'generics.Close' | translate }}</button>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #contentDevelopmentalDelay let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header container row col-12" id="idHeader">
      <div class="col-8">
        <h4 class="modal-title">{{'gtp.formFieldDevelopmentalDelay' | translate}}:</h4>
      </div>
      <div class="col-4">
        <button type="button" class="close" aria-label="Close" (click)="c('Close click');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
        <div class="container col-12 row" >
          <p>{{'gtp.templateDevelopmentalDelayContent' | translate}}</p>
          <p>{{'gtp.templateHelp' | translate}}</p>
        </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 center-elements">
        <div class="form-actions center">
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click');">{{'generics.Close' | translate }}</button>
        </div>
      </div>
    </div>
</ng-template>
