<div class="col-md-12 center-elements" *ngIf="sending">
	<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
</div>
<div class="row" [ngClass]="(!loadingPatients && patients.length==0 && listOfArchivedCases.length==0 )?'offset-md-2 col-md-8 col-lg-8':'col-md-12'">
	<div class="content-header">
		<span >{{'diagnosis.Cases' | translate }}</span>
	</div>
	<p class="content-sub-header">

	</p>
</div>
<div class="d-flex offset-md-2 col-md-8 col-lg-8" *ngIf="!loadingPatients && patients.length==0 && listOfArchivedCases.length==0">
	<div class="card box border">
			<div class="card-header pb-0 row">
				<h3 class="ml-2 mr-2 ">{{'about.There are no cases in your profile' | translate }}</h3>
			</div>
			<div class="card-body">
				<p>
					{{'about.These instructions can be found in the' | translate }}
				</p>
			</div>
			<div class="card-footer bt-n">
				<div class="col-md-12 center-elements" *ngIf="!sending">
					<button id="newpatient" class="btn btn-lg btn-outline-primary" type="button" (click)="callNewPatient(contentNewCaseName)">{{'diagnosis.New case' | translate }}</button>
				</div>
			</div>
	</div>
</div>
<mat-accordion>
	<div class="row" *ngIf="!loadingPatients && (patients.length>0 || listOfArchivedCases.length>0)">
		<div class="col-md-12 mt-2" *ngIf="!sending">
			<button id="newpatient" class="btn btn-raised btn-primary" type="button" (click)="callNewPatient(contentNewCaseName)">{{'diagnosis.Help another patient' | translate }}</button>
			<button id="updatepatient" [hidden]="true" (click)="callUpdatePatient(contentNewCaseName)">.</button>
		</div>
	</div>
	<mat-expansion-panel [expanded]="true" *ngIf="!loadingPatients && patients.length>0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{'diagnosis.Cases' | translate }}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="center-elements" *ngIf="loadinglangs">
			<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
		</div>
		<div class="card-body table-responsive" *ngIf="!loadinglangs">
			<ng2-smart-table [settings]="alertsettings" [source]="alertSource" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustom($event, contentChangeCaseName)" (userRowSelect)="handleGridSelected($event)"></ng2-smart-table>
		</div>

	</mat-expansion-panel>
	<mat-expansion-panel *ngIf="!loadingSharedCases && listOfSharedCases.length>0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{'diagnosis.Shared cases' | translate }}
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="center-elements" *ngIf="loadinglangs">
			<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
		</div>
		<div class="card-body table-responsive" *ngIf="!loadinglangs">
			<ng2-smart-table [settings]="alertsettingsCasesShared" [source]="alertSourceCasesShared" (deleteConfirm)="onDeleteSharedCaseConfirm($event)" (custom)="onCustom($event, contentChangeSharedCaseName)" (userRowSelect)="handleGridSelectedShared($event)"></ng2-smart-table>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel *ngIf="!loadingPatients && listOfArchivedCases.length>0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{'diagnosis.Archived cases' | translate }}
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="center-elements" *ngIf="loadinglangs">
			<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
		</div>
		<div class="card-body table-responsive" *ngIf="!loadinglangs">
			<ng2-smart-table [settings]="alertsettingsCasesArchived" [source]="alertSourceCasesArchived" (deleteConfirm)="onDeleteConfirmArchive($event)" (custom)="onCustom($event, contentChangeCaseName)" (userRowSelect)="handleGridSelected($event)"></ng2-smart-table>
		</div>
	</mat-expansion-panel>
</mat-accordion>
<button id="openModalMoreInfoShared" [hidden]="true" (click)="showPanelMoreInfoShared(contentMoreInfoShared)">.</button>
<div class="center-elements" *ngIf="loadingPatients">
	<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
</div>
<ng-template #contentChangeCaseName let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
				<h4 class="modal-title">{{'diagnosis.Case name' | translate }}</h4>
		</div>
		<div class="modal-body">
			<label>{{'diagnosis.Dont enter any identifiable patient information' | translate }}</label>
			<input type="text" class="form-control" name="patientName" [(ngModel)]="changeName.patientName">
		</div>
		<div class="modal-footer">
			<div class="form-actions center" *ngIf="!sending">
					<button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">{{'generics.Close' | translate }}</button>
					<button type="button" class="btn btn-primary btn-raised" (click)="saveChangeCaseName()">{{'generics.Save' | translate }}</button>
			</div>
		</div>
</ng-template>
<ng-template #contentChangeSharedCaseName let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
				<h4 class="modal-title">{{'diagnosis.Case name' | translate }}</h4>
		</div>
		<div class="modal-body">
			<label>{{'diagnosis.Dont enter any identifiable patient information' | translate }}</label>
			<input type="text" class="form-control" name="alias" [(ngModel)]="changeNameShared.alias">
		</div>
		<div class="modal-footer">
			<div class="form-actions center" *ngIf="!sending">
					<button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">{{'generics.Close' | translate }}</button>
					<button type="button" class="btn btn-primary btn-raised" (click)="saveChangeCaseNameShared()">{{'generics.Save' | translate }}</button>
			</div>
		</div>
</ng-template>
<ng-template #contentNewCaseName let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
				<h4 *ngIf="isNewPatient" class="modal-title">{{'professionals.section2.strong1' | translate }}</h4>
				<h4 *ngIf="!isNewPatient" class="modal-title">Completa los datos del paciente</h4>
		</div>
		<form class="mt-3 form" #newPatientform="ngForm">
			<div class="row modal-body form-body">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'diagnosis.Case name' | translate }}*</label>
						<input class="form-control" type="text" id="patientName" name="patientName" ngModel required #patientName="ngModel" name="patientName" [(ngModel)]="patient.patientName">
						<!--<small class="form-text text-muted">{{'diagnosis.Dont enter any identifiable patient information' | translate }}</small>-->
						<small class="form-text text-muted danger" *ngIf="!patientName.valid && (patientName.dirty || patientName.touched)">{{'generics.required' | translate }}</small>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">

						<label>{{'personalinfo.Birth Date' | translate }}*</label>
						<input class="form-control" type="date" id="birthDate" name="birthDate" ngModel required #birthDate="ngModel" name="birthDate" [(ngModel)]="patient.birthDate">
						<small class="form-text text-muted danger" *ngIf="!birthDate.valid && (birthDate.dirty || birthDate.touched)">{{'generics.required' | translate }}</small>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label id="gender">{{'personalinfo.Gender' | translate }}*</label>
						<mat-radio-group required
							aria-labelledby="gender"
							class="example-radio-group d-block" ngModel required #gender="ngModel" name="gender" id="gender" [(ngModel)]="patient.gender">
							<mat-radio-button class="example-radio-button" value="male" (change)="changeSex($event)">
							{{'personalinfo.Male' | translate }}
							</mat-radio-button>
							<mat-radio-button class="example-radio-button ml-2" value="female" (change)="changeSex($event)">
							{{'personalinfo.Female' | translate }}
							</mat-radio-button>
						</mat-radio-group>
						<small class="form-text text-muted danger" *ngIf="!gender.valid && (gender.dirty || gender.touched)">{{'generics.required' | translate }}</small>
					</div>
				</div>
				<div class="col-md-3" *ngIf="patient.gender">
					<div class="form-group">
						<label>Avatar*</label>
						<li *ngIf="patient.gender=='male'" class="nav-item" ngbDropdown display="dynamic" [placement]="placement" style="list-style-type: none; ">
								<a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
										<img class="avatar" src="assets/img/avatar/png/sm/{{patient.avatar}}.png" />
								</a>
								<div ngbDropdownMenu aria-labelledby="dropdownBasic3" [autoClose]="true">
										<a class="dropdown-item py-1" style="display: contents !important;" *ngFor="let avatar2 of avatars_boys" (click)="changeAvatar(avatar2.name)">
												<img class="avatar" src="assets/img/avatar/png/sm/{{avatar2.name}}.png" />
										</a>
								</div>
						</li>
						<li *ngIf="patient.gender=='female'" class="nav-item" ngbDropdown display="dynamic" [placement]="placement" style="list-style-type: none; ">
								<a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
										<img class="avatar" src="assets/img/avatar/png/sm/{{patient.avatar}}.png" />
								</a>
								<div ngbDropdownMenu aria-labelledby="dropdownBasic3" [autoClose]="true">
										<a class="dropdown-item py-1" style="display: contents !important;" *ngFor="let avatar2 of avatars_girls" (click)="changeAvatar(avatar2.name)">
												<img class="avatar" src="assets/img/avatar/png/sm/{{avatar2.name}}.png" />
										</a>
								</div>
						</li>
					</div>
				</div>
				<!--<div class="col-md-12">
						<div class="form-group">
							<label for="country">{{'personalinfo.Country' | translate }}</label>
							<select id="country" name="country" class="form-control"  [(ngModel)]="patient.country" country #country="ngModel">
								<option [value]="null" disabled selected>--Selecciona el país--</option>
								<option *ngFor="let country of countries" [ngValue]="country.code"> {{country.name}}</option>
							</select>
						</div>
				</div>
				<ng-template #rt let-r="result" let-t="term">
					{{ r.name}}
				</ng-template>
				<div class="col-md-12 form-group">
					<label>Diagnóstico de presunción</label>
					<input #input class="input" type="text" class="form-control mb-3" [(ngModel)]="modelTemp" [ngbTypeahead]="searchDisease" name="addSymptomsOption2" [resultTemplate]="rt" [inputFormatter]="formatter1" placeholder="Search by disease name" (selectItem)="selected2($event)"/>
				</div>
				<p *ngIf="!newPatientform.valid" class="col-md-12">{{'generics.fieldsRequired' | translate }}</p>-->
			</div>

			<div class="modal-footer">
				<div *ngIf="!sending" class="center-elements mt-1">
					<button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">{{'generics.Cancel' | translate }}</button>
	          <div *ngIf="newPatientform.valid;then formValid else formError"></div>
	          <ng-template #formValid>
							<button *ngIf="isNewPatient" class="btn btn-primary btn-raised mr-1" (click)="saveNewCase()"> {{'generics.Accept' | translate }}</button>
							<button *ngIf="!isNewPatient" class="btn btn-primary btn-raised mr-1" (click)="updateCase()"> {{'generics.Accept' | translate }}</button>
						</ng-template>
	          <ng-template #formError>
							<button class="btn btn-primary btn-raised mr-1" type="button" (click)="submitInvalidForm()" title="{{'generics.fieldsRequired' | translate }}">
								<span *ngIf="isNewPatient">{{'generics.Accept' | translate }}</span>
								<span *ngIf="!isNewPatient">{{'generics.Accept' | translate }}</span>
							</button>
						</ng-template>

	      </div>
	      <div class="form-actions center-elements" *ngIf="sending">
	          <span ><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
	      </div>

			</div>
		</form>
</ng-template>

<ng-template #contentMoreInfoShared let-c="close" let-d="dismiss" appendTo="body">
		<div class="modal-header" id="idHeader">
				<h4 class="modal-title"><strong>{{moreInfoCaseEvent.patientName}}</strong> <span *ngIf="moreInfoCaseEvent.patientName!=moreInfoCaseEvent.alias" class="d-block font-small-2"> Alias: {{moreInfoCaseEvent.alias}}</span></h4>

		</div>
		<div class="center-elements" *ngIf="!loadedInfoPatient">
			<div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
		</div>
		<div class="modal-body" *ngIf="loadedInfoPatient">
			<!--<h4>{{'generics.Patient data' | translate }}</h4>-->
			<p class="mb-0"><label><strong>{{'personalinfo.Gender' | translate }}:</strong></label> {{moreInfoCaseData.gender}}</p>
			<p class="mb-0"><label><strong>{{'personalinfo.Birth Date' | translate }}:</strong></label> {{moreInfoCaseData.birthDate | date}}</p>
			<!--<h4>{{'generics.Account data' | translate }}</h4>-->
			<p class="mb-0"><label><strong>{{'generics.Email' | translate }}:</strong></label> {{patientEmail}}</p>
			<p class="mb-0"><label><strong>{{'generics.Account name' | translate }}:</strong></label> {{moreInfoCaseEvent.userName}}</p>
		</div>
		<div class="modal-footer">
			<div class="form-actions center">
					<button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">{{'generics.Close' | translate }}</button>
			</div>
		</div>
</ng-template>
