@import "../../../../assets/sass/scss/gradient-variables";

:host /deep/ tbody tr:hover {
background: #B3E2E3;
cursor: pointer;
}

::ng-deep .swal2-modal .swal2-cancel{
  background-color: #6c757d !important;
}

::ng-deep .swal2-modal .swal2-confirm{
  background-color: #009DA0 !important;
}

:host /deep/ .ng2-smart-sort-link{
  color: #009DA0 !important;
}

.modal-footer{
  justify-content: center !important;
}


:host {
  /deep/ {
    .page-link-prev, .page-link-next {
       font-size: 0.875rem !important;
      }
  }
}

::ng-deep .mat-radio-label{
  font-size: 1rem !important;
  text-transform: none !important;
  letter-spacing: 0.3px !important;
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  white-space: pre-wrap;
  font-weight: 300 !important;
  //color: inherit !important;
}
