<a id="initpage"></a>
<div class="container-fluid m-0" style="background-color: #fff;">
  <div class="container module ptbxl" style="margin: auto;">

    <div class="m-4 p-2"></div>

    <div class="row">
    <div class="col-md-6">
    <div class="section">
       <p class="mb-1">{{'nodiagnosis.header.subte' | translate}}</p>
    <h1 class="pt-0">{{'nodiagnosis.header.title' | translate}}</h1>
    <p>{{'nodiagnosis.header.body1' | translate}}</p>
       <div class="mb-4 p-2">
         <a class="btn btn-danger mr-1 btn-lg btn-raised mb-0 btn-navbar" href="https://app.dx29.ai/Identity/Account/Register">{{'nodiagnosis.header.button' | translate}}</a>
           <!--<button type="button" class="btn btn-danger btn-lg btn-raised pb-2" [routerLink]="['/register', { role: 'User', subrole: 'NoDiagnosis' }]">{{'nodiagnosis.header.button' | translate}}</button>-->
       </div>
    </div>
    </div>
    <div class="col-md-6 text-center">
    <img class="img-fluid" src="assets/img/home/Mesa de trabajo 94_Dx29.png" />
    </div>
    </div>


    <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
    <div class="section text-center m-4">
    <h2>{{'nodiagnosis.section1.title' | translate}}</h2>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
    <div class="section">
    <h2 class="text-red">1.</h2>
    <p>{{'nodiagnosis.section1.text1' | translate}}</p>
    </div>
    </div>

    <div class="col-md-4">
    <div class="section">
    <h2 class="text-red">2.</h2>
    <p>{{'nodiagnosis.section1.text2' | translate}}</p>
    </div>
    </div>

    <div class="col-md-4">
    <div class="section">
    <h2 class="text-red">3.</h2>
    <p>{{'nodiagnosis.section1.text3' | translate}}</p>
    </div>
    </div>

    </div>

    <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
    <div class="section text-center m-4">
    <h2>{{'nodiagnosis.section2.title' | translate}}</h2>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
    <div class="section">
    <div class="text-center">
       <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 95_Dx29.png" />
    </div>
    <h2 class="text-red">1.</h2>
    <p>{{'nodiagnosis.section2.text1' | translate}}</p>
    </div>
    </div>

    <div class="col-md-4">
    <div class="section">
    <div class="text-center">
       <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 96_Dx29.png" />
    </div>
    <h2 class="text-red">2.</h2>
    <p>{{'nodiagnosis.section2.text2' | translate}}</p>
    </div>
    </div>

    <div class="col-md-4">
    <div class="section">
    <div class="text-center">
       <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 97_Dx29.png" />
    </div>
    <h2 class="text-red">3.</h2>
    <p>{{'nodiagnosis.section2.text3' | translate}}</p>
    </div>
    </div>

    </div>
    <div class="row">
    <div class="col-md-4">
    <div class="section">
    <div class="text-center">
       <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 98_Dx29.png" />
    </div>
    <h2 class="text-red">4.</h2>
    <p>{{'nodiagnosis.section2.text4' | translate}}</p>
    </div>
    </div>

    <div class="col-md-4">
    <div class="section">
    <div class="text-center">
       <img class="img-fluid" style="height: 120px" src="assets/img/home/Mesa de trabajo 99_Dx29.png" />
    </div>
    <h2 class="text-red">5.</h2>
    <p>{{'nodiagnosis.section2.text5' | translate}}</p>
    </div>
    </div>

    </div>

    <div class="row">
    <div class="col-md-10 offset-md-1 mt-4">
    <div class="section2 text-center mt-4 p-4">
    <h3>{{'nodiagnosis.section3.title' | translate}}</h3>
    </div>
    </div>
    </div>


    <hr />
    <div class="row">
    <div class="col-md-10 offset-md-1">
    <div class="section2 text-center p-4">
    <h3 class="m-0">{{'nodiagnosis.donate.title1' | translate}}</h3>
    <h3 class="m-0">{{'nodiagnosis.donate.title2' | translate}}</h3>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 offset-md-1 mb-4">
    <div class="text-center">
    <img class="img-fluid" src="assets/img/home/Mesa de trabajo 92_Dx29.png" />
    </div>
    </div>
    <div class="col-md-7">
    <div class="donate">
    <p>{{'nodiagnosis.donate.text' | translate}}</p>
    <a class="btn btn-danger btn-lg btn-raised" href="https://www.foundation29.org/donate/" target="_blank">{{'home.donate.strong' | translate}}</a>
    </div>
    </div>
    </div>

    <p>&nbsp;</p>
  </div>
</div>
