.footer-buttons{
  z-index: 1;
  position: relative;
  height: 65px;
  background-color: white;
  text-align: center;
  background-color: #3c3c3c;
  box-shadow: 0 -5px 5px -5px #333;
  //box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.01), 0 12px 15px 12px rgba(0, 0, 0, 0.06);
  //border: 1px solid rgba(89, 111, 129, 0.15)
}

.empty-padding-left{
  padding-left: 0px;
  margin-top: 0px;
  //margin: 0em;
}
