<div class="empty-padding-left">
  <div class="footer-buttons ml-3 mr-3 row">
    <!--<span class="float-left ml-3 mt-3 font-medium-2 font-weight-bold white">
      Tutorial: Paso
      <span *ngIf="actualStep <= '1.0'">1</span>
      <span *ngIf="actualStep > '1.0' && actualStep < '3.0' ">2</span>
      <span *ngIf="(actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2' || actualStep == '3.3')">3</span>
      /3
    </span>-->
    <span class="col-2">
      <button type="button" class="float-left ml-3 mt-2 btn" [disabled]="actualStep == '1.0'" [ngClass]="((actualStep > '1.0' && showIntroWizard) || (actualStep > '1.0' && !showIntroWizard) )?'btn-raised btn-primary':'text-muted inactiveLink btn-raised btn-secondary white'" (click)="goPrevStep2()"><span style="margin-right: 10px;"><i class="ft-chevron-left"></i></span> {{'generics.Previous' | translate }}</button>
    </span>
    <span class="col-8 mt-2 font-medium-2 font-weight-bold white">
      <span>
        <span style="display: table-row">
          <span *ngIf="actualStep <= '1.0'"> <span>1. {{'diagnosis.Symptoms' | translate }}</span></span>
          <span *ngIf="actualStep > '1.0' && actualStep < '3.0' "> <span>2. {{'diagnosis.Genetics' | translate }}</span></span>
          <span *ngIf="(actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2' || actualStep == '3.3')"> <span>3. {{'topnavbar.Analyze' | translate }}</span></span>
          <span *ngIf="(actualStep == '5.0')"> <span>4. {{'topnavbar.Diagnoses' | translate }}</span></span>
          <span *ngIf="(actualStep == '6.0')"> <span>5. {{'topnavbar.Summary' | translate }}</span></span>
        </span>
        <span style="display: table-row" class="font-small-3">
          {{'wizard.Tutorial-Step' | translate }}
          <span *ngIf="actualStep <= '1.0'">1</span>
          <span *ngIf="actualStep > '1.0' && actualStep < '3.0' ">2</span>
          <span *ngIf="(actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2' || actualStep == '3.3')">3</span>
          <span *ngIf="(actualStep == '5.0')"> 4</span>
          <span *ngIf="(actualStep == '6.0')"> 5</span>
          /5
        </span>
      </span>
    </span>
    <span *ngIf="actualStep<'6.0'" class="col-2">
      <button *ngIf="actualStep != '3.1' && actualStep != '3.2' && actualStep != '3.0' && actualStep != '1.0'" type="button" class="mt-2 mr-3 float-right btn" [ngClass]="(actualStep < '3.3' ||  actualStep >= '5.0')?'btn-raised btn-primary':'text-muted inactiveLink btn-raised btn-secondary white'" (click)="goNextStep2()">{{'generics.Next' | translate }} <span style="margin-left: 10px;"><i class="ft-chevron-right"></i></span></button>
      <button *ngIf="actualStep == '3.0'" type="button" class="mt-2 mr-3 float-right btn btn-raised btn-primary" (click)="goNextStep2()">{{'topnavbar.Analyze' | translate }} <span style="margin-left: 10px;"><i class="ft-chevron-right"></i></span></button>
      <button *ngIf="(actualStep != '3.1' && actualStep != '3.2') && actualStep == '1.0'" type="button" class="mt-2 mr-3 float-right btn btn-raised btn-primary" (click)="goNextStep2()">{{'generics.Next' | translate }} <span style="margin-left: 10px;"><i class="ft-chevron-right"></i></span></button>
    </span>

    <!--button *ngIf="actualStep == '3.1' || actualStep == '3.2'" type="button" class="mt-2 ml-3 btn btn-raised btn-primary" (click)="goNextStep2()">Finish y ver resultados <span style="margin-left: 10px;"><i class="ft-chevron-right"></i></span></button>-->
  </div>
  <!--<div class="footer-buttons" *ngIf="maxStep>='5.0' && (actualStep == '3.0' || actualStep == '3.1' || actualStep == '3.2')" >
    <button *ngIf="actualStep == '3.0'" type="button" class="mt-2 ml-3 btn btn-raised btn-primary" (click)="goNextStep2()">{{'topnavbar.Analyze' | translate }} <span style="margin-left: 10px;"><i class="ft-chevron-right"></i></span></button>
  </div>-->
</div>
