<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar">
    <div class="container-fluid">
      <div>
          <!--<button *ngIf="!isGTPPage" type="button" class="mt-2 d-lg-none navbar-toggle float-left" data-toggle="collapse" (click)="toggleSidebar()">
              <span class="sr-only">{{'navbar.Toggle navigation' | translate }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>-->
          <span class="navbar-header-logos">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-Dx29.png' />
            <img *ngIf="!isHomePage" style="cursor:pointer;" class="logo-img" src='assets/img/logo-Dx29.png' routerLink="/."/>
            <span class="text-logo" [ngClass]="(currentLangCode=='es')?'text-es':''">{{'land.for rare diseases' | translate }}</span>
            <!--<img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-Dx29-text.png' />
            <img *ngIf="!isHomePage" style="cursor:pointer;" class="logo-img" src='assets/img/logo-Dx29-text.png' routerLink="/."/>-->
          </span>

      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                  <li class="nav-item mr-2" *ngIf="isGTPPage && !isDonaPage">
                      <button class="btn btn-danger mr-1 btn-raised mb-0 btn-navbar" routerLink="/juntoshaciaeldiagnostico/donar">
                        <span>{{'homedx.Donate' | translate }}</span>
                      </button>
                  </li>
                    <li class="nav-item mr-2" *ngIf="!isGTPPage">
                      <a class="btn btn-danger mr-1 btn-raised mb-0 btn-navbar" href="https://app.dx29.ai/Identity/Account/Register">{{'login.Create User' | translate }}</a>
                        <!--<a class="btn btn-danger mr-1 btn-raised mb-0 btn-navbar" [routerLink]="['/register', { role: role, subrole: subrole }]">
                          <span>{{'login.Create User' | translate }}</span>
                        </a>-->
                    </li>
                    <li class="nav-item mr-2" *ngIf="!isGTPPage">
                      <a class="btn btn-secondary mr-1 btn-raised mb-0 btn-navbar" href="https://app.dx29.ai/Identity/Account/Login">{{'login.Login' | translate }}</a>
                        <!--<button class="btn btn-secondary mr-1 btn-raised mb-0 btn-navbar" routerLink="/login">
                          <span>{{'login.Login' | translate }}</span>
                        </button>-->
                    </li>
                    <li class="nav-item mr-2" ngbDropdown display="dynamic" placement="bottom-right">
                        <a class="position-relative colorlink" id="dropdownLang" ngbDropdownToggle>
                            <u>{{currentLang}}</u>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
                            <a *ngFor="let lang of langs" class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage(lang.code)">
                                <span>{{lang.name}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Navbar (Header) Ends -->
