<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar">
    <div class="container-fluid">
      <div>
        <button type="button" class="mt-2 d-lg-none navbar-toggle float-left" data-toggle="collapse" (click)="toggleSidebar()">
          <span class="sr-only">{{'navbar.Toggle navigation' | translate }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
          <span class="ml-2 navbar-header-logos">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-Dx29.png' (click)="lauchEvent('Logo');"/>
            <img *ngIf="!isHomePage" class="logo-img" src='assets/img/logo-Dx29.png' routerLink="/." (click)="lauchEvent('Logo');" style="cursor: pointer;"/>
            
          </span>

      </div>
      <div class="d-none d-lg-block">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-r-0">
                <li class="nav-item mr-2">
                    <a class="nav-link" [ngClass]="(!isHomePage)?'black':'black text-bold-500'" routerLink="/." (click)="lauchEvent('Role - Home')">
                      <span>{{'menu.Dashboard' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item mr-2">
                  <a class="nav-link" [ngClass]="(!isAboutPage)?'black':'black text-bold-500'" routerLink="/aboutus" (click)="lauchEvent('Role - About us')">
                    <span>{{'menu.About us' | translate }}</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" [ngClass]="(!isUndiagnosedPatientPage)?'black':'black text-bold-500'" routerLink="/undiagnosed" (click)="lauchEvent('Role - Undiagnosed')">
                      <span>{{'menu.UndiagnosedPatients' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" [ngClass]="(!isPatientPage)?'black':'black text-bold-500'" routerLink="/diagnosed" (click)="lauchEvent('Role - Diagnosed')">
                      <span>{{'menu.DiagnosedPatients' | translate }}</span>
                    </a>
                </li>
              </ul>
          </div>
      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                  <li class="nav-item mr-2" *ngIf="isGTPPage && !isDonaPage">
                      <button class="btn btn-primary mr-1 round mb-0 btn-navbar" routerLink="/juntoshaciaeldiagnostico/donar">
                        <span>{{'homedx.Donate' | translate }}</span>
                      </button>
                  </li>
                    <li class="nav-item mr-2 d-none d-sm-inline" ngbDropdown display="dynamic" placement="bottom-right">
                        <a class="position-relative colorlink" id="dropdownLang" ngbDropdownToggle>
                            <u>{{currentLang}}</u>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
                            <a *ngFor="let lang of langs" class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage(lang.code)">
                                <span>{{lang.name}}</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item mr-2" *ngIf="!isGTPPage">
                      <a class="btn btn-info round mb-0 btn-navbar" href="https://app.dx29.ai/Identity/Account/Login">{{'login.Login' | translate }}</a>
                    </li>
                    <li class="nav-item" *ngIf="!isGTPPage">
                      <a class="btn btn-primary round mb-0 btn-navbar" (click)="registerToDx29V2()">{{'login.Create User' | translate }}</a>
                    </li>
                    <li class="nav-item ml-2 d-inline d-sm-none" ngbDropdown display="dynamic" placement="bottom-right">
                      <a class="position-relative colorlink" id="dropdownLang" ngbDropdownToggle>
                          <u>{{currentLang}}</u>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
                          <a *ngFor="let lang of langs" class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage(lang.code)">
                              <span>{{lang.name}}</span>
                          </a>
                      </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar (Header) Ends -->
