<div>
  <section>
    <a id="initpos"></a>
    <div class="modal-header">
      <h4 class="modal-title primary">{{'dataprocessing.title' | translate }}</h4>
    </div>
    <div class="modal-body">
     <div>
       <p>
         {{'dataprocessing.p1-1' | translate }}
       </p>
       <p>
        {{'dataprocessing.p1-2' | translate }}
       </p>
       <p>
         {{'dataprocessing.p1-3' | translate }}
       </p>
       <p>
         {{'dataprocessing.p1-4' | translate }}
       </p>
       <p>
         {{'dataprocessing.p1-5' | translate }}
       </p>
       <p>
         {{'dataprocessing.p1-6' | translate }}
       </p>
       <p>
         {{'dataprocessing.p1-7' | translate }}
       </p>
       <ul>
          <li>
            {{'dataprocessing.p1-7-1' | translate }}
          </li>
          <li>
            {{'dataprocessing.p1-7-2' | translate }}
          </li>
        </ul>
     </div>
     <div>
       <h6 class="primary">{{'dataprocessing.p2-1' | translate }}</h6>
         <ul>
           <li>
             1.- {{'dataprocessing.p2-2' | translate }}
           </li>
           <li>
             2.- {{'dataprocessing.p2-3' | translate }}
           </li>
           <li>
             3.- {{'dataprocessing.p2-4' | translate }}
           </li>
           <li>
             4.- {{'dataprocessing.p2-5' | translate }}
           </li>
           <li>
             5.- {{'dataprocessing.p2-6' | translate }}
              <p>- {{'dataprocessing.p2-6-1' | translate }}</p>
              <p>- {{'dataprocessing.p2-6-2' | translate }}</p>
              <p>- {{'dataprocessing.p2-6-3' | translate }}</p>
           </li>
           <li>
             6.- {{'dataprocessing.p2-7' | translate }}
             <p>{{'dataprocessing.p2-7-1' | translate }}</p>
           </li>
         </ul>
     </div>
     <div>
       <h6 class="primary">{{'dataprocessing.p3' | translate }}</h6>
       <ul>
         <li>
           1.- {{'dataprocessing.p3-1' | translate }}
         </li>
         <li>
           2.- {{'dataprocessing.p3-2' | translate }}
         </li>
         <li>
           3.- {{'dataprocessing.p3-3' | translate }}
         </li>
         <li>
           4.- {{'dataprocessing.p3-4' | translate }}
            <p>- {{'dataprocessing.p3-4-1' | translate }}</p>
            <p>- {{'dataprocessing.p3-4-2' | translate }}</p>
            <p>- {{'dataprocessing.p3-4-3' | translate }}</p>
         </li>
       </ul>
     </div>
     <div>
       <p>{{'dataprocessing.p4-1' | translate }}</p>
       <p>{{'dataprocessing.p4-2' | translate }}</p>
       <p>{{'dataprocessing.p4-3' | translate }}</p>
     </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>
